[2014-07-22 17:55] ghost opened #1 "After running some test. There other cross-thread in the project."
There more cross thread through out the project. I also notice a few other things would be helpful. To change the details of the bat. During the build of the client. If you don't mine I can upload fix with details info added..

[2014-07-30 13:12] #1 closed, assigned to nobody

[2014-11-24 20:51] ghost opened #10 "unable to get xRat to connect through external IP with port forwarding working properly"
I have port forwarding setup through my modem and router to my desktop for the standard remote desktop port 3389.

When xRat is running, the service at http://www.canyouseeme.org/ can successfully see my service on port 3389.

When I create a client for IP/Hostname localhost and run that client on my desktop I get a connection.

When I create a client for my hardcoded external IP address (no DNS l

[2014-11-25 19:16] #10 closed, assigned to nobody

[2014-12-18 07:22] jmcbee opened #11 "Question about screen surveillance"
Hi, I'm not really sure because I have a shitty internet connection. Is the screen surveillance only a screenshot of the screen or it's a live continuous stream?

[2014-12-20 11:00] #11 closed, assigned to nobody

[2014-12-22 17:56] Zaxscdvf opened #12 "screen capture"
i see that you can only get screen shots could you add in screen capture? and great project by the way!

[2015-01-01 23:58] Mrnikbobjeff opened #13 "Browser Stealer"
Hey,

I'm also currently working on a RAT, and your project really helped me with some ideas, so I thought I'd give you something in return. I have Java code which uses a native c# dll to decrypt the chrome passwords and a c++ dll which decrypts firefox passwords. I'd be willing to give them to you or to explain to you how you could write your own decrypter.

Best regards

Mrnikbobjeff

[2015-01-13 06:53] MaxXor commented on #12
Could you maybe explain this more?

[2015-01-13 06:54] #13 closed

[2015-01-13 08:23] phxlol commented on #12
I think he means taking a screenshot of the client's desktop and maybe saving it or something.

[2015-01-13 10:24] madified opened #14 "Remote Shell"
It is indeed a great effort. There's just a little bug. On server end remote shell is displaying 2nd last response instead of latest one.

[2015-01-13 18:59] MaxXor commented on #14
Can you tell me the steps to reproduce this issue? I don't have this on my test machine.

[2015-01-15 09:08] #14 closed

[2015-01-15 09:50] madified commented on #14
No idea how to fix it.. I was working on keylogger.. Finally built a stable and virus clean keylogger for xRAT but after you 2nd last commit xRAT client is unstable. (Right after client execution process stops. Please Check.)

[2015-01-15 10:02] MaxXor commented on #14
Can you please download the latest source again and build it. Check if the problem still occurs and try to step through the source with the debugger to find out where the problem occurs.

[2015-01-15 12:39] madified opened #15 "Client Gone Unstable"
I checked multiple commits, and client-built is totally unstable after commit "Optimized Server Start | e325a78e2313a113270d2374f205b6b5a887ae58". Infact client-built don't even starts on Windows 8.1 Pro and Windows XP sp3.

[2015-01-15 12:48] MaxXor commented on #15
To use the in-built builder please build the solution in RELEASE mode and not DEBUG mode.
Please check this.

[2015-01-15 16:18] madified commented on #15
I know that i'm using release mode in VS 2012 Ultimate.

[2015-01-15 16:19] MaxXor commented on #15
So, you build both projects in release mode and then start the server to build the client, correct?

[2015-01-15 17:55] madified commented on #15
Yea. and i tried all these commits.

Stable
Changed README.md 82839f6c8771adc2e2a935abfba4aed0fbf469d3
Added version to builder as argument 9a329711a7a8c21a5be9cb342aaf8bfb3706d642
Optimized Server Start e325a78e2313a113270d2374f205b6b5a887ae58

Unstable
Refactored namespace    e3ad2f07163750dae0d2af533acf8f9c38d4f320
Refactored class access modifiers   2544f3a230b91fe1499a23f465fcaf2d524614a9
Fix

[2015-01-15 17:59] madified commented on #15
I Built a keylogger+autoUSBspread+Startup+ReportMailing almost a year back. Now simplified it just to keylogging, to add in xRAT but not sure at which point should I create & start Keylogger Thread.

Should I send you the Keylogger Class to add in.?

[2015-01-15 18:14] #15 closed

[2015-01-15 18:21] MaxXor commented on #15
Sorry, corrected the namespaces now. You were right, while I was renaming all namespaces I forgot to change the builder, now it finds the correct namespaces while building the client.

How would you implement your Keylogger Class? :) Just call it somewhere where you think it's good and then create a pull request. Thanks!

[2015-01-15 19:31] madified commented on #15
Worked like a charm .. (y)

[2015-01-15 19:34] madified commented on #15
Except remote shell :(

![screenshot 188](https://cloud.githubusercontent.com/assets/8765809/5764923/668e692a-9d17-11e4-8f5b-87db3cc665fa.png)

[2015-01-15 19:43] madified opened #16 "Remote Shell Messed UP"
Checked almost everything. Uptill now everything works fine except remote shell.
{u may revert back shell to previous state}

PFA screen shot.
![screenshot 188](https://cloud.githubusercontent.com/assets/8765809/5765099/9e6f85d0-9d18-11e4-9cd3-b5f6de279d66.png)

[2015-01-15 21:09] MaxXor commented on #16
Hehe, yes the remote shell is a mess. But this behavior is not normal, it didn't happen on my computer. I'll check it tomorrow and see what I can do. Thanks!

[2015-01-16 07:02] madified opened #17 "Keylogger Added to xRAT"
Please look in it once. Keylogger added in xRAT which works absolutely fine in debug mode but Client-Built from xRAT server is unstable.

Keylogger thread might be locking some threads to start.
https://github.com/madified/xRAT

[2015-01-19 09:55] #16 closed

[2015-02-13 22:31] MaxXor commented on #12
Closed due to inactivity, feel free to open it again later when you are ready.

[2015-02-13 22:31] #12 closed

[2015-03-17 15:22] yankejustin opened #20 "Corrupted File Message"
Issue where, when the client closes unexpectedly - often either shutting down the machine or closing via the server's command - the client cannot open the issue due to a Windows message popping up that states that there are 4 corrupted files in "C:\Users\*MyUserName*\Documents". Screenshot will be posted soon.

[2015-03-17 16:26] MaxXor commented on #20
Can you tell me which options you have used while building your client?

This window with the corrupted files comes from the Admin elevation trick.

[2015-03-17 16:37] yankejustin commented on #20
Options used to build client:
IP/Hostname: My IP
Port:4782
Password: 1234
Reconnect Delay: 5000 ms
Mutex: SjIIz4NsyJLQyHUBhUkGOwN88PRjFvHS
Install Client: FALSE
Enable Admin Elevation: TRUE
Change Icon: FALSE

However, even when I close the open client and rebuild everything, and even if I do NOT have "Enable Admin Elevation" checked when I build a new client and run it, the message will persist.

[2015-03-17 16:40] MaxXor commented on #20
Delete all stuff from the old client first (be sure to kill the process), then rebuild it with Admin Elevation set to `false`. Please read this: https://github.com/MaxXor/xRAT#compiling

[2015-03-17 16:59] yankejustin commented on #20
I dug a bit deeper and realized that I had forgotten to delete a few hanging files. I will see if it works very soon. I will test if it works as it did yesterday on my main machine and I will report the results as soon as I can.

[2015-03-17 17:00] yankejustin commented on #20
As for now, the client is no longer causing Windows to bark at me about corrupted files. :)

[2015-03-17 17:01] MaxXor commented on #20
Alright, good to know it's working for you!

[2015-03-17 17:01] #20 closed

[2015-03-18 22:50] yankejustin opened #26 "Client code obfuscation"
Enhancement Suggestion
Perhaps the client code should be obfuscated before building. It is a shame to plop the client into ILSpy or .NET Reflector and see something very similar to the client's source code!

[2015-03-19 06:05] MaxXor commented on #26
The only obfuscation which is being added to the client is renaming. The client builder does this automatically. I think this obfuscation doesn't matter that much as xRAT is open-source anyways...

[2015-03-19 15:54] yankejustin opened #29 "Remote Desktop Issues"
Already known, but just kept here in case others would like to investigate or propose fixes to these issues with the Remote Desktop feature.

Issues:
1) Sucks down memory on the Client - Yes, the Garbage Collector will eventually collect the unused resources that have gone astray. However, it does so every second (low-blow to the performance train). It could be very negative to the user if the mac

[2015-03-19 16:19] yankejustin commented on #17
Began working on a KeyLogger - I made a branch for this and I will update the progress.

[2015-03-20 21:54] d3agle commented on #29
I worked on this a while ago and believed to had found a long-term fix, however I wanted to get another perspective on how to go about accomplishing this.

I found that calling the Garbage Collector after the send buffer had received the bitmap data would keep the memory usage down greatly.  Perhaps there could be something done in this area?

[2015-03-21 03:47] yankejustin commented on #29
The problem is that the garbage collector is collecting multiple times a second (around 2-3). This is something that should be avoided. Telling the garbage collector to forcibly collect is not what was intended to be done, but is a fix that is viable but very slow. Telling the Garbage Collector to forcibly collect on all generations for each time the send buffer receives the data would be incredib

[2015-03-26 03:09] DavesPlanet opened #31 "Connection issues"
The original connection issue I had with not being able to get through my modem/router appeared to work temporarily but it was a fluke. I can set port forward to work with P2P, and CanYouSeeMe.org can see my connection, but no inbound connections succeed.

I got around this by using the proXPN vpn, a great vpn with free option that works nicely with xRat - as long as the server and client are runn

[2015-03-26 06:50] MaxXor commented on #31
Can you send me an example of a built client? I'll check this.
Build it with your settings. :)

[2015-03-26 15:49] yankejustin commented on #31
What version of the .NET framework are you building with? Are you seeing any exceptions in the 'Output' window?
By the way, Visual Studio's newer versions also have a free Express edition. Perhaps your system is unable to use them, but I just wanted to throw that out there.

[2015-03-27 16:15] yankejustin commented on #29
I am going to be stepping through the code and I will find the solution to one portion of this bug today. That is, I will fix the memory leaking issues. However, what we need is someone that is skilled with algorithms! We need someone that can take a glance at the algorithm and find out what is causing the lossy-compression with differing monitor resolutions...

[2015-03-27 16:18] yankejustin opened #32 "Visit a Website Feature Addition"
I have written a program that very quickly sends packets to a specified destination quite efficiently. I noticed that the "Visit a Website" feature only sends a single requests. Perhaps there could be a few extra options added to the GUI that would allow continuous sending of packets to a destination. I have the code to provide from a project I was messing with and ready to implement, but I was wo

[2015-03-28 07:01] MaxXor commented on #32
Thanks, but I think the "Visit a Website" feature is ok as it is now.

[2015-03-28 07:01] #32 closed

[2015-03-28 07:04] #26 closed

[2015-03-31 06:29] AnguisCaptor commented on #29
I can look into it if you want, made codecs, remote desktops, compression/encryption algorithms etc :)

[2015-03-31 07:17] MaxXor commented on #29
@AnguisCaptor that would be great! I appreciate any solution for this.

[2015-03-31 17:05] MaxXor opened #36 "File Transfer not working for files > 1 MB"

[2015-03-31 20:38] #29 closed

[2015-04-02 23:01] DavesPlanet opened #38 "xRat becomes unresponsive on password mismatch"
If you create a client with a password that does not match the server, the server will become completely unresponsive while that client is trying to connect. Killing the client will restore use of the server app.

[2015-04-03 08:19] #38 closed

[2015-04-04 15:23] #36 closed

[2015-04-04 17:54] MaxXor opened #39 "Upload & Execute not working for files > 1 MB"

[2015-04-06 08:06] #39 closed

[2015-04-08 16:48] #31 closed

[2015-04-09 17:10] yankejustin opened #52 "Server crash when trying to build a Client without Client.bin"
Reproducing:

1) Clean solution
2) Press the start button (just build and run the Server).
3) Try to build a Client (will crash).

Why?:

The top of the 'Build' method (that builds the Client) loads the Client's built .bin file into a variable, but fails to take into account the chance that it is not there or is unusable.

I have marked this as an issue because, while it is something the server ca

[2015-04-09 17:25] MaxXor commented on #52
Thanks!

[2015-04-09 17:25] #52 closed

[2015-04-09 17:40] d3agle opened #53 "Formatting throughout program"
There seems to be alot of classes that have spaces and alot of classes that tabbing.

This causes alot of inconsistencies when trying to push commits.  Could you perform a Format code to all documents?

I believe this can be done by highlighting all the class files throughout the program and hitting Ctrl + K + D

[2015-04-09 17:44] yankejustin commented on #53
I just tend to fix it as I work on different classes. Auto-format tends to screw up sometimes.

[2015-04-09 17:46] yankejustin opened #54 "Save Changes Prompt"
The 'Save Changes?' prompt does not make sure there were actual changes, so they come up even if a change has not been made. The prompt should calculate changes so it is not shown without purpose.

[2015-04-10 19:27] #54 closed

[2015-04-13 02:30] yankejustin opened #55 "Remote Desktop Crashes - Multi-Monitors"
Problem:
In a Multi-Monitor setup, suppose you have two monitors. Open up a Remote Desktop Form and Start, then Stop the Remote Desktop for one of the monitors. Select the other monitor, then attempt to Start Remote Desktop once again. For some reason, this will cause the Client to stop functioning (a window from Windows will pop up stating such, and the Client will crash entirely).

Edit Note 1:

[2015-04-13 02:34] d3agle commented on #55
I noticed this happening as well.  I believe it has to do with resolution.  Is one of your monitors a different resolution than the other?  At 1920x1080 on both of my monitors switching between the two is fine for me, and doesn't crash.  When I change the resolution while the Remote Desktop is running the client crashes

[2015-04-13 03:17] yankejustin commented on #55
I do have monitors with different resolutions. (1920x1080) and (1080x760). Perhaps that means that https://github.com/MaxXor/xRAT/blob/master/Client/Core/Commands/CommandHandler.cs#L226 could have something to do with this issue.

[2015-04-13 03:17] yankejustin commented on #55
Accidentally closed! Sorry!

[2015-04-13 03:49] d3agle commented on #55
https://github.com/MaxXor/xRAT/blob/master/Client/Core/Commands/CommandHandler.cs#L236-L239

The UnsafeStreamCodec class is throwing an exception "Bitmap width/height are not equal to previous bitmap"

Perhaps a try/catch/finally scenario could be of use?  I'm not too sure how to handle it properly

[2015-04-13 07:17] MaxXor commented on #55
Can you check if the fix from this branch is working for you?
https://github.com/MaxXor/xRAT/tree/remote-desktop-fix

[2015-04-13 07:24] d3agle commented on #55
No it does not.

https://github.com/MaxXor/xRAT/blob/master/Client/Core/Commands/CommandHandler.cs#L236-L239

The CodeImage method throws an exception.  I think adding a try/catch around this method call and setting the StreamCodec to null in the catch block, then sending a packet with a flag to tell the server to reset the stream and create a new Codec class might do the trick.

[2015-04-13 07:33] MaxXor commented on #55
I just changed the monitor resolution of my second monitor to 1080x760 and no exception occured. I followed the steps from [yankejustin](https://github.com/MaxXor/xRAT/issues/55#issue-67989812) to reproduce this issue.

[2015-04-13 07:38] d3agle commented on #55
My apologies, this DID fix the issue when switching between monitors with two different resolutions.

The issue I was having was changing my resolution on the other monitor while the Remote Desktop was running, which was causing the Codec class to throw the exception.

[2015-04-13 07:41] MaxXor commented on #55
Alright! :) Do you think the client should also handle the situation when someone changes the resolution?

[2015-04-13 07:44] d3agle commented on #55
I think it should since its possible and bound to happen.  Just another little thing to fix to have a bug-free application xD

[2015-04-13 07:46] MaxXor commented on #55
Yes, hehe. :D

[2015-04-13 08:26] #55 closed

[2015-04-13 12:54] yankejustin opened #60 "Location of JpgCompression.cs"
Suggestion:
The 'JpgCompression' class is located under (Server/Client)/Core/Misc/JpgCompression.cs
Perhaps the class should be moved with (Server/Client)/Core/Compression/   with SafeQuickLZ.cs

[2015-04-14 18:43] #60 closed

[2015-04-21 09:35] #17 closed

[2015-04-21 09:44] MaxXor commented on #53
Hey,
I'll try to fix it and replace the tabs with 4 spaces.

Sorry for the late response.

[2015-04-21 13:16] d3agle commented on #53
Thanks!

[2015-04-21 18:29] #53 closed

[2015-04-22 12:49] yankejustin opened #66 "Possible Cross-Thread"
Fix soon
https://github.com/MaxXor/xRAT/blame/6228b5fc8f0e10bda7de361fc0e0c6300a9e185c/Server/Forms/FrmMain.cs#L506

[2015-04-22 12:51] yankejustin commented on #66
Oops, meant to make this issue in my fork... Aw well. Worth taking a look into!   :)

[2015-04-22 12:52] MaxXor commented on #66
No problem, I'll fix this right now.

[2015-04-22 13:45] #66 closed

[2015-04-25 16:38] d3agle opened #68 "Installation bug"
Installing the client to %appdata% without a subdirectory causes this:

![](http://puu.sh/hqoHu/7d15e492cd.png)

[2015-04-25 16:40] d3agle commented on #68
Should also note, Installing the client with a specified sub-directory works.

[2015-04-25 16:50] #68 closed

[2015-04-25 16:50] MaxXor commented on #68
Thanks, fixed! :)

[2015-04-27 12:47] yankejustin opened #69 "Small typo for a variable name"
Typo with "_canceledDownloads"
https://github.com/MaxXor/xRAT/blob/master/Client/Core/Commands/CommandHandler.cs#L33

[2015-04-28 05:30] #69 closed

[2015-05-03 06:49] vigneshkarthisan opened #71 "Feature Request: Reverse Connection for servers behind a Router or a Firewall"
Could anyone please add Reverse Connection functionality. xRAT is the best Remote Access Tool I have ever seen. Reverse Connection is useful when a server is unreachable if it is behind a router without UPnP and port forwarding is impossible. Servers can be deployed without port forwarding the routers if Reverse Connection is enabled. Reverse Connection as a separate feature (or as a opt-in featur

[2015-05-03 19:16] Abdullah2993 opened #72 "Update Release For Master"

[2015-05-04 12:13] yankejustin commented on #72
What is this for?

[2015-05-04 12:14] yankejustin commented on #71
I like this idea! :)

[2015-05-04 14:09] MaxXor commented on #72
I'll release an update when we have finished testing the Keylogger.

[2015-05-04 22:43] Krytox opened #75 "File Manager issue"
Apparently, the files with the size over 2mb cannot be downloaded the window just closes and client reconnects.

[2015-05-05 01:57] yankejustin commented on #75
The issue is not always capped at 2mb. After messing with this issue a bit, I believe the largest file I have been able to successfully download was ~8.5mb.

[2015-05-05 02:06] yankejustin commented on #75
Also, for those interested in helping us fix this issue, there is an "InvalidOperationException" being thrown somewhere. That is the likely cause of the inability to download medium-large files...

[2015-05-05 07:19] #75 closed

[2015-05-05 07:31] MaxXor commented on #75
The client/server can transfer max. 2MB at once. Each file was split into parts of 2MB - 5 Bytes, this is too little. After encrypting the the part of the file, it can be over 2MB (happens for already compressed files like mp3 or zip/rar-archives). This will make the client loose the connection and then reconnect, the server receives an invalid packet.

[2015-05-05 12:30] yankejustin opened #79 "Suggested key for Keylogger"
Perhaps we should add the 'Control' key to the Keylogger. Looking back at logs I have generated on myself, it is just a bit strange to see things like:
zzzzzzzzzzzzyyyyyyzzzzzzzzzzzzz

[2015-05-05 13:03] d3agle commented on #79
I agree. Also, perhaps it would viable to include the Windows key as well?  For example, opening a run dialog [Win] + R would look clean in the logs, as well as the Control key [Ctrl] + S.

[2015-05-05 13:23] MaxXor commented on #79
Great idea, anyone wants to add this? :)

[2015-05-05 14:24] d3agle commented on #79
I'll add it.  I'll push a commit when i've made the changes, but I'd like to fix another issue as well so I will add them around the same time.

[2015-05-05 14:30] DragonzMaster opened #80 "keylogger"
why you have removed F1:F12 Keys
is there any solution to get them handled ?

[2015-05-05 14:54] d3agle commented on #80
The reason they were removed is because each key that we want to log should have some sort of character(s) to show for it in the logs.  The f1-f11 keys weren't printing anything to the log and the way the active window title headers are written, it would leave blank characters to follow and it takes up unnecessary space

[2015-05-05 15:11] ShittyAdvice commented on #79
@d3agle Hey while you're at it something I noticed:
Some special keys that print / show after pressing another key like:  `^ " '`  don't properly work when having the RAT running. Since you're working on the keylogger right now maybe you could look into that as well

[2015-05-05 15:12] d3agle commented on #79
@ShittyAdvice, could you give me an example of what is happening?  I'm having a hard time understanding how you mean

[2015-05-05 15:15] vigneshkarthisan opened #81 "Persistence : Preventing users from terminating xRat process."
Just came across some website with this snippet of code. Actually it was in C++. I made use of this with PInvoke.

Calling ```ProtectProcess()``` makes the process critical. A critical process cannot be terminated. When a user with admin rights terminates it, it either shows an alert "Access Denied" or else the system crashes causing a BSOD(Blue Screen of Death).

Not sure whether this code will w

[2015-05-05 15:22] DragonzMaster commented on #80
thnx for your time
i think that can be possible by changing the value to Key type then you can handle it (using If or Select Case ) and log it as [F1] etc

[2015-05-05 16:11] yankejustin commented on #81
How does this react to the client crashing? Perhaps we should add this after fixing some of the issues that may still crash the client.   :)

[2015-05-05 16:13] vigneshkarthisan commented on #81
Yep. What about creating a new branch and try this out ?

[2015-05-05 16:32] yankejustin commented on #81
I am up for it. I need to get on my main computer which I can't do until later tonight. After a meeting at work, I certainly would be up to booting up a VM and seeing how stable the client is.
<u>As I just wanted to mention again (mainly for others that may try it):</u> <b>Because the client still likely has issues that cause the client to crash, this could also make these unfortunate client crash

[2015-05-05 16:36] vigneshkarthisan commented on #81
Which time zone do you live in?

[2015-05-05 16:39] yankejustin commented on #81
I live in the U.S. (EDT)

[2015-05-05 17:01] DragonzMaster commented on #79
i have just tried the keylogger
and seems to do its work as it should to be

[2015-05-05 17:23] ShittyAdvice commented on #79
@d3agle
Might be just a problem at my side but the keys like `^ " '` don't work.
Also sometimes a big lag in typing. But I suppose that is when it's sending the data or something

[2015-05-05 17:39] yankejustin commented on #79
What type of keyboard are you using? What version of Windows?

[2015-05-05 17:42] ShittyAdvice commented on #79
@yankejustin
Windows 8.1 Pro
Mechanical Keyboard with INTL

[2015-05-05 20:40] #79 closed

[2015-05-05 20:40] #80 closed

[2015-05-06 09:59] vigneshkarthisan opened #84 "File Manager Form Enhancement"
A button or a right click feature in File Manager opening a RemoteShell window cd-ing to the present directory in the File Manager window same as the Open in command prompt in File Explorer of windows will be useful. This may be one step forward to a complete File Manager.

Features to Eject a Removable Drive, changing attributes of files would be awesome

[2015-05-06 11:07] d3agle commented on #84
Awesome idea!

[2015-05-06 12:20] yankejustin opened #85 "Keylogger Form Enhancement"
Enchancement Suggestion:
1) Navigation to the actual file can be a bit difficult because it is necessary to open up a File Manager Form. There should be a more natural way to actually get to the file in the Keylogger Form. Perhaps add a small menu could be shown by right-clicking on an entry in the Keylogger Form.
2) The Keylogger Form does not update when receiving an updated log file, which is a

[2015-05-06 12:26] yankejustin commented on #84
Agreed. With the shiny new features, better navigation and integration of the features is now more necessary.

[2015-05-06 12:34] vigneshkarthisan commented on #84
Formatting a drive (directly from the File Manager instead of using the  ```format``` command from Remote Shell) is also missing.

[2015-05-06 12:37] vigneshkarthisan commented on #72
The release for master branch has been updated. This issue can be closed now.

[2015-05-06 12:38] yankejustin commented on #84
I'd just like to suggest that we should leave it like that. If someone that knows less about using this program sees that option and doesn't truly understand it, the potential for a costly and frustrating accident would be high.
On the other hand, maybe it would probably be a good feature as a menu item. Under an "Advanced" tab or something to that effect.

[2015-05-06 12:44] vigneshkarthisan opened #86 "AppVeyor CI Integration: For automated builds and releases."
@MaxXor  could you please add AppVeyor integration to this repo so that people could download the latest binaries directly from GitHub without compiling in their machines. Plus, we can check  whether the code compiles without any errors. Adding deployment to GitHub releases. That's it. I have already tried AppVeyor with the copy of your repo.

AppVeyor integrates with GitHub seamlessly and automat

[2015-05-06 12:47] MaxXor commented on #81
We need to be sure the client is really stable before we add this.

[2015-05-06 12:49] vigneshkarthisan commented on #81
Just make sure that this issue is not closed until we implement the feature in a separate branch.

[2015-05-06 12:54] yankejustin commented on #81
How does this react to lower permissions? Can a client with "Normal" privileges do this?

[2015-05-06 12:56] vigneshkarthisan commented on #84
It would be better if it asks confirmation before executing dangerous tasks like formatting, similar to how GitHub asks to type the name of the repo before deleting it.

[2015-05-06 13:01] vigneshkarthisan commented on #81
I think it won't. But we can develop app logic to activate Persistence after the first attempt by the user to terminate the process. We can gain Admin rights one time(using the trick already implemented) and install xRAT client as a windows service so as to make sure that every time the PC boots, xRAT will be started with Admin privileges.

[2015-05-06 13:03] yankejustin commented on #71
By the way:
1) What would be the suggested way to obtain the users' ip?
2) How many of xRAT's features would not be possible in a reversed connection?

[2015-05-06 13:13] vigneshkarthisan commented on #86
@MaxXor

I have sent my AppVeyor.yml file to facilitate easier implementation

[code]

[2015-05-06 13:18] yankejustin opened #87 "File Manager Form "File not found.""
When attempting to download a file that is in the root directory, it will not work. The status message in the downloads tab states that it was not found.
1) Find why it isn't working and fix the bug (of course).
2) Modify the catch clause - where it is "catch (IOException)" - and don't let it set all issues caused by IOExceptions write the status as "File Not Found." because there are other IOExce

[2015-05-06 13:19] vigneshkarthisan commented on #71
Perhaps making the client to send the current IP address as a text log in a FTP server or something like that.

[2015-05-06 13:22] MaxXor commented on #87
I tried putting xrat.exe to C:\ and downloaded it with the File Manager.

Did your file exist?

[2015-05-06 13:25] vigneshkarthisan commented on #87
modify the catch clause into ```catch(FileNotFoundException)```

[2015-05-06 13:30] vigneshkarthisan commented on #84
Thanks for implementing.

[2015-05-06 13:46] #86 closed

[2015-05-06 13:52] vigneshkarthisan commented on #86
Thanks a lot!

[2015-05-06 13:53] MaxXor commented on #86
No problem, was a good idea. :)

[2015-05-06 13:57] vigneshkarthisan commented on #86
One thing I haven't tried yet is Analytics for GitHub.
[BitDeli](https://bitdeli.com/)

[2015-05-06 13:59] MaxXor commented on #86
Github has their own traffic analytics. :) I can see it.

[2015-05-06 14:00] #72 closed

[2015-05-06 15:43] vigneshkarthisan opened #88 "Block a website by manipulating the HOSTS file in Client [feature-request]"
I think this would be a rarely used feature however, one can frustrate a user(client) by blocking access to a website by adding values in the HOSTS file in ```C:\Windows\System32\drivers\etc```.

I am sure you all know how to do this but for newcomers;
For example - to block www.facebook.com,

[code]

It would be awesome to add a separate form to block websites. This feature would provide a baseme

[2015-05-06 15:52] yankejustin commented on #87
Hmmm... It seems that I didn't have the permission to read the file contents.

[2015-05-06 15:55] MaxXor commented on #87
Can you confirm it's working with Administrator rights?

[2015-05-06 15:56] MaxXor commented on #88
Yes, it's maybe useful. However you'll need Administrator rights to do this.

[2015-05-06 16:19] vigneshkarthisan commented on #88
Yeah. Trying to trick the user to get admin rights and then running xRAT as a windows service would be a viable option. Since this feature is easy to implement(just add logic to write to a file), we can add a ```try{} catch{}``` and if the client does not have admin rights, then sending a packet denoting that admin rights is not available is possible

[2015-05-06 16:54] vigneshkarthisan opened #89 "Automatic Download Manager"
A Download Manager(simple) would be useful in a scenario where one wants to exploit a friend's internet and download whatever he wants. He goes to the victim's home and copies everything that xRAT download manager has downloaded.

This may be used to download files from URLs mentioned in a txt file. The server can send commands to add new downloads or manage them.

We can use projects for download

[2015-05-06 17:25] DragonzMaster opened #90 "Open Containing Folder Addition to Transfers + Colorizing Window Title and adding time to keylogger"
*- I think it would be a good idea to add "Open Containing Folder" to files in transfers list or make it like "Total Commander" with 2 separate file windows
*- adding Common DIRs like appdata- startup to quickly reach them (suggest to add them combobox)
*- another addition would make the Key log looks great (colorizing the window title and add the time at the end)

[2015-05-06 17:37] MaxXor commented on #89
No, sorry.

[2015-05-06 17:37] #89 closed

[2015-05-06 18:13] DragonzMaster opened #91 "keylogger stops logging after some time"
i setup a client and tested it
the keylogger was working great but unfortunately it suddenly stopped working after 30 min aprox. and just log the windows title and blank line under it
![xrat](https://cloud.githubusercontent.com/assets/12255107/7500143/47ad9d66-f42c-11e4-89bd-fb63b42b6f64.png)

this is an attachment shows the problem

[2015-05-06 20:09] yankejustin commented on #91
Did your keyboard disconnect? My first thought would be that the Keylogger was attempting to get the state of a keyboard that was invalid.
Was the client built with any non-default or unusual settings?

[2015-05-06 20:52] DragonzMaster commented on #91
no it's laptop's keyboard so it can't be diconnected
and its setting was the default which came with it i have just changed the host to "127.0.0.1"
and  the keylogger didn't work again until i have reopen it

[2015-05-06 21:07] yankejustin commented on #91
Run the client in debug mode and please tell me if an exception is raised in the output window.

[2015-05-06 22:16] DragonzMaster commented on #91
i tried debug mode but it seems that the client don't connect to the server correctly :/

[2015-05-06 23:15] yankejustin commented on #91
If I leave the keylogger on for 30 minutes, would I experience the same troubles?

[2015-05-07 00:16] DragonzMaster commented on #91
i don't know but that which happened with me and the Pic above shows what happened

[2015-05-07 00:41] d3agle commented on #91
Are you using the latest solution?  Do you use alt + tab to switch between applications?

[2015-05-07 01:19] vigneshkarthisan commented on #91
Do you have an external monitor setup?. MSDN says ```GetAsyncKeyState()``` method won't work if current desktop is not the primary desktop.

[2015-05-07 01:29] DragonzMaster commented on #91
yes i am using the latest solution and using ALT+Tab to switch
and i am working on only 1 monitor

[2015-05-07 01:38] d3agle commented on #91
It looks like theres a problem writing the file somewhere

[2015-05-07 01:40] vigneshkarthisan commented on #91
There wouldn't be a problem writing to file, because the window titles are logged.

[2015-05-07 01:44] d3agle commented on #91
There might be, not because of that, but when I ran a client, it never even created a new file after had running it for a few minutes

[2015-05-07 01:58] d3agle commented on #91
@DragonzMaster, are you able to recreate this problem again after it had first happened?

[2015-05-07 02:02] vigneshkarthisan commented on #91
Was the problem solved?

[2015-05-07 02:31] yankejustin commented on #91
Certainly not the external monitor. I have multiple monitors and have had no issues with this. I hooked up my laptop to another monitor (Windows 7) and it had no issues like this. Unfortunately I don't have free time now to leave it logging keys for at least 30 minutes. Maybe tomorrow!

[2015-05-07 02:32] yankejustin commented on #91
As @d3agle asked, I am curious if this showed again or if it was a one-time issue...

[2015-05-07 03:29] d3agle commented on #91
Ok, so, this problem has happened with me as well.  Ran the client on my host and let it run while I played some games etc..  I can't pinpoint exactly how long it took for the logs to stop working, but eventually it stopped logging the keys and kept logging the Window titles.  I'm going to implement your suggestion @yankejustin with the time of the logs in the window title header, from when its fi

[2015-05-07 05:23] d3agle commented on #91
Here is what is happening, if someone wants to fix

http://puu.sh/hEoaF/b58c574bb9.png

[2015-05-07 05:24] d3agle commented on #91
Here is what is happening, if someone wants to fix

http://puu.sh/hEoaF/b58c574bb9.png

Object null reference, k is null

[2015-05-07 09:34] MaxXor commented on #91
Can you confirm it's fixed with the latest commit?

[2015-05-07 09:39] d3agle commented on #91
I left it running for ~2 hours and no problems

[2015-05-07 09:40] d3agle commented on #91
Prior to the null check, it would null out around 30 minutes into the client being ran.  It happened twice, around the same time, not sure why it was.

[2015-05-07 09:41] d3agle commented on #91
Now to think of it though, it was probably a dead-key.  The FromKeys method will return a null instead of a character, so that was probably why

[2015-05-07 10:31] DragonzMaster commented on #91
sorry guys i was sleeping as i see there is someone else faced this problem
and unfortunately when i run the debug release the client don't connect to the server (commit 311)
so i can't know if there is any exception thrown

[2015-05-07 10:33] d3agle commented on #91
The problem is fixed now

[2015-05-07 10:42] vigneshkarthisan commented on #84
Enhancements

- [x] Open in Remote Shell
- [ ] Eject a Drive
- [ ] Change File / Folder attributes

Optional

- [ ] Format a drive

[2015-05-07 11:01] OpenSourceCS opened #94 "DDoS support?"
Add DDoS support with forms to add new IPs or websites.

[2015-05-07 11:09] OpenSourceCS opened #95 "Keylogger Escape key"
Add Escape key since many use Ctrl + Escape key to open start screen (or menu), Task Manager in windows by using Ctrl+Shift+Esc command. So somebody add [ESC] key.

[2015-05-07 11:11] OpenSourceCS opened #96 "Block mouse and keyboard input in client"
Add code to block mouse and keyboard input in client side code just to harrass victim.

[2015-05-07 11:13] OpenSourceCS commented on #90
Superb idea!. Y don't somebody implement it?

[2015-05-07 11:33] DragonzMaster opened #97 "Compression Algorithm ??"
Is QuickLZ really the best choice as compression algorithm ??
as there is TWO more algorithms do a good job with compression
after i searched for sometime i found that there is Snappy (fastest between them) Algorithm and LZ4 (latest is very fast)
both of them do a great job and they faster (a bit) than QiuckLZ
you can find a comparison between them here :
http://encode.ru/threads/1266-In-memory-be

[2015-05-07 11:35] DragonzMaster commented on #91
i have downloaded the latest release and testing it

[2015-05-07 11:44] DragonzMaster opened #98 "[CTRL+Shift+any letter] keylogging"
when trying to press ctrl+z (as an example) it is logged correctly
but when trying to press [CTRL+Shift+any letter] it don't log shift key but instead of that it capitalize the letter example : when i press [CTRL+Shift+z] it is logged [CTRL-Z]
and the same issue when i press [ALT+Shift+z] is logged [ALT-Z] - with the letter capitalized

[2015-05-07 11:45] OpenSourceCS commented on #97
Yes you are right. LZ4 is pretty good yet there is not yet a pure c# algorithm. there are only bindings.

Please see #96 #95 #94 #90 #85

[2015-05-07 11:49] OpenSourceCS commented on #98
yes please implement this as well as some other keylogger improvements such as #95(Keylogger escape key).

[2015-05-07 11:57] DragonzMaster commented on #97
as for LZ4 i found a library for .net projects
http://lz4net.codeplex.com/
@OpenSourceCS

[2015-05-07 12:04] OpenSourceCS commented on #97
It is a binding project. It requires VC++ 2010 Redist. Moreover the native dll(whatever) of LZ4 (which is written in C) cannot be binded with Client.exe.

[2015-05-07 12:06] OpenSourceCS commented on #97
QuickLZ implemented in xRAT is just a single file written in pure c#. It makes things simple.

[2015-05-07 12:21] yankejustin commented on #98
Please try my fix and see if it resolves your problem.

[2015-05-07 12:23] yankejustin commented on #97
Hmmm... I can port an algorithm if it is much better than what we currently use. Please know that the article mentioned is 4 years old. If possible, please show me a more recent bench mark and I will certainly convert it to C#.   :)

[2015-05-07 12:29] yankejustin commented on #95
Please test my code to see if it functions as intended.

[2015-05-07 12:31] yankejustin commented on #94
Similar question already answered by @MaxXor
https://github.com/MaxXor/xRAT/issues/32
So I doubt this is desired.

[2015-05-07 12:32] OpenSourceCS commented on #98
I have added a note in ur fix @yankejustin .Please check  #96 #95 #94 #90 #85

[2015-05-07 12:33] OpenSourceCS commented on #32
Add DDoS support

[2015-05-07 12:33] yankejustin commented on #98
Please don't reference issues opened too much. It makes it confusing for me to resolve them (as I check to make sure nobody else is also working on it). I am trying to resolve them all. ;)

[2015-05-07 12:35] yankejustin commented on #90
@OpenSourceCS The Keylogger is so new so it is somewhat basic of an interface. I am going to touch up on the interface and documentation tonight, but for now I am going to fix a multitude of issues and such. It is important to get things functional and bug-free before making it more usable.
I do agree, I like these ideas.

[2015-05-07 12:36] yankejustin commented on #94
I already have almost all of the code, but it is entirely the choice of the owner of this project.

[2015-05-07 12:37] yankejustin commented on #91
Seems good. Unless otherwise stated by @DragonzMaster if a problem is seen again, this can probably be closed.

[2015-05-07 12:42] yankejustin commented on #85
These have been referenced in more extensive lists of suggested improvements for the Keylogger Form, so I am just going to close this issue.

[2015-05-07 12:42] #85 closed

[2015-05-07 12:44] yankejustin commented on #87
I need to research this a bit more. For now, I will close this because it seems to be functioning. There are so many things that could have caused the IOException, so I will open this once more if I find something unusual that was the fault of xRAT.

[2015-05-07 12:44] #87 closed

[2015-05-07 12:46] yankejustin commented on #98
If someone could give me the OK for my changes, I will send the pull request in. Unfortunately can't check at this moment. :100:

[2015-05-07 12:47] d3agle commented on #98
I'll check in a few minutes, nice code btw :)

[2015-05-07 12:50] DragonzMaster commented on #97
as for snappy it hasn't changed a lot and you can see here
https://github.com/google/snappy/commit/eeead8dc38ea359f027fb6e89f345448e8e9d723
i might help you :)
-------
and i am trying to find newer benchmark for LZ4

[2015-05-07 12:51] yankejustin commented on #96
If @MaxXor wants this functionality:
Good reference: https://msdn.microsoft.com/en-us/library/windows/desktop/ms644990%28v=vs.85%29.aspx

[2015-05-07 12:51] yankejustin commented on #98
Thank you very much. :)

[2015-05-07 12:51] OpenSourceCS opened #99 "KeyLogger arrow keys"
Some people type their passwords one character back and forth. so implementing arrow keys might be useful.

VK_ codes are 37, 38, 39,40
Print Screen is 44.

[2015-05-07 12:57] DragonzMaster commented on #97
GOOD News
Snappy (the extremely fast algorithm) is available in c# .net (4 years ago)
so you don't need to convert it ... here is the project
https://github.com/Kintaro/SnappySharp

[2015-05-07 12:59] OpenSourceCS commented on #97
need to benchmark snappy and quickLZ before implementing

[2015-05-07 13:09] DragonzMaster commented on #91
no no i haven't seen the problem again since using the latest commit until now
good work guys :+1:

[2015-05-07 13:20] yankejustin commented on #98
I am devising a better way to fix this, but I will implement it later tonight after thinking it over more.

[2015-05-07 13:23] OpenSourceCS commented on #98
would be nice if we add arrow keys.

Some people type their passwords one character back and forth. so implementing arrow keys might be useful.

VK_ codes are 37, 38, 39,40
Print Screen is 44.

[2015-05-07 13:28] OpenSourceCS commented on #98
I think pressing shift and any letter(say l) for captializing it would result in [Shift + L].

[2015-05-07 13:38] yankejustin commented on #99
@MaxXor If possible, please assign this to me.

[2015-05-07 13:38] yankejustin commented on #98
@MaxXor If possible, please assign this to me.

[2015-05-07 13:38] yankejustin commented on #95
@MaxXor If possible, please assign this to me.

[2015-05-07 13:39] DragonzMaster commented on #97
i found more benchmarks i hope you find it useful
i want to mention that they are in different Implementation (java)
but it shows the difference between them and there performance
LZ4 shows to be the fastest :+1:

reference :
http://java-performance.info/performance-general-compression/
https://sites.google.com/site/powturbo/home/benchmark
https://code.google.com/p/lz4/
http://catchchallenger.firs

[2015-05-07 13:46] DragonzMaster commented on #98
the problem shoud be solved by checking if the ctrl or alt pressed + shift so the shift key should be logged else (shift + any letter) shoud capitalize the letter only and don't log shift key

[2015-05-07 14:46] OpenSourceCS commented on #97
does anyone find lags in network transmission?. I think QuickLZ is sufficient for now. But after implementing other features, we can come back to this. @MaxXor please start assigning people for specific issues. Thanks!

[2015-05-07 15:20] OpenSourceCS opened #100 "Implement separate features needing admin rights."
While I looked back all the feature requests, i thought some of these feature requests need admin rights. What about Implementing all these features, making a try catch and if the feature requests for admin rights and if the client denies, send a packet to server saying that the command failed.
Especially the issue #81 is superb.

#88 is dormant.
I beg you all to read all my issues and feature req

[2015-05-07 15:27] OpenSourceCS opened #101 "Mouse distractor"
add a feature to keep the mouse moving continuously to random locations or place it at a specified position for a long time.
This is possible using Mouse Hook which is really simple

[2015-05-07 15:31] DragonzMaster commented on #101
there are more important stuff to  do insteed of playing
if all these important things have been done so you can think in trolling and fun stuff

[2015-05-07 15:34] DragonzMaster commented on #100
this is not an issue as you can simply look at Account Type and see if it is "Admin" so you can do these stuff if it is other"User" so you can't
it is easy and don't need all what you demand

[2015-05-07 15:36] OpenSourceCS commented on #100
I just asked about implementing features involving admin rights

[2015-05-07 15:39] OpenSourceCS opened #102 "xRAT client deployer"
We can make an app only having app logic to download the main xRAT Client.exe ( say from an ftp server) so that the deployer application will not be flagged as virus. Moreover, this can be used as an updater and also a persistence which checks if the client.exe runs and if that client.exe is not running, it will start it again.

[2015-05-07 15:41] OpenSourceCS commented on #101
I can't make out what u mean. Please be elaborate

[2015-05-07 15:48] yankejustin commented on #97
I have no issues with network transmission. ProtoBuf is actually very fast and efficient.

[2015-05-07 15:51] yankejustin commented on #101
I'd like to just ask to not reference unrelated issues because it makes it hard for many of us to resolve this issues when they are referenced in random areas. :(
I have to agree with @DragonzMaster . This Remote Administration Tool should certainly be for remote administration. Personally, I have very low interest in creating an application that is solely to cause frustration to someone else...

[2015-05-07 15:54] yankejustin commented on #100
The command would fail anyway if the user was not an administrator (and it needed to be). The command <b>should</b> already result in such a response.

[2015-05-07 16:02] #91 closed

[2015-05-07 16:04] MaxXor commented on #97
DragonHunter recommended that we should use QuickLZ instead of LZ4. I also think we should stick with it.

[2015-05-07 16:05] MaxXor commented on #94
DDoS support will not be added.

[2015-05-07 16:05] #94 closed

[2015-05-07 16:07] yankejustin commented on #97
By that, you mean we should continue using what we currently use? I would just like to clarify.

[2015-05-07 16:08] MaxXor commented on #97
Yes, correct. We'll change it when the current compression algorithm is not fast enough for our needs. But currently it is.

[2015-05-07 16:08] yankejustin commented on #101
Just to clarify, I think this feature should be in a branch separate from this project.

[2015-05-07 16:08] yankejustin commented on #97
Okay, thank you for the clarification. I agree.

[2015-05-07 16:09] #97 closed

[2015-05-07 16:11] MaxXor commented on #95
I can only assign issues to people who are collaborators (push access to this repository) of this repository.

See: https://stackoverflow.com/questions/8888675/in-github-issue-tracker-can-non-admin-users-assign-users-and-labels#8890803

[2015-05-07 16:13] MaxXor commented on #101
Please only suggest useful features, not for trolling. :)

[2015-05-07 16:13] #101 closed

[2015-05-07 16:14] yankejustin commented on #95
Oh. I see. Thank you.

[2015-05-07 16:15] MaxXor commented on #95
@yankejustin I know you are working on this. :) Send the pull request when you think the problems are solved.

[2015-05-07 16:18] MaxXor commented on #96
This can also be used for good reasons (for example: while doing maintenance over Remote Desktop so no one can interrupt you) maybe I'll add this.

[2015-05-07 16:22] #100 closed

[2015-05-07 16:23] MaxXor commented on #102
Sure, can be useful. But not important at the moment. If someone wants to do this, feel free to do it and send a pull request.

[2015-05-07 16:24] MaxXor commented on #100
The wiki is not updated because I have not much time for it. :100:

[2015-05-07 17:32] DragonzMaster opened #103 "Reverse Socks5 Proxy"
I was looking at project's main page
and found under ToDo:
Socks5 Proxy

so can i suggest a project would help us to achieve this
Project's Name: Socks5
https://github.com/ThrDev/Socks5
It is stable but it is normal Proxy and need little changes to be Reverse Proxy
so if anyone like the idea go with it and try
If no one likes it just close the issue

[2015-05-07 20:03] yankejustin commented on #103
I agree with this. While I truthfully still am rather new to Reverse Proxies, I still do believe that we should use ThrDev's project. :+1:

[2015-05-08 08:01] electriclee opened #104 "troll branch?"
i see all men here are professional coders|   i need all features fa trollin |   setupping a seperatee branch fa features lyk harrassin the client is goody and besty. Please owner please @MaxXor |   i wann

to troll people [please][please][do it fa me][seperatee branch fa trolllin].

[2015-05-08 08:02] electriclee commented on #98
superi please do it.

[2015-05-08 08:03] electriclee commented on #81
create a seperatee branch fa ya [please] @MaxXor .

[2015-05-08 08:04] electriclee commented on #89
why?

[2015-05-08 08:05] electriclee commented on #97
useless lz4 | the quicklz is superee.

[2015-05-08 08:06] electriclee commented on #96
wastee.

[2015-05-08 08:09] electriclee commented on #99
wastee if guys play games if keylogger is runnin | disable keylogge if game is runnin[i.e full screen applic

[2015-05-08 08:10] electriclee commented on #103
why reversee |{use direct}

[2015-05-08 08:15] electriclee opened #105 "open cdrom drive"
to insert cd when updateeing pc{many pc} open cd rom of all pc with a form fa it.

[2015-05-08 08:16] electriclee opened #106 "put pc in sleep"
apter updateeing all pc in company | we coud do put pc in sleepee. put formm.

[2015-05-08 08:18] #104 closed

[2015-05-08 08:18] #105 closed

[2015-05-08 08:18] #106 closed

[2015-05-08 13:09] OpenSourceCS opened #107 "Ping local network"
Adding a feature to ping 192.168.1.1 to 192.168.1.255 (or any other range) would be useful for diagnosis of network problems. The .NET Framwork has built in class for pinging.

[2015-05-08 14:41] OpenSourceCS opened #108 "Registry Editor"
Adding a registry editor would be useful for troubleshooting PCs from anywhere.
Registry keys starting with HKEY_CURRENT_USER (or HKCU) can use the method Registry.CurrentUser.OpenSubKey("Software\\") and so on.

adding values from a .reg file is also a useful feature.

[2015-05-08 18:28] AnguisCaptor commented on #103
I'm pretty good in this kinda stuff, have done Reverse Proxies / Socks4/5/HTTPS proxies in the past, will see what I can do with this :)

[2015-05-08 19:30] DragonzMaster commented on #103
We will not forget that favor hahaha :laughing:  @AnguisCaptor
it will be prety thing and so cool that we bring reverse proxy to like such project

[2015-05-09 03:50] OpenSourceCS opened #109 "Volume Control"
Adding a Volume Control(not mixer) along with mute features would be useful.Thanks!.

[2015-05-09 05:32] yankejustin commented on #98
Hello all!
I have made many updates. It won't be functional until tomorrow, but I would love it if I got some help adding some attributes for the KeyloggerKeys :)
https://github.com/yankejustin/xRAT

[2015-05-09 05:55] bitterypaul opened #110 "Show available free RAM and CPU usage in TASK MANAGER"
Feautring available free RAM and CPU usage in TASK MANAGER can be used for troubleshooting purposes.

[2015-05-09 05:56] bitterypaul commented on #107
Is the ping class supported in .NET Framework 2.0?

[2015-05-09 05:58] bitterypaul opened #111 "Email keylogger logs."
A Feature involving sending keylogger logs to the specified email address.

[2015-05-09 09:49] d3agle commented on #98
@yankejustin, Good work.  I've pushed a commit to your branch with some additional attributes.  I didn't add attribute members for all of the keys, only the ones I felt were necessary.

[2015-05-09 14:20] yankejustin commented on #98
@d3agle Thank you! Just be sure to make the other parameter (the optional one) true so it will highlight special keys like function keys.
Example:
Instead of logging
f1
It would log
[f1]
with the highlights. :)
The attribute would be [KeyloggerKey("F1", true)]

[2015-05-09 14:20] yankejustin commented on #98
@d3agle Thank you for the contribution. :+1:

[2015-05-09 17:05] d3agle commented on #98
No problem and sorry I forgot to add those, just pushed a commit

[2015-05-09 17:38] DragonzMaster commented on #98
good work guys @yankejustin @d3agle
both of you made great efforts thnx

[2015-05-10 02:37] DragonzMaster opened #112 "Why Remote Desktop doesn't capture mouse ??"
while using remote desktop i noticed that the mouse isn't captured
is there any way to do it ?

[2015-05-10 04:01] yankejustin commented on #112
Yes, there is. Just seems like it wasn't implemented yet. It can be added. :)

[2015-05-10 04:04] yankejustin commented on #111
Just to clarify, you want to redirect the logs gathered on the client so it will send to an e-mail instead of the server? It is a bit confusing because <b>so that they can be accessible even when client is turned off.</b> seems to imply that we can't currently access logs obtained from the client that was turned off. Once the client sends the logs, the client can be disconnected and we will still

[2015-05-10 11:14] AnguisCaptor commented on #103
Created a pull request https://github.com/MaxXor/xRAT/pull/113
So far the proxy server for HTTPS / Socks5 seems to be working

Enjoy :)

[2015-05-10 11:19] d3agle commented on #103
@AnguisCaptor, youre the best

[2015-05-10 13:16] DragonzMaster commented on #111
i agree with @yankejustin you can get the logs when ever you want as the client is running and connected to the server and they will be saved in "Logs" Folder so they are already accessible all the time
and the e-mail will need an internet connection and also the current keylogger so i see there is no difference
anyway thnx for your suggestion

[2015-05-10 13:18] DragonzMaster commented on #103
your are awesome guy @AnguisCaptor
Really Great Job

[2015-05-10 15:27] bitterypaul commented on #111
when the client cannot connect to the server(or when server is off),the client can email of the copy of logs to an email address.

[2015-05-10 17:03] #103 closed

[2015-05-10 17:06] AnguisCaptor commented on #103
Haha thanks :D
I am planning to change more in the Reverse Proxy ;)
You'll see it soon enough :)

[2015-05-10 18:05] DragonzMaster opened #118 "startup manager miss some files/paths"
i have shortcut files (.lnk) in startup Dir so startup manger didn't show them ( i don't know if i am the only one who face this problem )
and if the OS is 64bit there is another key for startup
HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Run
HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\RunOnce

so startup manger should show these keys and t

[2015-05-10 18:15] DragonzMaster opened #119 "multible (repeated) key in keylog and very long line"
when you play as an example and you open the keylog
you see something like that
[Call of Duty® Ghosts]
wwwssssssssssssssssssssssss3wwwwwwwwwwwwwwwssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssrwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww

[2015-05-11 04:53] bitterypaul commented on #103
I  am ashamed to ask this but please someone tell me what is reverse proxy and what is the use of it. Btw great and biggest commit @AnguisCaptor

[2015-05-11 05:04] yankejustin commented on #111
Oh, I see... As an alternative! Hmmm..

[2015-05-11 05:06] yankejustin commented on #103
@bitterypaul It is a normal connection, but literally in reverse. It follows a different flow model to where, instead of it going from client to server (client sends request and server handles it), it goes from server to client (server sends a request and client handles it). Please correct me if I am wrong. :)

[2015-05-11 05:24] bitterypaul commented on #103
tysm @yankejustin, what is the use of it.

[2015-05-11 06:32] AnguisCaptor commented on #103
@bitterypaul thanks :), the purpose for Reverse Proxy is simple: use the Internet of your target/victim
A normal proxy socks5 or HTTPS requires portforwarding, but the target/victim in the RAT will most likely not portforward so we need something more clever, we will run the Socks5/HTTPS proxy server and connect to localhost (our proxy server) and sending all the connection requests to the victim/

[2015-05-11 07:21] bitterypaul commented on #103
thank you @AngiusCaptor and @yankejustin you are all my technical gods.

[2015-05-11 10:15] bitterypaul commented on #103
ok then , will it saitsfy issue #71

[2015-05-11 14:22] Krytox opened #120 "Remote Webcam?"
I am not sure if this has been asked already but are there any chances for the webcam func in the later stages of the software?

[2015-05-11 15:05] d3agle opened #121 "Update from file"
Enhancement: The ability to update the client from local file

[2015-05-11 21:48] yankejustin commented on #119
What do you suggest we do about repetitive keystrokes?

[2015-05-11 21:55] d3agle commented on #119
This reference might contain a solution: http://stackoverflow.com/a/9356006

[2015-05-11 21:55] DragonzMaster commented on #119
like if the key is pressed it won't be logged more than once unless if i put up my finger and press it again
is it possible ? @yankejustin

[2015-05-11 22:13] d3agle commented on #119
To be fair, I don't see this as a problem

[2015-05-11 23:31] yankejustin commented on #119
Yes, it is absolutely possible. However, without this behavior someone that does this intentionally when typing something can cause loss of accuracy.

[2015-05-11 23:31] DragonzMaster commented on #119
may be (it is your opinion) but it is logs unnecessary keys which make the log looks bad and what can i benefit from a log contains hundreds of repeated "s" and "w" and similar keys used
and it increase Line's Length and log's size @d3agle

[2015-05-11 23:33] yankejustin commented on #119
Well, I am not speaking of my opinion, I am speaking factually. Purposely ignoring subsequent keystrokes due to their proximity is an intentional loss of data (or the accuracy of data).

[2015-05-11 23:34] DragonzMaster commented on #119
so can we make it optional ? @yankejustin
my previous comment i was talking to @d3agle

[2015-05-12 00:01] yankejustin commented on #119
Certainly an optional thing because there are many cases to where it is necessary to show them.
One way I can think of is to generate a collapsible table (basic html).

[2015-05-12 00:49] DragonzMaster commented on #119
ok
now what about Line Char number limitation (the second part of issue) to prevent the line from being too long ?

[2015-05-12 00:56] yankejustin commented on #119
Personally I think that the keylogger should be making a folder for each day anyways... Then place a limited amount of data in each file to divide them up.

[2015-05-12 04:01] bitterypaul commented on #119
if same key is repeated more than 5 times, then we can make keylogger to log it as 5[w]

[2015-05-12 04:10] xmizrx commented on #119
Nice work you guys I have an idea here's a picture to explain it

http://mizr.org/p/f/repository/z/01.gif

if you think its useful I'll release the source if not .. will then I'll think of another solution

[2015-05-12 04:10] bitterypaul commented on #119
correct me if i am wrong. since quicklz is used, the log will be compressed. so the log will shrink in its size during transmission.

[2015-05-12 04:43] yankejustin commented on #119
@xmizrx That would be a useful addition to the keylogger. :)
I was actually thinking the same thing when I looked back at the logs and realized how inaccurate I am with a keyboard! x)

[2015-05-12 05:09] xmizrx commented on #119
Thanks here's the source although it still has some bugs but simple to fix

###
you need
3*textboxs
2*buttons
1*timer
###
The source
===
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Text;
using System.Windows.Forms;

namespace xServer.Forms
{
    public partial class FrmRePlay : Form
    {
        public FrmRePla

[2015-05-12 10:55] d3agle opened #123 "File Manager enhancement"
Add the ability to transfer files to and from, within the file manager browser

[2015-05-12 14:03] d3agle opened #125 "Bug: stopping listen server"
Stopping the listen server with multiple clients connected will not correctly disconnect the client/remove from listview

[2015-05-12 14:25] d3agle opened #126 "Enhancement: Remote desktop - Keyboard input"
Adding the ability to send keyboard input to the remote client via remote desktop.

Managing remote clients can be a bit difficult without the ability to use send keyboard input to the client machine.  Having to create an application to set specific text to the clipboard to be able to have input on the client machine can be a bit annoying

[2015-05-12 14:29] bitterypaul commented on #126
superb idea

[2015-05-12 16:57] yankejustin commented on #125
Will it remove the clients correctly and just not update the interface as it should, or is it not disconnecting them correctly entirely?

[2015-05-12 16:58] d3agle commented on #125
Both

[2015-05-12 16:58] yankejustin commented on #125
lol... got it! I will look into it.

[2015-05-12 17:04] d3agle commented on #125
I didn't get a chance to debug it, but stopping the listen server, one of the clients would still be in the listview, and would respond to commands.  It appeared that only one of the clients would hang left over.  I tested this first with 2 active clients, then 3 active clients

[2015-05-12 17:04] yankejustin commented on #125
Interesting. Any exceptions thrown?

[2015-05-12 17:14] yankejustin commented on #95
@MaxXor This can actually be closed now since these keys work. While we are testing combinations and such, it is still not perfect. However, the escape key is supported in the branch. :)

[2015-05-12 17:15] yankejustin commented on #98
@MaxXor This one can be closed because it is no longer an issue in the new branch. :)

[2015-05-12 17:33] d3agle commented on #125
I believe so yes.  Set a breakpoint on Disconnect method in xServer.Core.Server.  I believe the problem lies within the logic in that method, although I'm not sure

[2015-05-12 18:49] DragonzMaster commented on #126
i was just going to open an issue about that
and it will be more reliable to send multiple keys like [alt+ctrl+del] or  [alt+tab] ........

[2015-05-12 21:24] #125 closed

[2015-05-13 15:48] tidusjar opened #128 "Upgrade to .NET Framework 3.5"
This is a question:
Just wondering why we do not upgrade the .NET version? With 2.0 we cannot make use of any good asynchronous tasks? Multithreading is a lot more difficult and cumbersome in 2.0...

[2015-05-13 16:33] bitterypaul commented on #128
We can safely change the build config to target .NET 4.0 without breaking compatibility with Windows XP

[2015-05-13 16:34] tidusjar commented on #128
@bitterypaul I think it would be a good solution then we can use the more recent things in the .NET framework.

[2015-05-13 17:11] DragonzMaster commented on #128
that's to make the project compatible with most of OS
if we upgrade it to 3.5 (as an example) we won't be sure that it would work on most of Win XP as many of them uses 2.0

[2015-05-13 17:21] tidusjar commented on #128
@DragonzMaster I'm not questioning anyone here but if Microsoft don't support Win XP, should we? I can see a lot of benefit to upgrade the .NET version.

[2015-05-13 17:29] yankejustin commented on #128
@bitterypaul Of course. The .NET framework version has no reason to break compatibility with Windows XP.

[2015-05-13 17:30] yankejustin commented on #128
@DragonzMaster These days, most machines (even the few running Windows XP for some reason) should at least have v3.5

[2015-05-13 17:31] yankejustin commented on #128
I would agree with @tidusjar ... 3.5 is huge enough. Each version has an immense amount of wonderful changes to simplify and improve code.

[2015-05-13 19:22] DragonzMaster commented on #128
i know that win xp is the only one which come with 2.0 instead of 3.5 with came with win vista and newer
anyway you can do what you want

[2015-05-14 08:30] tidusjar commented on #128
@MaxXor what is you opinion on this?

[2015-05-14 08:32] tidusjar opened #130 "Common classes"
Hi,

I have a question why we are duplicating work?
There seems to be a few 'common' classes in the solution where they are duplicated in both projects. e.g. encryption. Why do we not have a 'Common' Project with these classes in that the other projects just reference?

[2015-05-14 08:33] MaxXor commented on #130
I want the client to have no dependencies except the default ones from the .net framework.

[2015-05-14 08:33] MaxXor commented on #128
I believe it's okay if we change the target framework to 3.5. :)

I will do this later.

[2015-05-14 08:35] tidusjar commented on #130
Why can't we have a dependency on our own controlled, small library? I'm just thinking it would help out with the project structure and maintainability.

[2015-05-14 08:48] logiczxy opened #131 "xRAT Crash and depracated code"
xRAT crashes when a server tries to connect to it, not sure where the problem lies, but perhaps it's the part where compiler throws a warning "ReverseProxyClient.cs(54,69,54,98): warning CS0618: 'System.Net.IPAddress.Address' is obsolete: 'This property has been deprecated. It is address family dependent. Please use IPAddress.Equals method to perform comparisons. http://go.microsoft.com/fwlink/?li

[2015-05-14 08:52] tidusjar commented on #131
@logiczxy That warning is just telling us to use a different method since MS are not going to develop that feature further. Could you run the xRAT in debug and see where an exception gets thrown?

[2015-05-14 11:35] logiczxy commented on #131
Visual Studio highlights this:
"byte[] payload = new byte[_payloadLen];"

[2015-05-14 11:36] tidusjar commented on #131
What is the exception message? and what is the value of _payloadLen ?

[2015-05-14 11:38] logiczxy commented on #131
Unfortunately i can't seem to be find that bit of information about it in the debugger, that's all the information it shows me.

[2015-05-14 11:40] MaxXor commented on #131
Please [read this](https://github.com/MaxXor/xRAT#building-a-client) to be sure you've built the client correctly. Are u using Debug or Release mode? Tell me what settings you are using and the steps to reproduce this issue. What crashes, the client or server?

[2015-05-14 11:53] logiczxy commented on #131
Not sure if i follow the "release configuration" and "debug configuration". Do i have to pre-configure my settings to "Settings.cs" before i compile? Anyway after i have compiled, i am using xrat 2.exe from "Release" folder and as soon as i see a connection appearing in the main window, "xrat 2.exe crashes".

[2015-05-14 11:57] MaxXor commented on #131
DEBUG: pre-configure your `Settings.cs`, build and then execute the client.exe
RELEASE: build the project, use the Builder from the `xRAT 2.exe` to build your client

Anyway I can't reproduce this crash.

[2015-05-14 11:59] logiczxy commented on #131
Then i believe i understood it correctly and it should work.
Weird bug then, hopefully this somehow by accident gets fixed in the future, i'll check back in a few months, looks like a promising project, keep up the good work!

[2015-05-14 12:00] MaxXor commented on #131
Can you check if the password in client and server are the same?

[2015-05-14 12:02] logiczxy commented on #131
The passwords match, yes

[2015-05-14 12:05] MaxXor commented on #131
Do you have some kind of firewall or antivirus running? Try to disable both and see if you can get it working.

[2015-05-14 12:08] logiczxy commented on #131
I have disabled them yes and i can also see the connection appearing in the main window of the program (so far so good), but as soon as the connection appears (with the computer name, IP address info etc etc), the program crashes. I'm pretty sure the problem is not external, but internal, something is causing the program to crash when it gets the connection.

[2015-05-14 12:17] logiczxy commented on #131
I'm guessing some sort of overflow is appearing like the debug says "System.OverflowException' occurred". I don't have much time atm to use any advanced tools like network monitoring software etc to see what's being sent, much work do be done and away from PC soon.
I was looking for alternatives to current remote admin tools i have, i loved the open source idea, but it's ok, i can keep using the o

[2015-05-14 12:20] MaxXor commented on #131
Okay, when you get time please [download](https://github.com/MaxXor/xRAT/archive/master.zip) the latest source, switch on Release or Debug mode and press Build. :)

Then tell me if it's working with the connection.

You can do this when you have time, no need to rush.

[2015-05-14 15:03] bitterypaul opened #132 "video recorder"
adding a feature which records the screen in desired format can be useful for troubleshooting purpose and replaying sessions.

[2015-05-14 16:04] yankejustin commented on #128
Wonderful. :)

[2015-05-14 17:25] yankejustin commented on #130
@MaxXor I think you may have misunderstood @tidusjar
If I am understanding correctly, tidusjar is suggesting that we move code that is the same for the server and the client (for example: protobuf) to another project and have the server and use the same project so we don't have to make a change to the server or client, then reflect the change to the other project. Doing this would mean we only hav

[2015-05-14 17:27] tidusjar commented on #130
@yankejustin Correct. We would then only make the change in one location and it would be consistent across the server and client. But it would require 1 more .DLL

[2015-05-14 23:14] MaxXor commented on #130
@tidusjar and I don't allow this one more DLL, sorry.

[2015-05-14 23:14] #130 closed

[2015-05-15 04:54] logiczxy commented on #131
Unfortunately it's still not working.

[2015-05-15 08:06] Tbaile opened #135 "Getting system audio and microphone sounds (if any)"
How cool would it be? Listening to evertything that comes out from the client and listening to every sound captured from the mic.

[2015-05-15 08:57] MaxXor commented on #131
Can you upload your binaries in a zip to http://rghost.net/? I wanna take a look.

[2015-05-15 11:58] yankejustin commented on #135
Well, how <b>difficult</b> would it be? ;)
This is where it becomes more difficult (not only to code) but to spend lots of time with an interface for it!

[2015-05-15 12:06] bitterypaul commented on #135
@yankejustin i need your feedback on other issues opened by me

[2015-05-15 13:52] yankejustin commented on #135
@bitterypaul Please post responses relevant to the issue. I try not to clutter these comment spaces. If you noticed, I have already been messing with the keylogger. If you look at my profile, you can see a few branches I made to implement volume control, and Cpu/Memory usage. Just please be patient...

[2015-05-15 19:45] DragonzMaster commented on #135
@Tbaile
you can try with it ... it can be possible by using (WinMM.Net)
and you can add more than one option (buffer size)
you can find the source here:
https://winmm.codeplex.com/SourceControl/latest
i might try with it but not now as i am having final exams

[2015-05-16 01:17] logiczxy commented on #131
The URL is not working, i used an alternative: http://www.files.com/shared/55569a690b01b/data_xrat.zip

[2015-05-16 16:33] MaxXor commented on #131
What you did was building the client in RELEASE mode and then just executing it. Start `xRAT.exe` and click `Builder`. Use this to build your client please.

[2015-05-16 18:43] AnguisCaptor commented on #103
As promised, some cool updates :)
https://github.com/MaxXor/xRAT/pull/140 - Kill connections
https://github.com/MaxXor/xRAT/pull/141 - A Proxy Load Balancer, DNS hostname resolver

[2015-05-16 20:17] DragonzMaster commented on #103
@AnguisCaptor next update should add authorization using user/pass with the ability to change them without disconnecting the server ... it would be useful

[2015-05-16 21:04] DragonzMaster commented on #103
@AnguisCaptor another problem appeared minutes after starting the server the client closes
and proxifier shows "Infinite Connection Loop Detection"

[2015-05-16 21:15] AnguisCaptor commented on #103
@DragonzMaster I had the same issue earlier when using Proxifier, you need to add a rule in proxifier
Use the following settings:
Name: Ignore port 3128
Target Port: 3128
Action: Direct

The problem with proxifier is that it's a system wide proxy, so that it will even try to proxy a proxy in this case lol
So we need to tell proxifier to ignore our proxy server

[2015-05-16 21:27] DragonzMaster commented on #103
@AnguisCaptor  so you need to force stopping the proxy server(server side) and closing reverse form in case of crashing client and make the client restart

[2015-05-16 22:45] Tbaile commented on #135
Well unfortunately i'm a newbie with c# but I'll give it a try, I'll let you know if i get something.

[2015-05-16 23:03] DragonzMaster commented on #135
ok good luck

[2015-05-17 02:39] logiczxy commented on #131
How can i build the CLIENT within the CLIENT? Shouldn't i before compile the CLIENT (with the method that is correct and unknown to me unfortunately), then open the CLIENT and build a SERVER instead?

Anyway, it's a funny story really, i have used Visual Studio before and build some applications (not as complicated as yours ofc) but it seems I'm simply too dumb to use this one. I cannot find the c

[2015-05-17 07:27] #131 closed

[2015-05-17 09:29] bitterypaul commented on #131
is this a problem with xrat?

[2015-05-17 09:49] MaxXor commented on #131
no.

[2015-05-17 14:15] Abdullah2993 commented on #121
I second this

[2015-05-17 14:27] MaxXor commented on #121
Will add this later.

[2015-05-17 17:53] bitterypaul opened #143 "start client at specified date"
adding an option for starting the client at a specified date or after specified days after deployment would be used for many legit purposes. By this the client will not run when it is not needed for some time

[2015-05-17 18:56] bitterypaul opened #144 "gitter"
please set up gitter so that people can talk about feature requests and bugs separate from the github issues. thanks a million

[2015-05-17 20:28] DragonzMaster commented on #143
sorry but i can't find any importance with this feature
why someone needs to open a file it could be inactive for days (as you have mentioned)

[2015-05-18 02:42] yankejustin commented on #131
@logiczxy Just to help you out a bit if you don't understand:
To get this working:
1) Make sure you are in RELEASE mode.
2) Right-click the client's project and select "Rebuild".
3) Initialize the server
4) Build the client using the "Builder" from the server.

The point is for the server to build a customized client. The client is then deployed on a different machine (or on the same machine... it

[2015-05-18 03:07] logiczxy commented on #131
Yes, i have done all that already, as said, I'm not new to Visual Studio. (I even tried to build it from the bat files and use any other methods i could have thought of, still same result)

Currently I'm trying to test this in a machine which hosts a machine to VirtualBox Virtual Windows 7 OS specifically. Now the weird part is, after i build the executable with xrat in the original (host) OS and

[2015-05-18 03:10] logiczxy commented on #131
ALso, i believe the terminology is different than you guys think:
http://en.wikipedia.org/wiki/Remote_administration_software
"Its primary function is for one computer operator to gain access to remote PCs. One computer will run the "client" software application, while the other computer(s) operate as the "host(s)"."
This means rat.exe = Client and the executable you build with the Builder is call

[2015-05-18 03:20] yankejustin commented on #131
I apologize for the disagreement, but <b>you're still mixing it up</b>. Please understand that the server is the host. The built executable is the client and the primary purpose of the built client is to run on another machine to be controlled from the host.
As for the terminology, I would hope MaxXor understands the concept! x)
Knowledge of the concept is apparent by the fact that MaxXor has name

[2015-05-18 14:26] MaxXor commented on #144
I don't think this is necessary...

[2015-05-18 14:26] #144 closed

[2015-05-18 14:26] #143 closed

[2015-05-18 16:49] logiczxy commented on #131
I guess we'll have to agree to disagree :)
To be honest, Xrat is the first Remote Administrator Tool i see for the first time in my life that calls the compiled executable (made via Xrat) Client and not the other way around.
Even though it does not matter, here are some references: (just to not be confused in the future)

http://hack-o-crack.blogspot.com/2011/07/rat-remote-administration-tool.html

[2015-05-18 16:50] MaxXor commented on #131
Well, I looked at it from the networking side and the client connects to the server. That's how xRAT works too.

[2015-05-18 17:24] logiczxy commented on #131
By concept, a Server is always the "Slave" that executes commands sent from the master.
That is where the name "Server" comes from, "To Serve".
With this logic, the executable compiled by xrat.exe can't be called a "Client", because a client is not a server, a client does not serve.

But i guess somehow we have different logic in this case.
Anyway it got off-topic, but I'll try to look into the co

[2015-05-18 19:08] MaxXor commented on #131
Well, this can be closed now. We just have different logic, but I can understand this can confuse someone.

Thanks. :)

[2015-05-18 21:51] yankejustin commented on #128
@MaxXor Would you please create a new branch for upgrading the framework to 3.5? There are many places I see that would benefit greatly from the new features offered by v3.5

Also, would you consider changing the following code signature for invoking?:
<code>Invoke((MethodInvoker)delegate { });</code>
to something like this:
<code>Invoke(() => { });</code>
<hr />
I just would like to add that the

[2015-05-18 21:52] yankejustin commented on #144
@MaxXor Sorry for dragging you to a closed issue but would you suppose the best place to ask questions or discuss should be opening issues?

[2015-05-19 00:24] yankejustin commented on #81
@MaxXor I messed with this a bit on a virtual machine and it gets ugly really fast. You're one mistake from blowing your arm off... I don't think we should add this...

[2015-05-19 06:18] MaxXor commented on #144
At the moment the issues on github are enough. And who should answer all the questions on gitter, I guess there will be more than issues?

[2015-05-19 06:41] MaxXor commented on #128
@yankejustin
Yes, I'll do this. :)

Uhm, I think it's not that important, or? :confused:

[2015-05-19 06:45] MaxXor opened #149 "New Keylogger Progress"
Hey,
as we don't have a general issue about the new Keylogger, I'll open this one.

What's the current status of the new Keylogger in the `dev-branch`? And is the Keylogger in the `master-branch` stable at the moment?

This is mostly for @yankejustin and @d3agle, as they've worked on the new Keylogger.

Thanks!

[2015-05-19 07:30] d3agle commented on #149
I've been working for a while on this and I've got a working solution. However, there is a lot of work that needs to be done.  One of the problems is how the keys will be logged to ensure that the additional enhancements that were desired, are met.  I've fell short of coming up with a viable solution to controlling the situations of displaying Modifier keys e.g. [ctrl + alt + shift + esc].  I feel

[2015-05-19 07:42] MaxXor commented on #149
Yes, that would be great if you make a pull request.

[2015-05-19 08:37] MaxXor commented on #149
Bugs: Thread doesn't exit when disabling the hook, has something to do with message pump I believe

Todo: handle modifier keys in another manner. for example a user presses control, and while control is down the user decides to press a, the log will display [CTRL][CTRL + a]

[2015-05-19 15:56] yankejustin commented on #128
It is not that important. It is more of a preference. :)

[2015-05-19 16:00] yankejustin commented on #149
@d3agle I would appreciate a pull request to be sent to the dev branch. I noticed you made many changes but I don't often send contributions to volatile branches so I was just waiting a little bit on you to add your changes to the new branch.

[2015-05-19 16:00] yankejustin commented on #149
@MaxXor Is there a possibility that you could close the issues related to the keylogger on the main branch and open them on the dev branch for us please?

[2015-05-19 16:05] yankejustin commented on #149
To give a more definite answer to all those wandering, I have been experimenting with the hook with progress, but I am actually having my High School graduation banquets and such so I have been quite busy! x)
I have time tonight and I will finally switch this thing over to a hook. :)

[2015-05-19 16:22] #95 closed

[2015-05-19 16:22] #99 closed

[2015-05-19 16:22] #119 closed

[2015-05-19 16:23] #98 closed

[2015-05-19 19:37] MaxXor commented on #149
@yankejustin Closed them. Congrats for finishing High School! :) No need to rush the code now, take the time you need.

[2015-05-19 19:38] yankejustin commented on #149
@MaxXor Haha thanks.
I have a big favor... Would you please resolve some of the conflicts we have with the <code>master</code> branch compared to the <code>dev</code> branch? I am still rather new to doing that using Github so I might end up butchering it. x)

[2015-05-19 20:09] MaxXor commented on #149
Done. :)

[2015-05-19 20:11] yankejustin commented on #149
Thank you very much!

[2015-05-19 22:11] DragonzMaster opened #153 "Client crashes when Stop Listening on server"
As shown in the title
When the client is running and i stop listening (Server) the client crash
Client.exe has Stopped Working
So anyone else faces this problem ?

[2015-05-19 22:19] MaxXor commented on #153
Working fine for me here. I can stop and start listening and the client connects again.

[2015-05-19 22:27] DragonzMaster commented on #153
hmmmm it is really strange
i tried again and the client still crashes

[2015-05-19 22:32] d3agle commented on #153
Yes it is doing it for me as well.  I will investigate.  This is with the most recent master-branch

[2015-05-19 22:35] MaxXor commented on #153
Start the client in debug mode and the Server normally. Then reproduce the crash and the Debugger will stop at the exception. Plesse tell me as much as Visual Studio tells you, like name, line number. :)

[2015-05-19 22:35] d3agle commented on #153
@MaxXor, I first started the client normally by building it, stopping the listen server the client crashed.  It doesn't crash in debug however

[2015-05-19 22:36] DragonzMaster commented on #153
no the debug mode the client work smoothly and never crash
it seems that the problem with release mode :thought_balloon:

[2015-05-19 22:37] d3agle commented on #153
It is throwing a System.TypeLoadException.  Probably something in the Servers renamer class

[2015-05-19 22:44] DragonzMaster commented on #153
i remember that the renamer caused a problem with the previous Keylogger also
so can it be the problem like what @d3agle said ??

[2015-05-19 22:50] d3agle commented on #153
This is the error message I'm getting in Visual studio 2015:

System.TypeLoadException was unhandled
Message: An unhandled exception of type 'System.TypeLoadException' occurred in Client-built.exe
Additional information: Method 'Dispose' in type '䬖從晃쯓ⰷ샡躥䇆뎿﷤㕵ด瓐㙏䈁៫䢫쯻' from assembly 'Client, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

[2015-05-19 23:00] d3agle commented on #153
Is there any way to exclude obfuscating types that implement the IDisposable interface?

[2015-05-19 23:07] d3agle commented on #153
Sent a pull request #154 for this fix

[2015-05-19 23:19] DragonzMaster commented on #153
i hope it fixed the problem @d3agle

[2015-05-19 23:22] DragonzMaster commented on #153
@MaxXor  please can we make the renamer optional ??

[2015-05-19 23:38] yankejustin commented on #149
@MaxXor I was messing with ideas that have finally come together about this Keylogger. Before I set to work putting the puzzle together (features of handling mouse input, repeated strokes, accent character handling, (alt + key code) combining) I naturally set off to research if anybody has already added a feature like this. It is rather foolish to re-invent the wheel, right? ;)
Anyways, I have stu

[2015-05-19 23:44] d3agle commented on #149
Nice find @yankejustin! I took a look at some of the source and it is very well written. The key filtering will be very important to accomplishing what we need done.  Looking forward to seeing what you can do with this.

[2015-05-19 23:47] yankejustin commented on #149
To extend on key filtering, gmamaladze's project also seems to have started on registering hotkeys. For those reading this that may not understand, hotkeys allow filtering of more complex combinations of keys. :)

[2015-05-19 23:53] yankejustin commented on #153
@DragonzMaster To clarify, do you mean that it crashes before deletion and does not create the batch file that deletes itself?

[2015-05-20 00:21] DragonzMaster commented on #153
no it crashes and ("client.exe has stopped working) appears then it is deleted @yankejustin

[2015-05-20 00:44] yankejustin commented on #153
@DragonzMaster Try it again and see if it still does that. :)

[2015-05-20 01:51] DragonzMaster commented on #153
It seems that both of the 2 fixes do work
not one of them alone as i had to fix both of the renemer and the shell to get the problem fixed

[2015-05-20 02:12] yankejustin commented on #153
So both fixes fix both of your issues?

[2015-05-20 02:27] DragonzMaster commented on #153
yes :smiley:
I tried again with @d3agle fix only and it seems to fix both issues (sorry i didn't notice that)
and i think the try-catch block you made won't hurt  :laughing:
thanks for both of you ... good work

[2015-05-20 02:42] yankejustin commented on #153
Yeah you're right. ;)
If the process was already terminating the client would discontinue working as described above. It would not even be able to uninstall correctly. :poultry_leg:

[2015-05-20 07:11] #153 closed

[2015-05-20 07:14] MaxXor commented on #149
Indeed, a very nice find @yankejustin! Hope we can use it too.

[2015-05-20 11:24] DragonzMaster commented on #149
nice find, I hope gmamaladze does not mine using his project
I gave it a look and it seems good

[2015-05-20 13:47] yankejustin commented on #149
@DragonzMaster It is not possible using .NET... It is possible by invoking native code.

[2015-05-20 16:01] yankejustin commented on #149
I suspect an issue in setting the windows hook (preventing output):
https://github.com/yankejustin/xRAT/blob/Keylogger/Client/Core/Keylogger/WinApi/HookHelper.cs#L57
Can someone please help me research how effective getting the current process' main module -> base address is when the process is running under the way the client is? (shell execute = true... etc.)

[2015-05-20 22:37] d3agle commented on #149
@yankejustin, the reason the hook isn't working currently is because we don't have a message pump on the thread, so we can't intercept the messages from the OS

Calling Application.Run() should do the trick

[2015-05-20 23:46] DragonzMaster commented on #149
i don't know if you have seen this if not you can give a look at the Author's Article you might find it useful
 GlobalHook [http://www.codeproject.com/Articles/7294/Processing-Global-Mouse-and-Keyboard-Hooks-in-C]

[2015-05-21 03:06] yankejustin commented on #149
@DragonzMaster Yes, of course I have seen that. :)
The code I have implemented to the keylogger branch is the work of George "gmamaladze"Mamaladze. His updated work is now placed on Github. The link to his repository can be found on a post I made yesterday on this same issue. :goat:

[2015-05-21 03:08] yankejustin commented on #149
@d3agle Thank you for the information. It is very appreciated.

[2015-05-21 04:36] DragonzMaster commented on #149
i know that the project started on codeproject then to codeplex and finaly to github (a few weeks ago)
but i expect it would help as there is FAQ and comments below
sorry i don't have time to read them nor the project ... i hope that i can help you

[2015-05-22 06:17] yankejustin commented on #149
<h1>Status</h1><h4><i>4/22/15</i></h4>
Functioning (<i>needs a bit more work, but <b>it works</b></i>).
<br />
<h1>Upcoming</h1><h4><i>To Finish By 5/24/15</i></h4>
1) Write unit tests for the Keylogger.
2) Perhaps extend supported keys for the Keylogger by attempting to use the (older) <code>KeyloggerKeys</code> enumeration instead of the <code>Keys</code> enumeration.
3) Final testing
<h4><i>By

[2015-05-22 07:30] MaxXor commented on #149
I really like your status posts, thanks alot. :) I'll see if I can help with any of this.

[2015-05-22 20:58] MaxXor commented on #128
Upgrade is done, you can now start using more powerful methods from the .NET Framework 3.5 CP.

[2015-05-23 03:18] yankejustin opened #167 "Keylogger Cross-Site Scripting (XSS) vulnerability"
<h1>Background</h1>
- Cross-Site Scripting is a common issue with websites of today. Consider a comment box that receives the following comment by a user: "Hello, everyone! I am just a <code>>script>alert('xss')>/script></code>normal user". (Note: I have inverted the beginning and ending <code><</code> tag because of Github's filter)
- The situation above, if done on a vulnerable website, would ca

[2015-05-23 03:21] yankejustin commented on #167
@MaxXor This is also a <i>high</i> priority issue that must be fixed before we merge <code>dev</code> into <code>master</code>... I just felt it deserved to be in its own issue. :hankey:

[2015-05-23 04:20] yankejustin opened #169 "Client dies after server disconnection"
<h1>Background</h1>
- Normal server running
- Normal client connected
- General normal normalness

<h1>Issue</h1>
After killing the server, the client (reconnect time: 5000 ms) should automagically try to reconnect. If the server is initialized once again, the client will not connect as it should. This behavior is due to the client, as killing and reinitializing the client will show that the clien

[2015-05-23 04:28] yankejustin opened #170 "Mutex Murder"
<h1>Background</h1>
The mutex prevents multiple instances of the client in an effective way, allowing simple termination of any additional clients that are (attempted to be) initialized under the same mutex.

<h1>Behavior Expected</h1>
1. Client user initializes a client program.
2. Client user attempts to initialize an additional client program though one client program has already been initializ

[2015-05-23 04:32] yankejustin opened #171 "Client does not correctly uninstall"
<h1>Behavior Expected</h1>
1. Client is connected to the server.
2. Server issues a command to the client to uninstall itself.
3. Client removes file entries, logs, registry keys, etc.
4. Client creates a batch file to execute to remove the executable.
5. Client uninstalls completely by executing the batch file to terminate the program and remove the executable.
6. Client is gone

<h1>Actual Behav

[2015-05-23 04:40] yankejustin commented on #149
<h1>Status</h1>
Very good point; it works at a <i>very good</i> level.

<h1>To-Do</h1>
At this point, the code is clean and efficient enough to implement to <code>master</code> now. However, we should <b>really</b> fix that vulnerability caused by this before merging. Besides that, the features that are being conjured can come at some later time; for now, this Keylogger is so much better that, bes

[2015-05-23 04:58] yankejustin commented on #149
Thank you for the complement, MaxXor. :)

[2015-05-23 07:45] MaxXor commented on #171
I can't confirm any of the two issues you've created. Tested both in Debug and Release mode, lol.

It worked before, so why doesn't it work now for you?

[2015-05-23 07:46] MaxXor commented on #170
Again, the client application does not crash in Release mode, using the same mutex when one client is already installed.

[2015-05-23 08:43] MaxXor commented on #167
This should be fixed in the latest commit.

[2015-05-23 08:43] #167 closed

[2015-05-23 09:07] d3agle commented on #149
I would just like to point out, that before this should be merged to the master branch, we should also take care of the problem with the message pump calling Application.Run().  I haven't found a solution to ending it's operations.  Calling Application.ExitThread() within the thread does not work, and because the thread does not exit, the client won't respond well to disconnects or uninstalling.

[2015-05-23 09:23] MaxXor commented on #149
I'll try to find a solution for this too.

[2015-05-23 11:01] rabbitsmith commented on #149
can i know what is the vulnerability

[2015-05-23 11:02] MaxXor commented on #149
https://github.com/MaxXor/xRAT/issues/167
It's already fixed.

[2015-05-23 12:13] d3agle commented on #149
#178, fixed message loop termination

[2015-05-23 14:37] yankejustin commented on #170
I will investigate these two issues tonight and see why my client is doing this. I will re-open if I still experience issues and will inform you of any irregularities.

[2015-05-23 14:37] #170 closed

[2015-05-23 14:38] yankejustin commented on #171
I will investigate these two issues tonight and see why my client is doing this. I will re-open if I still experience issues and will inform you of any irregularities.

[2015-05-23 14:38] #171 closed

[2015-05-23 14:38] yankejustin commented on #169
I will investigate these two issues tonight and see why my client is doing this. I will re-open if I still experience issues and will inform you of any irregularities.

[2015-05-23 14:38] #169 closed

[2015-05-23 14:52] d3agle opened #180 "New Keylogger Window Titles which contain Arabic chars show incorrectly"
Opening this issue from my fork

@DragonzMaster @MaxXor

[2015-05-23 15:56] MaxXor opened #181 "New Keylogger chars like ^ or ` not working"
To reproduce this issue run the client with keylogger enabled and press ^ (under Escape).

[2015-05-23 16:52] DragonzMaster commented on #181
`~`~
++=_-)0(9*8&7^6%5$4#3@2!1~`~`
------------------------------------------------------
the above is what i wrote to test the keylogger and it seems to work for me :D
![kel2](https://cloud.githubusercontent.com/assets/12255107/7785013/e9741b90-017c-11e5-9f32-80b6f962cd8b.png)

[2015-05-23 17:06] d3agle commented on #181
This is working for me as well.  What kind of keyboard do you have?  Under my escape key is the tilde key (OemTilde)

[2015-05-23 17:13] d3agle commented on #181
@MaxXor, took a look here: http://clasfaculty.ucdenver.edu/tphillips/GermanKeyboardLayout.html

"The characters ² ³ { [ ] } \ @ € µ ~ are accessed by holding the Alt Gr key and tapping the other key.
The Alt key on the left will not access these additional characters.
The accent keys ^ ` ´ are dead keys (nothing happens until you type a second key).
Tap on an accent key once, let up, then tap on a

[2015-05-23 17:21] d3agle commented on #181
Because these are dead keys, they won't be processed.  Take a peek at the method at line 73 ('xClient.Core.Keyloggers.WinApi.KeyboardNativeMethods')

[2015-05-23 17:28] DragonzMaster commented on #181
why should i use the last commit !!
the keylogger already works fine for me
but github doesn't show ' ~ when there are no spaces between them, instead it shows them like that '~
so every key i have pressed is logged correctly @d3agle

[2015-05-23 17:28] d3agle commented on #149
<h1>Status</h1>

<p>Functional and operational</p>

<h1>To-Do</h1>

<p>The keylogger has been refactored and optimized to the point I can hardly find any more ways to improve the functionality.  The only thing left to do at this point seems to be adding more keys e.g. (PageUp, VolumeUp, VolumeDown, etc..) to the HighlightSpecialKeys method for better display.</p>

[2015-05-23 17:33] d3agle commented on #181
@DragonzMaster , haha sorry!

[2015-05-23 17:37] DragonzMaster commented on #181
no problem bro
I hope you find a fix for @MaxXor problem

[2015-05-23 17:39] MaxXor commented on #149
@d3agle the PageUp and VolumeUp are already highlighted with the latest commit.

[2015-05-23 17:39] MaxXor commented on #181
lol yea I press ^ once and then again to show it, works fine without the keylogger. :(

[2015-05-23 17:41] d3agle commented on #149
Oh ok! I wasn't sure I hadn't tested them I was just using them as examples for extra keys to add.  We should really add as many as we can just so we can ensure it looks pretty on the user-end :D

[2015-05-23 17:46] d3agle commented on #180
@DragonzMaster , are you still having this problem? If so, does it happen with all of arabic text in window titles, or specific characters?

[2015-05-23 17:53] d3agle commented on #181
@MaxXor , When you say it works fine without the keylogger, do you mean that with the keylogger enabled and the client running, your ^ key doesn't function as it would without the keylogger enabled?

[2015-05-23 17:53] MaxXor commented on #181
Correct.

[2015-05-23 17:54] d3agle commented on #181
Oh boy.  I will look into this, that doesn't sound good

[2015-05-23 17:55] DragonzMaster commented on #180
No More Problems
Thanks Guys
![kel3](https://cloud.githubusercontent.com/assets/12255107/7785214/a2601868-0185-11e5-8276-c9c7d3cb10b0.png)

[2015-05-23 17:58] d3agle commented on #180
Awesome!

[2015-05-23 17:58] #180 closed

[2015-05-23 18:09] MaxXor commented on #149
When we find the reason for issue #181 and fix it, we can merge `dev` into `master`.

[2015-05-23 18:28] ModdersCentral opened #185 "Code Improvement in Builder"
private bool StringNotNull(string() strs){
   for(int i=0;i<strs.length;i++){
   if (string.IsNullOrEmpty(txtHost.Textstrs(i))) return false;
   }
   return true;
   }

or

private bool NotNull(object() strs){
   for(int i=0;i<strs.length;i++){

switch(strs.type){
case String://for strings
   if (string.IsNullOrEmpty(strs(i))) return false;
break;
case Bool: //for checkbox
 if (strs(i)) return fal

[2015-05-23 18:43] ModdersCentral commented on #88
You might want to use this alternative instead of the host file.

 foreach (TcpConnectionInformation con in (new IPGlobalProperties.GetIPGlobalProperties).GetActiveTcpConnections){
   If (con.RemoteEndPoint.Address.ToString = blocked_website_ipaddress){

}

}

iphlpapi.dll (SetTcpEntry)

[2015-05-23 18:43] d3agle commented on #181
@MaxXor , could you try something for me?  I don't have a german keyboard to test this on, but I wonder if the dead key has a state that is being reset the first time you press it.  I noticed that sometimes when starting the client with keylogger enabled, keys would be reset if they were already enabled.  For example, if I had Numlock toggled off prior to starting the client, when I pressed Numloc

[2015-05-23 18:49] MaxXor commented on #181
I did what you said, but it didn't work. I'll try removing this line and see what happens. :D

[2015-05-23 18:50] ModdersCentral commented on #185
Maybe replace this

asmInfo = new string[8];
                            asmInfo[0] = txtProductName.Text;
                            asmInfo[1] = txtDescription.Text
                            asmInfo[2] = txtCompanyName.Text;
                            asmInfo[3] = txtCopyright.Text;
                            asmInfo[4] = txtTrademarks.Text;
                            asmInfo[5] = txtOrigi

[2015-05-23 18:54] d3agle commented on #181
Thanks!  I just realized, someone recently raised this issue with the programmer who wrote this library, and he claims to have fixed it.  I wonder if the problem is with our logic?

https://github.com/gmamaladze/globalmousekeyhook/issues/4

[2015-05-23 18:55] ModdersCentral commented on #185
Maybe then replace this:

txtInstallname.Enabled = chkInstall.Checked;
            rbAppdata.Enabled = chkInstall.Checked;
            rbProgramFiles.Enabled = chkInstall.Checked;
            rbSystem.Enabled = chkInstall.Checked;
            txtInstallsub.Enabled = chkInstall.Checked;
            chkHide.Enabled = chkInstall.Checked;
            chkStartup.Enabled = chkInstall.Checked;

with this

[2015-05-23 18:57] MaxXor commented on #181
Thanks, I've read it. Urutar also said it's not gone yet. :D Let's see if he can fix it!

[2015-05-24 00:48] d3agle commented on #181
Sent a pull request with some fixes, along with a possible dead-key fix. #186, needs to be tested!

[2015-05-24 01:41] d3agle commented on #181
Tested on Windows 8 VM with success!

![](http://puu.sh/hYbya/6dda3185f0.png)

[2015-05-24 02:55] yankejustin commented on #185
That is very difficult to read... Though it is shorter, it would take a significantly larger amount of effort to go through and make sense of what we are looking at. It is also useful to stay consistent with the rest of the project...
I would also suggest making a pull request for things like this next time, too. :)

[2015-05-24 08:58] #181 closed

[2015-05-24 09:01] MaxXor commented on #149
<h1>Status</h1>
* Fully functional and operational
* Ready to merge into `master`

[2015-05-24 11:41] d3agle commented on #149
Before merging this @MaxXor, I need to fix a bug with the dead-keys.  Pressing the ^ key then Shift + character should produce an upper-case accented character

[2015-05-24 12:26] d3agle commented on #149
dead-key fix #189

[2015-05-24 12:32] d3agle commented on #149
Another bug surfaced, it has to do with how we handle our modifier keys.

![](http://puu.sh/hYCFq/61010173cc.png)

[2015-05-24 13:26] yankejustin commented on #149
@d3agle Out of curiosity, what is your keyboard layout?

[2015-05-24 13:27] d3agle commented on #149
@yankejustin, I'm using German keyboard layout.  (Layout pack DEU) http://clasfaculty.ucdenver.edu/tphillips/GermanKeyboardLayout.html

[2015-05-24 13:28] yankejustin commented on #149
I am on a different machine that supports different characters.
Here is a short list of some good (common) specials to test for:
` ¡ ™ £ ¢ ∞ § ¶ • ª º – ≠
œ ∑ ´ ® † ¥ ¨ ˆ ø π “ ‘ «
å ß ∂ ƒ © ˙ ∆ ˚ ¬ … æ
Ω ≈ ç √ ∫ ˜ µ ≤ ≥ ÷

[2015-05-24 13:33] d3agle commented on #149
Another problem is that some of the accented characters, for example 'Ê' (pressing '^' followed by shift + e), will provide the correct representations from the system, but in our logs it will state a 'E' without the accents.  This doesn't happen with lowercase letters.  Perhaps there is something that happens when converting the character values to strings?

[2015-05-24 13:45] yankejustin commented on #149
https://github.com/d3agle/xRAT/blob/dev/Client/Core/Keylogger/WinApi/KeyboardNativeMethods.cs#L318
Does using <code>Charset.Auto</code> affect us? Shouldn't we specify to marshal the info. using <code>Charset.Unicode</code>?
Also, @d3agle , I would find where our flags are internally being reset somewhere along the lines...
I would also recommend actually looking at the actual logs and making sure

[2015-05-24 13:47] d3agle commented on #149
@yankejustin, I'm not sure.  I will check it out and see if I can produce some results.  Also, the ToUnicodeEx method in https://github.com/MaxXor/xRAT/blob/dev/Client/Core/Keylogger/WinApi/KeyboardNativeMethods.cs#L77 will report the correct unicode value.  However, in the raw data in the KeyPress event, the e.KeyChar value will be of unaccented value (Given the state of holding 'shift + key').

[2015-05-24 14:07] yankejustin commented on #149
https://github.com/MaxXor/xRAT/blob/dev/Client/Core/Keylogger/WinApi/KeyboardNativeMethods.cs#L141
Try <code>while (rc < 1);</code>

[2015-05-24 14:10] yankejustin commented on #149
https://github.com/MaxXor/xRAT/blob/dev/Client/Core/Keylogger/WinApi/KeyboardNativeMethods.cs#L118
Restrict how often that is set to 0. We should not lose that <code>lastVirtualKeyCode</code> so fast... :(

I'm curious why there is a return type <code>bool</code> on this function; it will always return <code>true</code>.

[2015-05-24 14:15] d3agle commented on #149
@yankejustin , I fixed this about an hour ago #189, the system posts the message to the active window with success an accurately, it's only when its translated back into a character we don't have the data

Also, you're right, the return type doesn't matter.  I had to make some modifications to the code to get it to work and I didn't think about changing the method to void.  The only thing we are i

[2015-05-24 14:15] yankejustin commented on #149
Before I leave for a bit, I just wanted to clarify what I said earlier.
There is a location within that method (likely somewhere around where I suggested) that is obviously setting an internal state incorrectly, causing the reflected output to be something that is <b>not</b> what went in. Somewhere along the lines, it is either setting the incorrect internal state or is neglecting to handle it.
La

[2015-05-24 14:18] yankejustin commented on #149
Oh, got it. I will see this again later if it is not fixed. Enjoy your day.

[2015-05-24 14:19] d3agle commented on #149
Thanks.  You too!  When you're available, it would be awesome if you could brainstorm some alternate modifier key designs so we can use (AltGr modifier - which is (Ctrl + alt) but also provides a character)

[2015-05-24 15:26] d3agle commented on #149
@yankejustin, thank you for pointing this out! I have fixed the accenting bug now!

The only thing that appears that is left to do is modify our ModifierKeys design to something that will allow us to use the AltGr modifier (Ctrl + alt + key) as a character representation!

[2015-05-24 16:37] d3agle commented on #149
Reference to this problem:
(The line that is inaccurate with the ^^, I'm not sure why this happens. Press the '^' dead key once then again and it will display ^^ as it would normally, however in our logs it displays once (not applying the dead key as a character)

The problem is the raw event handlers in this case our KeyPress event, the first '^' (caret) is sent to the handler, and added to our p

[2015-05-24 17:48] MaxXor commented on #149
Fixed the bug with the ^^. :)

[2015-05-24 17:50] MaxXor commented on #149
<h1>Status</h1>
* All known bugs have been fixed
* Ready to merge into `master`

[2015-05-24 17:51] d3agle commented on #149
Awesome :) Good job!

We can merge this into master if you are ready to, however we still need to work on modifier keys.

For example, try pressing AltGr and a key to display a symbol, then look at the logs

[2015-05-24 17:52] MaxXor commented on #149
Sorry, I've updated the status. I'll look into this.

[2015-05-24 18:09] DragonzMaster commented on #149
but one thing need to be added >> the time to windows title @d3agle @MaxXor

[2015-05-24 18:10] d3agle commented on #149
@DragonzMaster , good call!

[2015-05-24 21:28] xmizrx commented on #149
Good job you guys ...
the purpose of a key-logger is to log every key that have bean pressed on
the keyboard nothing more ... but since the data will be huge some times
its harder to read the raw data ... so I think you should work on a filter
so that data can be easier to read like this picture below

here is the source

using System;
using System.Collections.Generic;
using System.ComponentModel;

[2015-05-24 21:37] d3agle commented on #149
@xmizrx , that is a nice idea.  Maybe you can add an enhancement for this when we have completed it, kind of like an add-on for the Log viewer for the server!

[2015-05-24 21:48] DragonzMaster commented on #149
but don't forget to ignore special keys (ex escape, up, down, volume ...... etc)

[2015-05-25 00:03] yankejustin commented on #149
Personally, I think we should add this to <code>master</code> now. It is so significantly better than the original keylogger that (because the keylogger in the <code>dev</code> branch has no more major issues) it is up to a polishing point. This should be implemented now and allow the long "polishing" phase to tie with the <code>master</code> branch.

[2015-05-25 00:08] d3agle commented on #149
@yankejustin , sorry I broke it XD.  take a look at #190.  After this I think it SHOULD be good to go, I'm currently testing other possibilities/scenarios with other languages/keyboard layouts that use dead-keys.  If I can't break it after I spend a few more hours with it we should be good to go!

[2015-05-25 00:09] yankejustin commented on #149
@MaxXor Next branch created for <code>dev</code> should be on the next priority: <b>persistence</b>.

[2015-05-25 01:12] DragonzMaster commented on #149
Presistance OR Registry Editor :thought_balloon:  ?? @yankejustin

[2015-05-25 01:42] yankejustin commented on #149
Registry Editor is a minor feature. By minor, I mean that (<i>please</i> tell me if I am incorrect) the process of creation and implementation is rather straight forward. I do not think editing a registry hive by a programming language is difficult. Not much different than a file editor. :)
I will look into it while MaxXor deliberates on the next priority.

[2015-05-25 06:18] rabbitsmith commented on #149
@yankejustin please describe the status of the keylogger so that useless and good-for-nothing people like me can understand

[2015-05-25 06:37] rabbitsmith commented on #171
was the problem solved

[2015-05-25 06:39] rabbitsmith commented on #170
was the problem solved.

[2015-05-25 06:45] rabbitsmith commented on #130
@MaxXor i think this is feasible.we can use ilmerge to combine the protobuf dll , encryption dll and client.exe after compiling them. simply search in google for ilmerge.exe.

[2015-05-25 06:46] rabbitsmith commented on #130
we can merge mono.cecil with xrat.exe

[2015-05-25 06:55] rabbitsmith commented on #144
@bitterypaul your choice of wordings is wrong. @MaxXor we can setup gitter for discussing about next priority instead of cluttering issues such as in issue #149

[2015-05-25 06:57] rabbitsmith commented on #144
@yankejustin my humble request. i cant understand what you mean. sorry because english isnt my first language

[2015-05-25 09:26] d3agle commented on #149
@MaxXor, as @yankejustin said this is good to go

[2015-05-25 10:01] #149 closed

[2015-05-25 10:04] MaxXor opened #194 "[Keylogger] Handle Modifier key AltGr correctly"
When pressing `AltGr + 2` it shows `[Control + Alt + D2]`, correct behaviour would be `²`.
If your keyboard doesn't have an AltGr key, you can also use `Control + Alt` for this.

[2015-05-25 10:06] #128 closed

[2015-05-25 10:09] MaxXor opened #195 "[Keylogger] Add time to Window Title"
Format: `[window title - HH:mm]`

[2015-05-25 10:20] d3agle commented on #194
I will keep looking into this.  From what I've read, and experimented with, this might not be a feasible fix, but I won't give up!

[2015-05-25 10:31] d3agle commented on #194
This explains what I have experimented with.
![](http://puu.sh/hZKAc/138f1acbb1.png)

The differences between the two keypresses resulted in the following, on my system with a german keyboard layout (non german keyboard):
![](http://puu.sh/hZKE0/a03c405a3e.png)

There might be some way to hack this together to detect if the last two KeyDown keys are equivalent to the AltGr input data, as it differ

[2015-05-25 11:16] d3agle opened #197 "Client-builder not saving settings"
not sure why this happened, but I noticed it after trying to build a client with new settings (it didn't prompt me to save my settings)

[2015-05-25 11:20] d3agle commented on #197
not sure why this happened, but I noticed it after trying to build a client with new settings (it didn't prompt me to save my settings)

to reproduce:
delete Bin/Release/Profiles/Default.xml
delete Bin/Release/settings.xml

Start server listen
Build client with new settings
(No prompt to save settings?)

[2015-05-25 12:58] DragonzMaster opened #199 "Adding feature to stop/start keylogger after running the client on remote machine"
when we open the keylogger form can we send a request to the client to get keylogger statue (On/Off)
if it is turned off a button (will be added to keylogger form ) will enabled and when we press it the keylogger starts its work and vice-versa

[2015-05-25 13:09] d3agle commented on #199
There could be a dynamic client settings file that is added that the command handler could read/write to and from

[2015-05-25 13:11] MaxXor commented on #199
No, we will just set a lock file in the Logs folder when the Keylogger should be disabled.
We can easily remove/add (on/off) this file.

[2015-05-25 13:15] DragonzMaster commented on #199
or it could be a registry value
that depends on file GUID for example

[2015-05-25 13:36] rabbitsmith commented on #144
@MaxXor awaiting your reply

[2015-05-25 14:16] #194 closed

[2015-05-25 15:06] rabbitsmith opened #200 "file manager bug"
i tried to download torbrowser to the downloads folder using file manager . I right clicked and selected download. originally the file was in d drive. Before transfer the installer was working . After the transfer the installer shows error.

[2015-05-25 15:08] MaxXor commented on #200
Are you using the a binary compiled from the latest source code or RELEASE3?

[2015-05-25 15:27] rabbitsmith commented on #200
i use the compiled master branch in release mode

[2015-05-25 15:28] rabbitsmith commented on #200
please use any file greater than 30 mb to reproduce the issue

[2015-05-25 15:52] MaxXor commented on #200
Downloaded a 70mb file over File Manager and compared the file hashs, they were equal. Means the files are identical.

[2015-05-25 16:01] MaxXor commented on #200
Please compile from latest source code and try again.

[2015-05-25 16:41] rabbitsmith commented on #200
i tried the latest source code. everything else works fine except this

[2015-05-25 16:42] MaxXor commented on #200
Can you compare the hashs of the two files if they are identical?

[2015-05-25 20:45] yankejustin commented on #199
@MaxXor Like an XML settings file used by the builder form?

[2015-05-25 20:52] yankejustin commented on #135
@MaxXor I have looked into this and it will require use of an external library; it is significantly more low-level than C# can go.

[2015-05-25 20:54] yankejustin commented on #197
I will deal with this. The settings manager should implement <code>INotifyPropertyChanged</code> eventually. :)

[2015-05-25 20:57] #195 closed

[2015-05-25 20:59] DragonzMaster commented on #135
there are more than 1 library you can use @yankejustin
and they are open source so you can add them like ProtoBuf without the need of building the library and make a reference to it just a folder and it should work
there is WinMM.NET and NAudio and another one (i don't remember it :smile: )

[2015-05-26 02:28] yankejustin commented on #199
https://github.com/MaxXor/xRAT/blob/eaf89ef97b953d88e5039f221ae866c1b63e1072/Client/Program.cs#L143
We got the handle to the logger, so we should be able to very easily just store it internally and tell it to <code>Dispose</code> when we are done with it!

[2015-05-26 02:29] yankejustin commented on #199
After disposing it, we can just poke with this value if we wish to enable or disable on startup https://github.com/MaxXor/xRAT/blob/eaf89ef97b953d88e5039f221ae866c1b63e1072/Client/Program.cs#L138

[2015-05-26 05:05] rabbitsmith commented on #200
torbrowser uses nsis. it checks for integrity of files before installation. i already checked the hashes and it does not match. the file sizes are slightly different. after transferring the installer is 257kb smaller than the original, working installer.

[2015-05-26 05:08] rabbitsmith commented on #200
i tried connecting to localhost using xrat to the latest compiled client.exe from master branch running on the same pc. the problem still persists. everything else is fine

[2015-05-26 06:43] MaxXor commented on #200
Why does it work for me, please send me your compiled binaries and I'll test with it.

[2015-05-26 06:51] rabbitsmith commented on #200
i am truly sorry but i couldnt upload the binaries . i use github on a java phone in a 2g network. i compiled xrat using the latest source code in release mode. my phone uplink is stuck somewhere at 400b/s

[2015-05-26 06:52] MaxXor commented on #200
Can you do it when you're at your computer? :)

[2015-05-26 06:52] rabbitsmith commented on #200
maybe the problem is with the os. i use windows 10 technical preview which my friend gave me. the build version is 9879

[2015-05-26 06:53] MaxXor commented on #200
Good that you mention this, I'll test xRAT asap on Windows 10. :) Hasn't been tested yet on W10.

[2015-05-26 06:54] rabbitsmith commented on #200
i have utmost issues connecting my java phone to my pc to connect my pc to the internet. i dont have broadband.

[2015-05-26 06:56] rabbitsmith commented on #200
i have the torbrowser in the root of the d drive. i tried transferring it within lan to another pc with w10 . i also tried the same with xrat connected to localhost

[2015-05-26 07:01] rabbitsmith commented on #200
i also tried the binaries from appveyor. the problem still persists within lan also on localhost

[2015-05-26 07:13] rabbitsmith commented on #200
keylogger is working as expected in release mode. i tried all keys and some combinations and it works perfect

[2015-05-26 07:14] MaxXor commented on #200
Thanks, good to know! :) I'm going to test xRAT on Windows 10 now.

[2015-05-26 07:14] rabbitsmith commented on #200
keylogger is working as expected in release mode. i tried all keys and some combinations and it works perfect in windows 10

[2015-05-26 08:57] rabbitsmith opened #203 "get google chrome history"
if anybody finds this useless, just comment and i will close it. a feature to get google chrome history would be useful. same is the case with other browsers. see this article for more details

http://stackoverflow.com/questions/2562092/how-to-access-google-chrome-browser-history-programmatically-on-local-machine

[2015-05-26 08:59] MaxXor commented on #203
I don't think this is needed.

[2015-05-26 09:06] rabbitsmith opened #204 "using ilmerge to combine dependencies"
i am interested to know whether we could use ilmerge.exe to combine mono.cecil and other libraries (not client.bin and client.exe) with xrat.exe si that we can get a minimized number of dependencies. could be useful to implement needs of issue #130

[2015-05-26 09:07] rabbitsmith commented on #203
we plan to implement password stealer but why not this

[2015-05-26 09:12] MaxXor commented on #204
This is not useful for xRAT.exe, but more for the client.

[2015-05-26 09:12] d3agle commented on #203
I think LaPanthere might have the code for this already, or for decrypting the sql3 .db and accessing the information.

Also I think it would be more suitable to change the name of 'password stealer' to something more non-chalant, perhaps 'password recovery' xD

[2015-05-26 09:14] d3agle commented on #203
lol nvm just realized it was already renamed xD

[2015-05-26 09:14] MaxXor commented on #200
Downloaded latest xRAT from appveyor on Windows 10, transferred tor browser and compared the hashs, they are equal... :( Still can't reproduce this issue.

![File Transfer](https://i.imgur.com/1T5sQo1.png)

[2015-05-26 09:21] rabbitsmith commented on #204
so can we reopen issue #130?

[2015-05-26 10:51] d3agle commented on #81
Shall we start working on solutions for persistence?

[2015-05-26 11:31] MaxXor commented on #81
No, not with this kind of persistence. Maybe we should add a startup persistence which checks every 20min if the startup registry key has been removed and add it then again.

[2015-05-26 11:36] rabbitsmith commented on #81
what if client.exe is terminated

[2015-05-26 11:38] d3agle commented on #81
@MaxXor, right.  Making a process critical will be really bad for this.  I've looked into solutions for process persistence as far as making a process restart itself, etc... and it doesn't look like there will a be a good solution for this.  Start-up persistence, on the other hand, would be viable.  It wouldn't prevent users from being able to 'suspend process -> delete registry value -> terminate

[2015-05-26 11:40] MaxXor commented on #81
@rabbitsmith Then we can't do anything as the process stopped. :c But this form of Process protection is not so good, like @yankejustin https://github.com/MaxXor/xRAT/issues/81#issuecomment-103280791 said.

@d3agle Yes, it's a start that doesn't hurt. :)

[2015-05-26 12:09] rabbitsmith commented on #81
what about @vigneshkarthisan 's idea of a windows service

[2015-05-26 12:13] MaxXor commented on #81
That's possible indeed. I like this idea.

[2015-05-26 12:16] #118 closed

[2015-05-26 12:18] rabbitsmith commented on #81
one drawback though. starting from win 8, task manager shows process started as a service and clicking end task would kill the service

[2015-05-26 12:20] MaxXor commented on #81
It's okay I think. But with a Windows service xRAT starts up whenever the computer is booted, not when just when the user signs in.

[2015-05-26 12:28] rabbitsmith commented on #81
well when you are free try renaming client.exe to something like winlogon, svchost , csrss.exe and check whether it is immune to end process

[2015-05-26 12:31] rabbitsmith commented on #81
http://www.rohitab.com/discuss/topic/36910-process-protect/

[2015-05-26 12:53] d3agle commented on #197
@yankejustin, :+1: sounds good.

Just a little note: changed a setting 'disabled keylogger' and saved the settings, then it prompted me to save settings..  I'm going to assume its a check for a/some setting(s) that doesn't trigger saving the file unless the settings are different than the ones read from the file

[2015-05-26 13:56] #121 closed

[2015-05-26 13:56] MaxXor commented on #121
9 days later. :disappointed:

[2015-05-26 14:05] d3agle commented on #121
It is ok! thank you :)

[2015-05-26 14:14] #197 closed

[2015-05-26 14:29] d3agle opened #205 "Update from local file bug"
To reproduce - build Client, set install path etc.., build another client after installing the first client, then update.  I think the batch file is not able to move the client if names are the same

[2015-05-26 14:31] d3agle commented on #205
If names are different, it will copy the new file, but if names are same it wont.

Also, it does not delete the original (first) client

[2015-05-26 14:35] MaxXor commented on #205
No idea what you are doing wrong, tried what you said and it worked. What names do you mean, the file name specified in the Builder for the install location or the file name after building the client?

Can you please tell me the exact steps to reproduce this.

[2015-05-26 14:44] d3agle commented on #205
Yeah sure, sorry!

Ok, so the first test:
Build client (No install path), put it on Desktop of VM (Make sure to put it in a certain spot so you will notice if it deletes, and moves the new client to another spot -I don't know if auto-arrange matters here).  Execute client on VM.  Build another client with the exact same name, update from file, launch.  The first client on your desktop should delet

[2015-05-26 14:48] d3agle commented on #205
OR if the names are the same, it will try to move the new file to the same install directory, and the old file is not deleted yet so it cannot move the file when it renames it to the same name as the old file

[2015-05-26 14:58] d3agle commented on #205
Ok, so this is not a bug with the update from file.

This is a bug somewhere else, I think in the profiles saving settings!

I put some code in to show a message box from the new client.  It showed the messagebox upon executing, however I changed the registry name with this new file, and it did not show it changed in either msconfig or startup manager.  I think the settings are not saving

[2015-05-26 15:27] d3agle commented on #205
Going to close this, followed the debug for builder and everything seems to be working fine now.  It is weird that it would act this way (not changing registry names after executing)

[2015-05-26 15:27] #205 closed

[2015-05-26 15:39] d3agle commented on #205
@MaxXor , after further investigation, the reason it isn't deleting the registry is because we are disconnecting the file instead of uninstalling! ;D

[2015-05-26 17:03] d3agle opened #207 "Server forms not closing upon client disconnection"
@MaxXor, Couldn't find where to handle this.  If you have time could you look into this?  This stopped working after moving disposing the forms into the Server's Client.cs class (Disconnect method).

If I uninstall a client/disconnect a client, this method is never called.

[2015-05-26 17:21] #207 closed

[2015-05-26 17:36] MaxXor commented on #207
I fixed also another bug, the client did not get removed from the `_clients` list of the server correctly.

[2015-05-26 17:49] MaxXor opened #209 "Release Candidate for RELEASE4"
Please download the artifcats from the latest [AppVeyor](https://ci.appveyor.com/project/MaxXor/xrat) builds in Release mode and help testing all features for the next RELEASE4. Please report all bugs you find.

I think the current status of the `master`-branch is stable, some minor bugs only I hope.

[2015-05-26 18:04] d3agle commented on #209
Other than the little bugs that were recently fixed, Reverse Proxy in context menu has no icon! XD

I'll continue to try and break things, but everything seems stable!

[2015-05-26 18:04] MaxXor commented on #209
Gonna add one. :D

[2015-05-26 19:06] DragonzMaster opened #212 "Restore DIR in Save [Client] Dialoge"
Please @MaxXor
can we replace this line :
https://github.com/MaxXor/xRAT/blob/master/Server/Forms/FrmBuilder.cs#L269
with :
  sfd.RestoreDirectory = true;

as it is very annoying to change the directory every time you save the client and anyone can select Desktop from the side menu
If you agree i can send PR

[2015-05-26 19:42] yankejustin commented on #81
How about basic DLL hijacking?

[2015-05-26 20:03] #212 closed

[2015-05-26 21:38] #84 closed

[2015-05-26 23:32] yankejustin commented on #209
We need to also test these features for multiple clients. I doubt most of us are testing many of these features using more than one client.

[2015-05-26 23:42] yankejustin commented on #204
This does not minimize the number of dependencies. In essence, we still would be dependent on external libraries that we have little control of. This would have the unfortunate side-effect of making things more difficult.

[2015-05-26 23:44] yankejustin commented on #120
I doubt it, unless MaxXor is willing to add another library to handle it. Things like webcam and microphone functionality are incredibly low-level and are rather complex. It would be far too time-consuming to re-invent the wheel and make this ourselves.

[2015-05-26 23:49] yankejustin commented on #209
@MaxXor :)

<h1>Remote Shell issue</h1>
<h4>Problem:</h4>
Server tells client to execute commands with the word "exit" in certain ways that are not ordinary, causing behavior that is not very desirable.
<h4>Reproduction of the issue:</h4>
<b>Examples of offending text:</b>
1. <code>exit exit</code>
3. <code>start exit exit</code>

[2015-05-27 00:42] yankejustin opened #216 "Remote Shell Input Issue"
I figured I should place this in an issue instead placing it inside another issue. :)

<h1>Remote Shell issue</h1>
<h4>Problem:</h4>
Server tells client to execute commands with the word "exit" in certain ways that are not ordinary, causing behavior that is not very desirable.
<h4>Reproduction of the issue:</h4>
<b>Examples of offending text:</b>
1. <code>exit exit</code>
2. <code>start exit exit<

[2015-05-27 00:49] yankejustin opened #217 "Registry Editor Icon"
@MaxXor I would greatly appreciate it if you would please add an icon on the main form for the Registry Editor. :)

[2015-05-27 02:55] DragonzMaster commented on #217
Can I suggest this ?
https://thecustomizewindows.com/wp-content/uploads/2010/11/regedit-icon.png

[2015-05-27 02:59] yankejustin opened #218 "Multiple icons in the icons menu"
<h1>Issue Description</h1>
After initializing the xRAT server and closing the main form in a way besides the [X] button, the icon remains (as visible in <b>Figure 1</b>). This is often a common issue with many programs, but perhaps it can be fixed for xRAT. :)

<h4>Reference</h4>
<b><a href="https://github.com/MaxXor/xRAT/blob/master/Server/Forms/FrmMain.cs#L186">This line</a></b> is never hit whe

[2015-05-27 03:02] yankejustin commented on #217
@DragonzMaster Please don't blatantly disregard their <b><a href="https://thecustomizewindows.com/copyright-policy/">copyright policy</a></b>...

[2015-05-27 03:15] DragonzMaster commented on #217
I am really sorry @yankejustin
I deleted the comment

[2015-05-27 03:18] yankejustin commented on #217
I'll delete mine, too. Just please always be respectful of others' intellectual property. :large_blue_circle:

[2015-05-27 03:19] DragonzMaster commented on #217
I forgot this ... it was my fault

[2015-05-27 06:54] #216 closed

[2015-05-27 07:04] MaxXor commented on #218
This is a common problem when the application gets closed unexpectedly, but this shouldn't be the case in normal use of xRAT.

See: https://social.msdn.microsoft.com/Forums/windows/en-US/73c33537-c5d7-4cff-9faa-0a6a0d4a65b4/notifyicon-icon-still-visible-after-closing-form?forum=winforms

[2015-05-27 07:05] #218 closed

[2015-05-27 07:26] #217 closed

[2015-05-27 08:39] rabbitsmith commented on #107
yes. ping class is supported in both 2.0 and in 3.5 cp

[2015-05-27 08:45] rabbitsmith commented on #204
fortunately we can create separate projects for common classes like protobuf and encryption.

[2015-05-27 10:19] rabbitsmith commented on #209
afaik xrat is stable but in win10 the remote desktop does not start sometimes when start button is clicked. (at least for me). probability of not starting is 20 of 100 . and file manager download isnt sorking for me

[2015-05-27 10:20] rabbitsmith commented on #209
afaik xrat is stable but in win10 the remote desktop does not start sometimes when start button is clicked. (at least for me). probability of not starting is 20 of 100 . and file manager download isnt working for me

[2015-05-27 10:27] d3agle commented on #209
@rabbitsmith, i'll be doing some testing with win10.  What is your build of win10 is you don't mind me asking?

[2015-05-27 10:36] rabbitsmith commented on #209
9879 64bit

[2015-05-27 10:42] d3agle commented on #209
@rabbitsmith, Thank you.  I'm using the Windows 10 Pro Insider Preview (Build 10074 32bit) and everything seems to be working fine for me.  If I recall correctly, you had mentioned your uplink was slow.  Perhaps this could be a factor?

[2015-05-27 10:46] d3agle commented on #209
Do you have any other OS's you could test this on?

[2015-05-27 10:57] rabbitsmith commented on #209
my isp bans uploading of files. i have a data plan only on my phone. i test xrat only on lan with two pcs running win10 9879

[2015-05-27 10:58] d3agle opened #219 "Remote Desktop Mouse & Keyboard Support"
I think it would be helpful to have more functionality as far as mouse input goes.  Currently we are only able to click/double click/right click.  If we want to move a window to somewhere else on the screen we aren't able to drag the window to another location.  Also, if there are a cluster of files we are wanting to highlight, it becomes a difficult and overwhelming task.  This would also make a

[2015-05-27 11:01] rabbitsmith commented on #209
the file manager transfer is really fast but on my pc the integrity of files isnt assured. i transferred a 7mb file with no errors and hashes matching. the problem still persists for files larger than 15 mb.

i mentioned my uplink was slow because i couldnt upload the xrat binaries and the screenshot.

[2015-05-27 11:08] d3agle commented on #209
Thank you for the information.  I will try and emulate this problem you are having.

[2015-05-27 11:25] d3agle opened #220 "Bug: stopping listen server"
http://i.gyazo.com/26a6765e013a1adbb86ffd207177a4b6.mp4
http://i.gyazo.com/ff89b6a3eeb3930b8ae65cf6b7efeff4.mp4

Client stays connected, even though server stops listening, the client still responds to commands
Just to note, all 3 of these clients are connected over LAN.

This is the behavior over NAT on my VMs using a DNS to connect to the server
http://i.gyazo.com/831a01646f49a61ed8b298cbcc2db5b

[2015-05-27 14:16] rabbitsmith commented on #200
i found that upload and executing torbrowser installer works fine. when i download torbrowser from a client over lan multiple times the sizes differ each time

[2015-05-27 15:01] rabbitsmith opened #223 "Remote Shell Bug - Handle correctly Console Output when Input required"
when we type an unrecognised command(say abcghfrvj.exe) we dont get a message 'abcdghfrvj.exe is not recognised as an internal or external command, operable program or batch file'. also we can improve the command pause.

[2015-05-27 15:27] yankejustin commented on #218
Thank you for the reference.

[2015-05-27 15:28] yankejustin commented on #217
Thank you!

[2015-05-27 15:37] rabbitsmith opened #224 "file manager enhancements"
a feature to move, copy files within the client's computer and features to eject and displaying properties of files, showing transfer speeds in transfers tab, opening a folder by pressing enter key, feature to search for a specified file or folder, making refresh option as an icon instead of a right click menu, upload here, compute hash(rarely used,optional), etc

[2015-05-27 16:07] yankejustin commented on #209
@MaxXor I apologize if this is a foolish question, but would it be possible to add me as a contributor?

[2015-05-27 16:09] rabbitsmith opened #225 "remote desktop bug- does not respond after ctrl alt del"
if we press ctrl alt delete while the remote desktop session is started and then escape key is pressed, remote desktop window in xrat.exe does not respond. no input can be sent to client and then the picture does not update even after stopping and starting the remote desktop session. the only way to get it to work again is to close the remote desktop window and opening it again.

[2015-05-27 16:15] d3agle commented on #225
O_o, just tried this and it kills my client, it just crashes

[2015-05-27 16:20] d3agle commented on #225
fixed

[2015-05-27 16:22] rabbitsmith opened #226 "client.exe terminates when ctrl alt del is pressed."
When i checked pressing the ctrl alt del key combination the client.exe terminates by itself. This is a very serious bug. We need to find the root cause.

[2015-05-27 16:22] rabbitsmith opened #227 "client.exe terminates when ctrl alt del is pressed."
When i checked pressing the ctrl alt del key combination the client.exe terminates by itself. This is a very serious bug. We need to find the root cause.

[2015-05-27 16:24] d3agle commented on #227
Is Keylogger enabled?  Is xRAT open and are you running the remote desktop?

[2015-05-27 16:27] rabbitsmith commented on #226
sorry, this is a duplicate. my bad. bcoz of my outdated phone.

[2015-05-27 16:27] #226 closed

[2015-05-27 16:33] yankejustin commented on #225
Hold on. I re-wrote some of it.

[2015-05-27 16:35] rabbitsmith commented on #227
keylogger is enabled. xrat is open and i am running the remote desktop. when not running the remote desktop the problem does not occur. it seems you have alrrady fixed this. let me keep.this issue open until your pull request is merged into master. please check out the issue #223 #224

[2015-05-27 16:37] yankejustin commented on #225
This way, the client will continue attempting to use Remote Desktop while it is still active, even if something happens in between transfer (likely the client can't correctly handle it correctly).

[2015-05-27 16:40] d3agle commented on #227
This bug pertains to #225, you can close this one :)

[2015-05-27 16:41] d3agle commented on #225
@yankejustin, yeah, its because graphics.copyfromscreen cant find the handle when the ctrl + alt+ delete screen is open, throwing a win32exception

[2015-05-27 16:42] rabbitsmith commented on #227
ok friend

[2015-05-27 16:42] #227 closed

[2015-05-27 16:42] yankejustin commented on #225
Yeah I know. I just didn't realize at first what the ctrl+alt+delete screen does to the operating system.

[2015-05-27 16:43] d3agle commented on #225
Perhaps there is some alternatives to graphics.copyfromscreen?  I don't think a try catch block would affect performance too much, or would it?

[2015-05-27 16:44] yankejustin commented on #225
Think of it this way: performance is not comparable when the output is not right. If try-catch blocks aren't there, we can't say it is more efficient or works faster because it will <b>not</b> be the right end result. An end result that is not correct is infinitely slower in my eyes.

[2015-05-27 16:46] yankejustin commented on #225
As for try-catch blocks, it ends up being almost the exact same speed. If an exception is thrown, it is a tiny bit slow, but it is desirable thing to have 1/2 a millisecond of performance hits at max instead of a crashed application. :)
I have tested try-catch blocks and there is no difference.

[2015-05-27 16:48] d3agle commented on #225
That makes sense!  I couldn't notice a visible performance hit either :P

[2015-05-27 16:48] yankejustin commented on #225
As a reference, the reason we do not surround <i>every method</i>  in try-catch blocks is because it is important to handle the exceptions <b>in the correct spot</b>. Otherwise, behavior is not enforced, GUIs are not set to the correct state, and the upset client gets frustrated. :)

[2015-05-27 17:19] #225 closed

[2015-05-27 17:19] #220 closed

[2015-05-27 17:20] #203 closed

[2015-05-27 17:20] MaxXor commented on #204
No.

[2015-05-27 17:20] #204 closed

[2015-05-27 17:27] MaxXor commented on #224
Why do you reference 227 everywhere?? Stop that.

[2015-05-27 17:43] yankejustin commented on #216
I am working on this still...
<h4>Additional offending text</h4>
1. <code> exit</code>
2. <code>(alt+255)</code> <--- The "null" value.

[2015-05-27 17:44] MaxXor commented on #209
@yankejustin You are doing a great job here for the project, but I would add only reluctantly somebody. I hope you understand this. :)

@rabbitsmith You have a pretty scary ISP if it bans uploading of files. :o Is this restricted to all kinds of files? You should upgrade your Windows 10 to the latest preview version, maybe there's the problem.

[2015-05-27 17:49] yankejustin commented on #209
@MaxXor Yes I understand. Unfortunately adding contributors is a huge jump in power since it is a public repository.
I think we really should fix Remote Shell before we release the next version of xRAT. The input it accepts is still very lenient, such as <code> exit</code> (simple trimming of the command, then checking). It also doesn't provide error output of the client's shell yet. I almost have

[2015-05-27 17:51] MaxXor commented on #209
Ok. :)

I have just added the trimming.

[2015-05-27 18:21] d3agle opened #230 "Mainform needs fix"
not sure which control this is

but notice the scroll bar
![](http://puu.sh/i2Gr2/2ef660a5d8.png)

[2015-05-27 18:32] MaxXor commented on #230
lol, fixed.

[2015-05-27 18:32] #230 closed

[2015-05-27 18:32] d3agle commented on #230
:D

[2015-05-27 18:47] d3agle opened #231 "Form listviewitem null reference"
I have no clue why this is happening, but i installed 50 clients on a VM, and tried updating them all at once.  The first time my server crashed and stopped responding.  I tried debugging it but it wasn't throwing any exceptions when debugging.  The only lead I have is from trying to disconnect an item that is still in the listview and it is claiming "object reference not set to an instance of an

[2015-05-27 18:51] MaxXor commented on #231
Hm, tested it on Windows 7 and working fine. What settings did you use for the 50 clients? And what for the update?

[2015-05-27 18:54] d3agle commented on #231
Normal settings, no installation, different mutex for each, keylogger disabled.

Selected all 50, update from file, server stopped responding after it got down to ~25
The second time, it went down to ~15 clients.  This time, the clients were still in the listview and the server did not crash, however when trying to execute a command on the client I would get a null reference exception dialog claim

[2015-05-27 18:58] d3agle commented on #231
Just got an exception in debugger

![](http://puu.sh/i2J0C/e42fef49c6.png)

[2015-05-27 19:03] MaxXor commented on #231
What's null, the `ListViewitem`, the `Tag` or `client`??

[2015-05-27 19:03] d3agle commented on #231
@MaxXor, ListViewItem

[2015-05-27 19:05] d3agle commented on #231
Would placing a lock be appropriate in a case like this?  I think it's caused by clients disconnecting asynchronously while the delegate method has a reference to a listviewitem that is no longer created

[2015-05-27 19:06] MaxXor commented on #231
Can you check if it's working with a `lock`? Could be the reason.

[2015-05-27 19:06] d3agle commented on #231
Sure, will try now

[2015-05-27 19:07] d3agle commented on #231
I'm sorry, I've no idea where to place the lock or what object to lock.

[2015-05-27 19:09] d3agle commented on #231
I'm assuming lstClients would be the object to lock!

[2015-05-27 19:13] MaxXor commented on #231
place the `lock (lstClients)` right before the foreach-loop.

[2015-05-27 19:14] d3agle commented on #231
Hmmm nope, still happening :(

Placed a lock on lstClients around the loop and still getting null reference

[2015-05-27 19:19] MaxXor commented on #231
I can't reproduce this still, do you use Upload Update or Update via Download from website?

[2015-05-27 19:20] d3agle commented on #231
Update from file, I'm looking there now in the code and wondering if the threading has something to do with it.

[2015-05-27 19:20] MaxXor commented on #231
The thread is just there so the upload process doesn't freeze the form, this shouldn't be the problem..

I can't reproduce this with 40 test clients. :(

[2015-05-27 19:25] d3agle commented on #231
Hmmmm, well it doesn't happen every time, it's happened 3 times out of 6 tests.  It is really weird that the listviewitem is nulled... I will keep trying to see what might be happening

[2015-05-27 19:29] d3agle commented on #231
One thing that I've noticed, is after highlighting the all of the ListViewItems and updating, some of the listview items de-select (aren't highlighted) when the clients start to update and disconnect

[2015-05-27 19:30] MaxXor commented on #231
@d3agle that's no problem as the selected clients will be copied into a list. :)
https://github.com/MaxXor/xRAT/blob/master/Server/Forms/FrmMain.cs#L358

[2015-05-27 19:32] d3agle commented on #231
I noticed that :) I'm stepping through to see what might be happening lower into it the code

[2015-05-27 19:38] d3agle commented on #231
What about using LINQ to select the client from the list view with the specified tag?

[2015-05-27 19:50] yankejustin commented on #231
@MaxXor @d3agle Placing a lock on <code>lstClients</code> is useless. The lock is violated whenever <code>lstClients</code> changes. Consider creating a <code>const</code> or <code>readonly</code> object for locking. Ensure the object used to lock <i>will not change</i>.

[2015-05-27 19:53] yankejustin commented on #231
I am actually going to re-do this quite a bit (similar to the RemoteShell changes I just made). Though invoking on the form works, we really need to separate the logic that should be kept in the form (GUI-modifying) with the things that <i>really</i> should be kept separated entirely.

[2015-05-27 19:53] d3agle commented on #231
I will try that.  Just wanted to point this out, not sure if its placebo or perhaps the cause, but I get the null reference exception when I use my middle mouse wheel to scroll through the list while the clients are disconnecting/updating.  Scrolling through the list (with mouse wheel) while the clients are selected I notice that one of them/some of them de-select.  When I update them all, and qui

[2015-05-27 19:56] yankejustin commented on #231
To also answer your question above, <i>yes</i>, this is a threading issue. :)

[2015-05-27 20:02] itapi opened #233 "cant find client...."
hey bro.. first of all i would like to say ur job is amazing as i could so from the features :)

i've compiled the server but than i tried to set the client as startup project and debug it too but it just notworking... nothing appears... o.O

[2015-05-27 20:06] yankejustin commented on #233
You need to right-click on the "Client" project and press "Rebuild". After that, start the <b>"Server"</b> project. Use the "Server" project to build the client executable file, then run the client executable file that was generated. :)

<b>Additional Reference:</b>
<b><a href="https://github.com/MaxXor/xRAT#building-a-client">Building Clients</a></b>

[2015-05-27 20:17] yankejustin commented on #71
@MaxXor This can be closed.

[2015-05-27 21:21] d3agle commented on #231
After removing this line: https://github.com/MaxXor/xRAT/blob/master/Server/Forms/FrmMain.cs#L193

I no longer have this issue.  Is this event used for anything in particular?

[2015-05-28 04:39] rabbitsmith opened #235 "reverse proxy clarification"
sorry for making noise but i really couldnt understand what reverse proxy does. please could someone explain this elaborately. thanks.

[2015-05-28 05:07] rabbitsmith commented on #71
why

[2015-05-28 07:36] #71 closed

[2015-05-28 07:36] #223 closed

[2015-05-28 07:45] yankejustin commented on #235
As much as I personally dislike not giving a direct answer, please understand I hate to type the exact same thing (usually applies well in code too... hehe)
Read the comments in <b><a href="https://github.com/MaxXor/xRAT/issues/103">this issue</a></b>.

[2015-05-28 07:51] yankejustin commented on #224
About half of these features have already been suggested and are open (awaiting implementation by whichever contributor that wants to implement it).
Could you possibly revise this issue and remove features already suggested please? Also, remember Github supports most HTML tags, so you could use (un)ordered lists to make multiple requests easier to address.
<b><a href="https://help.github.com/artic

[2015-05-28 07:54] yankejustin commented on #185
@MaxXor This can be closed. Changes like this should probably be made into a pull request, or should  be in a discussion style arguing the style to use for the program. :)

[2015-05-28 08:02] yankejustin commented on #233
@itapi If you need more help I can message you a few more details to get it running. Just e-mail me at: yankejustin@hotmail.com

[2015-05-28 09:02] MaxXor commented on #231
Would you mind checking the issue after the latest commit?

[2015-05-28 09:03] #235 closed

[2015-05-28 09:03] #185 closed

[2015-05-28 10:33] d3agle commented on #231
It it still happening.  I do believe this is a threading issue, due to the inconsistency of being able to reproduce this bug.  It happens quite a bit when I highlight 50 clients -> update from file -> de-select them all, and then select some of them as they are disconnecting.

[2015-05-28 11:52] d3agle commented on #231
Another strange thing I've noticed that is probably related to this is when I disconnected 100 clients at once, this was the result.  Notice the text is drawn differently in one listviewitem

![](http://i.gyazo.com/17253c47cd01e1017b8e8135a4e618b4.png)

[2015-05-28 16:28] yankejustin opened #236 "MessageBox Enchancement"
Limit the length of the text that is allowed to be placed in the "Show Messagebox" command on the server side to prevent extremely large message boxes (they can't be closed by the client and it is annoying).
On the client side, truncate any text outside of a range around 256 characters or so.

[2015-05-28 20:03] MaxXor commented on #231
Working on a fix for this.

[2015-05-28 22:25] #231 closed

[2015-05-28 22:28] #236 closed

[2015-05-28 22:28] MaxXor commented on #236
Server side limitation is enough I think. :)

[2015-05-29 02:08] yankejustin commented on #236
Sounds good.

[2015-05-29 03:16] yankejustin opened #237 "Question about Merging Upstream"
<h4>Preceding Note</h4>
I normally don't post questions that are not directly relevant to xRAT, but I feel it is important to ask you, MaxXor, since this is a bit of an issue for me regarding xRAT contributions (and a few others, I have noticed).
<hr />
<h1>Context</h1>
I have been doing some work on the <code>RegistryEditor</code> branch. Because it is something I contribute that is lower in prio

[2015-05-29 03:18] yankejustin commented on #233
@MaxXor This can be closed. Haven't heard a response, and the comments above should be enough help to get it running. :)

[2015-05-29 03:27] yankejustin commented on #120
@MaxXor This can be closed. In later stages, perhaps. However, the complexity of this feature (especially in C#) exceeds the complexity of xRAT... In short, it would be a very <b>major</b> addition.

[2015-05-29 05:56] DragonzMaster opened #238 "MultiPort Listener [Server Side] & Backup DNS [Client Side]"
I suggest to add multi-port listener to the server
and each port can have its own PW
We also can add backup DNS TO reduce the case of losing clients

[2015-05-29 06:04] rabbitsmith commented on #238
i support this idea.

[2015-05-29 07:15] DragonzMaster commented on #238
we will wait to know MaxXor opinion about that

[2015-05-29 08:13] #233 closed

[2015-05-29 08:44] MaxXor commented on #238
I already saw this in some other RATs. My question is: Has anyone actually used this? I didn't.

[2015-05-29 08:46] MaxXor commented on #237
It's okay to have merge pull requests from `MaxXor/master` in your history, these merge pull requests will be later ignored anyways. Well, the other way I can think of is backing up your files and re-create the fork, but this can be a lot of work.

[2015-05-29 08:49] DragonzMaster commented on #238
I can understand this
but it will be useful for someone else

[2015-05-29 09:34] rabbitsmith commented on #238
what about adding freedns.afraid.org support as it requires only a secret key and does not need username and password for updating

[2015-05-29 12:08] d3agle commented on #231
Unfortunately, the problem persists :( The behavior is worse after the update.

[2015-05-29 13:34] MaxXor commented on #231
@d3agle Why?

[2015-05-29 13:49] d3agle commented on #231
This is what it is like closing the server: http://i.gyazo.com/63622aefcab03cfeb09e9b43e451097d.mp4

http://gyazo.com/abfa94f451e178aa046d5c42ee1a31e6.mp4
"Cross-thread operation not valid: Control 'lstClients' accessed from a thread other than the thread it was created on."

The problem I was referring to is the behavior when updating/disconnecting clients.  sometimes the listviewitem will stay i

[2015-05-29 13:50] MaxXor commented on #231
The closing server behaviour was the same before, lol. Well, yea I'm still working on a final fix for this disconnection bug.

[2015-05-29 13:52] d3agle commented on #231
Oh ok, I hadn't really tested closing the server prior to this update.  I'm stumped on why this is happening, but I hope you can fix it!  It's so annoying lol

[2015-05-29 13:53] MaxXor commented on #231
Yes, sure. The server just tries to make a clean disconnect from the client. x)

[2015-05-29 16:06] yankejustin commented on #237
Okay, thank you.

[2015-05-29 16:06] #237 closed

[2015-05-29 16:39] yankejustin commented on #231
@d3agle Please try it out now. As I have said before, locking on <code>_clients</code> is actually useless in a spot that messes with the object.
<br />
<h2>Example:</h2>
1. Acquire a lock on <code>_clients</code>.
2. Disconnecting user, so remove entry 0 from <code>_clients</code>.
3. Another thread tries to enter. The previous entering thread acquired a lock on <code>_clients</code>, but <code>_

[2015-05-29 16:58] d3agle commented on #231
I tried your branch and I think we are closer to the culprit.

I installed 100 clients, and tried reconnecting them all at once.  5 of them stayed in the listview and I was given an exception here: System.NullReferenceException: Object reference not set to an instance of an object at 'xServer.Core.Misc.ListViewColumnSorter.Compare(Object x, Object y) at line 51.

[2015-05-29 17:03] yankejustin commented on #231
I forgot to implement a lock for <code>GetSelectedClients</code>. Couldn't sort correctly because of multiple access to <code>lstClients</code>. x)
Try again. :)
If needed, add to <b><a href="https://github.com/MaxXor/xRAT/pull/239">my pull request</a></b>.

[2015-05-29 17:06] d3agle commented on #231
Got deadlock somewhere :O

[2015-05-29 17:15] d3agle commented on #231
Strangely enough, this happens when 6 clients are selected.  When 5 clients are selected, it will leave one unhighlighted.  Anything <= 4 will function fine :|

[2015-05-29 20:55] yankejustin commented on #231
@d3agle Please try it again and see if this is better.

[2015-05-29 21:06] d3agle commented on #231
@yankejustin, My previous comments were towards the most recent commit, https://github.com/yankejustin/xRAT/commit/cdfe93f69a6fa89da522a40717040c44117d0d60

Prior to locking in the GetSelectedClients method it worked fine (didn't get deadlock after sending commands to less than 4 clients, 5 had weird behavior, 6 or more would cause a deadlock)

[2015-05-29 21:09] yankejustin commented on #231
@d3agle Right, I forgot to clarify that I just changed it 16 minutes ago. Try withthe newest change and see if it still deadlocks.

[2015-05-29 21:10] yankejustin commented on #231
If it still does not work then I think I have a strong idea what will. :)

[2015-05-29 21:10] d3agle commented on #231
I don't see any changes from the last commit :X

[2015-05-29 21:14] yankejustin commented on #231
@d3agle Sorry, forgot to press <i>sync</i>! x)

[2015-05-29 21:14] d3agle commented on #231
:D no problem, testing now

[2015-05-29 21:15] yankejustin commented on #231
Mind if I ask your exact methods of testing?

[2015-05-29 21:20] d3agle commented on #231
Well, since I was too lazy to generate random mutex in the code for the builder, I spend about 5 minutes creating 100 clients name 1.exe - 100.exe.  Put them in a folder -> Copied to VM -> executed them all.  Then I test them without debugger first, to see what runtime errors might occur trying various different things (Mainly habitual things).  Then if any errors occur, I test the same situations

[2015-05-29 21:21] d3agle commented on #231
Mainly looking for behavior consistency/inconsistency

[2015-05-29 21:22] yankejustin commented on #231
Ew... I see a cross-thread exception in <code>GetSelectedClients()</code> that is in the <code>MaxXor/master</code> branch. I am going to fix that very quick.

[2015-05-29 21:22] d3agle commented on #231
Ok, the deadlock is still occuring, however it doesn't happen as often.  It appears to happen when about ~60 clients have disconnected

[2015-05-29 21:25] yankejustin commented on #231
What are you doing before it locks?

[2015-05-29 21:25] d3agle commented on #231
I'm selecting all the clients, and sending reconnect/disconnect commands.  It's locking at random times

[2015-05-29 21:25] d3agle commented on #231
I don't touch anything after I send the commands

[2015-05-29 21:27] MaxXor commented on #231
I have a fix ready, please don't work on this now. :)

[2015-05-29 21:29] d3agle commented on #231
Sounds good :+1:

[2015-05-29 21:30] yankejustin commented on #231
Oh, okay...

[2015-05-29 21:31] yankejustin commented on #231
That is funny because I just fixed the eventhandlers and I believe the rest, @d3agle xD

[2015-05-29 21:35] yankejustin commented on #238
MultiPort listeners are not possible to implement on a TCP connection...

[2015-05-29 21:36] MaxXor commented on #231
I made a lot more changes.

[2015-05-29 21:38] yankejustin commented on #231
Looks delicious. Nice work. :)

[2015-05-29 21:39] MaxXor commented on #231
Thanks, I this should also fix other cross-threading problems which may occur too.

[2015-05-29 21:43] MaxXor commented on #209
Please do some more tests, the last commits changed a lot of things.

[2015-05-29 21:53] d3agle commented on #209
Nice changes! I'm having trouble breaking things now! :'(

[2015-05-29 22:21] d3agle commented on #231
I cannot break it.  Good stuff.

http://i.gyazo.com/e1e73e57e3a30b78d5f82d5287832d1b.mp4

[2015-05-29 22:27] yankejustin commented on #231
Gorgeous. :)
I do eventually want to use a bit of <code>SuspendLayout()</code> and <code>ResumeLayout()</code> so it doesn't flicker so much like that.

[2015-05-29 22:32] d3agle commented on #231
@yankejustin, take a look at this as well http://www.virtualdub.org/blog/pivot/entry.php?id=273

Perhaps this could be useful :D

[2015-05-29 22:32] yankejustin opened #240 "Unused event?"
I am unsure what the <b><a href="https://github.com/MaxXor/xRAT/blob/master/Server/Core/Server.cs#L50">ClientWrite</a></b> event is being used for. It seems as though it isn't used for anything.

[2015-05-29 22:35] yankejustin commented on #231
LOL... "ListViewWithLessSuck"
That made my day. :)
<hr />
Eventually I do want to give some of the controls some love where it is needed, but that could be a bit of a pain.

[2015-05-29 22:43] d3agle commented on #231
That's true :( but it would definitely be an appealing touch.  I haven't looked into theming extensively, but it might be a fun little side-project.  It would be really cool if we had features to have different themes/color schemes.  But the flickering is pretty annoying, just looks unclean lol.

[2015-05-29 22:47] yankejustin commented on #231
Yes, I agree. It is something I feel is important for the next version. I want to make it look much better, but that will certainly take some effort.

[2015-05-30 02:59] DragonzMaster commented on #238
What I mean Is making the server accept connection from (for Example) 2 clients one of them connecting through Port 4782 and the other connected to port 5782
the second point I mean to add a backup DNS to the Client and if the client can not connect to the primary DNS It will try to connect to Backup DNS @MaxXor
So how it can be impossible ?? as It is already implemented in other RATs ? @yankejust

[2015-05-30 03:41] yankejustin commented on #238
@DragonzMaster I have looked into it more since my last comment and I just must say... <i>What a mess trying to maintain it</i>. It just is not at all convenient, especially for the difficulty of managing it with the lack of benefits.

[2015-05-30 03:50] yankejustin commented on #238
And about <i>"the other RATs"</i> that do <i>this</i> and <i>that</i>, just remember that because other projects have it, we may not have a use for it so it is not implemented.
Instead of comparing xRAT (as I unfortunately see often), please give a little bit of insight as to <b>why</b> some of these things are important to the project and perhaps a little <i>cost (time, effort, etc.)-benefit</i>

[2015-05-30 03:52] yankejustin commented on #238
As for the back-up DNS, that should be a separate enhancement for itself. I actually think it is useful thing to implement just so a client may know where to go. Perhaps it could be in a drop-down in the Builder Form and can be edited when connected to the server.

[2015-05-30 04:01] DragonzMaster commented on #238
Thanks Guys For Your Valuable Time
And I'AM NOT COMPARING IT WITH (ANOTHER RAT) BUT I AM HOPPING TO SEE THIS PROJECT THE BEST EVER
I am SORRY I will Close this untill I finish my exams and see if i can implement it myself as you said @yankejustin

[2015-05-30 04:01] #238 closed

[2015-05-30 04:07] yankejustin commented on #238
I'd like it if you would open another issue only for the back-up DNS, though. That is something I am actually going to implement because I dislike relying on one unchangeable one. :)

[2015-05-30 04:08] DragonzMaster commented on #238
OK I will do it

[2015-05-30 04:12] DragonzMaster opened #242 "Enhancement : Backup DNS [Client]"
Adding a feature allows to add another DNS (backup DNS) which the client try to connect To in the case of failure to connect through the primary DNS

[2015-05-30 06:11] MaxXor commented on #231
Just add your new Listview code to this file: https://github.com/MaxXor/xRAT/blob/master/Server/Controls/ListViewEx.cs

And see if the flickering is gone. :D

[2015-05-30 06:43] MaxXor commented on #240
Yes, it's there so we have an event for each action: Write, Read, State. Just for completeness.

[2015-05-30 06:43] #240 closed

[2015-05-30 06:58] yankejustin commented on #231
:+1:  :hankey:  :+1:

[2015-05-30 06:59] yankejustin commented on #240
Oh, I see. I excluded documentation for it because of lack of use at the moment. I was just curious, so thank you for the response. :)

[2015-05-30 07:03] MaxXor commented on #240
Would you like to add the documentation for the Write event too? :)

[2015-05-30 07:05] yankejustin commented on #219
<h1>Related Issues:</h1>
1. <b><a href="https://github.com/MaxXor/xRAT/issues/126">Issue 126</a></b>
    - Keyboard input from the remote desktop and remote combinations handling.
2. <b><a href="https://github.com/MaxXor/xRAT/issues/112">Issue 112</a></b>
    - Mouse input from the remote desktop to the client.

[2015-05-30 07:07] yankejustin commented on #240
I think you should because it would be much more clear to express the intent.
I'm going to add more documentation to a few large spots tomorrow night. Have a good night. :)

[2015-05-30 07:08] MaxXor commented on #240
Ok, you too! :)

[2015-05-30 11:13] DragonzMaster opened #243 "Keylogger miss some keys combination"
If I Hold Control[Ctrl] Key and press 'a' for example it logged and while holding Ctrl i pressed another letter 'c' for example it is logged like :
[Control + A]
instead of :
[Control + A] [Control + C]

------------------
the problem occurs also when i press Ctrl key and for example Up arrow and will holding Ctrl I pressed Down arrow  it is logged like :
[Control + Up] [Down]
Instead of :
[Contro

[2015-05-30 11:48] d3agle commented on #243
This is because of how the keys are processed.  The keys are logged on a KeyUp event, so when you press Ctrl + A and you are still holding control key down, it will clear the keys when you let up on 'A', so Control won't be recorded the next time you press 'C' (Unless you let up off of control).

One way to fix this would be to record the keystates of modifier keys with GetKeyState/GetAsyncKeyStat

[2015-05-30 13:39] d3agle commented on #243
Now that I think about it I'm not sure this would be easy to do, as far as logging keys accurately, given the logic already implemented.

[2015-05-30 14:46] yankejustin commented on #243
@d3agle I've come to realize that keylogging is never easy! hahaha
There are a few solutions I can think of. Maybe we should restrict the clearing of modifiers even more.

[2015-05-30 14:50] yankejustin opened #244 "Next Release Goals"
<h1>Possible Goals for the next release</h1>
- Multi-Language support
- Add ability to install Client as Windows Service
- Control re-designs and other large visual improvements (likely to move to WPF)
- Usability improvements / ease of use changes
- Search in Keylogger Logs
- Add Registry Editor (assigned to @yankejustin)
- Improve File Manager (#262)
- Add ability to group clients
- Fix Keylogge

[2015-05-30 15:09] MaxXor commented on #244
I'll improve the implementation of `OnClientFail` in RELEASE4 already! Good job on this list. :+1:
We'll use this first post to update the list, so newest information is always at the top of this issue.

[2015-05-31 11:17] DragonzMaster opened #245 "Add User@PC Name to main menu ListView and use it in keylogger"
Hi @MaxXor
Please, I want to know if there is any problem if we add User Name and PC name to main menu listview like [User@PC-Name] to make it easier to know which client we deal with
And If we can make the folder created in [Clients Folder] will be like User@PC-Name instead of IP as ISP in many countries don't offer static IP so there will be new folder every time the router restarts
I wait for y

[2015-05-31 14:24] rabbitsmith commented on #245
this is a very useful feature. i support this.

[2015-05-31 14:26] MaxXor commented on #245
Will be added before the release of the next version. :) I want this in the next release.

[2015-05-31 14:40] yankejustin commented on #245
Good. Didn't even think about it.

[2015-05-31 15:07] d3agle commented on #243
@yankejustin, Indeed.  How can we restrict the modifiers even more?  I've thought about some solutions but because we are handling the logging of keys in the KeyUp event, we might have to change the way we log the keys altogether.

[2015-05-31 15:10] d3agle commented on #245
Awesome idea this is very helpful, and will also help to segregate clusters of clients that share the same IP address.

[2015-05-31 15:21] d3agle opened #247 "Enforcing client selection in ListView"
Would it be feasible to enforce that all clients that have been sent a command remain selected, or are forced to remain selected?

Not sure why this is happening, but in a scenario with 100 clients selected, sending disconnect command to all, sometimes it will un-select the most top portion of clients, and the remaining clients in the listview at the bottom will be sent the command.

I'm selecting

[2015-05-31 15:30] d3agle commented on #247
Nevermind.  This is happening after sending a command to all clients to open a form.  For example: selecting all clients -> opening remote desktop -> opens 100 remote desktop forms.  After that, only a portion of the clients remain selected

[2015-05-31 15:30] #247 closed

[2015-05-31 15:34] d3agle commented on #209
There is a noticeably large memory leak in the server.
To reproduce: Launch 50-100 clients.  Select all -> Send reconnect command -> watch xRAT.exe in taskmgr -> repeat sending reconnect commands when clients reconnect

[2015-05-31 17:22] #245 closed

[2015-05-31 17:24] MaxXor commented on #209
Updated the client & server a bit again, added some more locks & fixed the documentation. The [Server.cs](https://github.com/MaxXor/xRAT/blob/master/Server/Core/Server.cs) documentation is complete, the Client.cs 50% each.

Gonna work on this memory leak now.

[2015-05-31 18:25] d3agle opened #248 "Add more ways to obtain GeoIP information"
Would it be possible to add multiple methods to obtaining GeoIP information, or a more reliable way to obtain the information?  There are times where getting the GeoIP information doesn't work very well and the image flag isn't retrieved.  This has been happening often lately.

Also, not sure if this is intended but the country flag is located in the User@PC column.  Should it be located in the IP

[2015-05-31 18:36] MaxXor commented on #248
Fixed the small bug, yes maybe one more. :)

[2015-05-31 18:40] d3agle opened #249 "Client builder bug"
Settings: ![](http://puu.sh/i7qnR/9cbf09c6aa.png)

Client will still write to registry, even though it shouldn't

[2015-05-31 18:41] d3agle commented on #248
Sounds good, thanks. :)

[2015-05-31 18:51] MaxXor commented on #249
Easy, fixed it.

[2015-05-31 18:52] d3agle commented on #249
Thanks!

[2015-05-31 18:52] #249 closed

[2015-05-31 19:23] d3agle commented on #231
Is this what you guys mean by flicker?  I'm still noticing some weird behavior
http://i.gyazo.com/6fed8b019d8d2f20c9e639206a67aff6.mp4

[2015-05-31 19:26] MaxXor commented on #231
This is the GUI (listview in this case) which updates when each client gets removed from the list, not the real flickering like it was before.

[2015-05-31 19:36] #248 closed

[2015-06-01 01:45] yankejustin opened #251 "Port number data type"
<h1>Change Requested:</h1>
The port number is currently stored as an <code>int</code>. While we currently parse the text from the Settings Form as a <code>ushort</code>, the data type used to store the port number is an <code>int</code>.

[2015-06-01 05:25] yankejustin opened #254 "Performance Enhancing"
<h1>Context</h1>
With the desirability of many possible connected clients or tasks that may otherwise be intensive or expensive even for a few clients, some changes are necessary to fix the large memory usage and much of the CPU usage of the server.

<h1>Reasons</h1>
At first glance, it is visible that the <b>Client</b> object is expensive: the client has a variable named <code>Value</code> that s

[2015-06-01 05:55] MaxXor commented on #251
huh? The client and server stores the Port as `ushort` already??
https://github.com/MaxXor/xRAT/blob/master/Server/Core/Server.cs#L15
https://github.com/MaxXor/xRAT/blob/master/Client/Config/Settings.cs#L14

[2015-06-01 05:57] yankejustin commented on #251
I apologize. I misread.

[2015-06-01 05:57] #251 closed

[2015-06-01 07:38] Abdullah2993 commented on #242
any recommendations for the DNS provider?

[2015-06-01 12:01] DragonzMaster commented on #242
Which DNS Provider ?? @Abdullah2993

[2015-06-01 23:09] DragonzMaster opened #255 "User@PC doesn't show correctly in listview"
I have faced this problem but I really don't have any idea why this is happening
Anyone else has faced this problem ?
![xrat](https://cloud.githubusercontent.com/assets/12255107/7925362/f35f62ba-08c3-11e5-88d5-96b6560de491.png)

[2015-06-01 23:11] DragonzMaster commented on #255
Oh my bad I really sorry i forget to update these Clients
I apologise :smile:

[2015-06-01 23:11] #255 closed

[2015-06-02 05:56] MaxXor commented on #255
Strange enough that they even connect and are shown there. :D Usually this doesn't work when you are using a newer server version as the client version.

[2015-06-02 06:15] DragonzMaster commented on #255
I was using Commit 591 Before Updating to Commit 601
so maybe there is no much changes applied that affect the connection between Server & Client :smile:

[2015-06-02 06:34] DragonzMaster opened #256 "Startup Manger Shows NOTHING"
I tried to get startup entries but the form opens and shows nothing
I tried with more than one client but still shows nothing
I tried on my PC using "localhost", it worked
anyone else face this problem ??

-------------------------------------------------------------------
EDIT : even after using latest commit (616)
![xr3](https://cloud.githubusercontent.com/assets/12255107/7957679/97ab4034-09e9-1

[2015-06-02 06:35] MaxXor commented on #256
Maybe the PCs don't have any startup entries?

[2015-06-02 06:41] DragonzMaster commented on #256
No, I am sure that there are startup entries
I forgot to to mention that the statue of client [server side] is "Startup information failed"

[2015-06-02 06:42] MaxXor commented on #256
I see the mistake, the users are probably running the client under normal privileges, not admin right?

The client also tries to get the

[2015-06-02 06:46] DragonzMaster commented on #256
no even if the client run under admin privil. the same problem happens
![xrat2](https://cloud.githubusercontent.com/assets/12255107/7929942/e1b65f1a-0903-11e5-87ee-ee18a5c17a66.png)

[2015-06-02 06:49] MaxXor commented on #256
ok, I'll see if i can fix this later today. :)

[2015-06-02 06:51] DragonzMaster commented on #256
Ok, Thanks in advance. :smile:

[2015-06-02 13:35] ModdersCentral opened #257 "Batch File Improvement"
Sorry that i cant put it in a pull request.
Also how do i put labels on, any-time i click labels it sends me to the list of things with that label

ECHO OFF
CLS
:MENU
ECHO.
ECHO ...............................................
ECHO PRESS 1, 2 to select your task, or 3 to EXIT.
ECHO ...............................................
ECHO.
ECHO 1 - Build Debug
ECHO 2 - Build Release
ECHO 3 - EXIT
ECHO.

[2015-06-02 14:27] MaxXor commented on #257
Only I can add labels, but no sorry the existing build.bat's are enough.

[2015-06-02 14:27] #257 closed

[2015-06-02 21:19] MaxXor commented on #209
Does the memory leak fix work reliable for you?

[2015-06-02 21:39] d3agle commented on #209
It is working fine for me.  Memory is being reallocated, and I haven't noticed too much of a performance issue.

[2015-06-02 22:00] yankejustin commented on #209
Would you be able to provide a rough estimate of the cpu cost? It is nice to know it isn't as big of a hit as I thought. :)
Not quite sure how many times the garbage collector would try to compress the LOH...

[2015-06-02 22:01] yankejustin commented on #209
@MaxXor Also, thanks for the "green apple"! x)

[2015-06-02 22:24] d3agle commented on #209
Surprisingly, the only significant CPU usage that occurs is when the server is allocating the resources for each client.  My i7 2600k jumps from 0% idle to ~25-35% when the clients are connecting.  When I sent a command to reconnect 100 clients, my CPU usage jumped up to ~7%

[2015-06-02 23:31] yankejustin commented on #209
@d3agle I would appreciate if you would check the performance change on <b><a href="https://github.com/yankejustin/xRAT/tree/Experimental">my experimental branch</a></b> to see if what I did helps out with the CPU usage.

[2015-06-03 01:23] DragonzMaster commented on #256
@MaxXor  Please, Are you sure that it is working now ??
as it seems that it doesn't work even after using latest commit (615)

[2015-06-03 02:09] yankejustin commented on #255
@MaxXor It hilariously functions both ways. I opened up a server from the second release by accident and it still worked. Not every feature was working 100% with the client, but it still worked. I also have opened up a really old client on a new server. Though the client was very unstable, little has changed in the way the connections are handled to a point where it is surprisingly backwards-compa

[2015-06-03 02:12] yankejustin commented on #256
I have tested this and it is working fine for me now. Perhaps this has something to do with you using Windows 8.

[2015-06-03 02:17] DragonzMaster commented on #256
Did you test it with your PC or a client (not on your LAN ) ? @yankejustin

[2015-06-03 03:07] DragonzMaster commented on #256
the only one who i can get startup entries from @MaxXor
a small bug appears,  as you see the file located in startup folder but is shown under HKLM/RUN
![xr2](https://cloud.githubusercontent.com/assets/12255107/7951952/718ea250-09ae-11e5-96a6-21875a89eef9.png)

[2015-06-03 03:56] lordcedrich opened #260 "Cant detect the client"
Hi Sir,

I would like ask if the xRAT Release 3 supported the static ip? im just wondering why i cant detect the client on my network and my Server pc ip is 192.168.0.2 and the client is 192.168.0.55.

[2015-06-03 05:43] MaxXor commented on #260
Please use the latest version from the master-branch from here: https://ci.appveyor.com/project/MaxXor/xrat

Be sure to have your ports opened.

[2015-06-03 05:43] MaxXor commented on #255
Nice. xD

[2015-06-03 05:49] MaxXor commented on #256
@yankejustin your count variable fucked it up a bit... :(

[2015-06-03 05:51] MaxXor commented on #256
You forgot that there was an IF (https://github.com/MaxXor/xRAT/commit/dc5bef821ee3bb8786bac25cb836a8b846f31ee5#diff-102b515604a387697dd3c8a5c16b8227L106) so it wasn't couting right on 32bit systems.

[2015-06-03 08:34] DragonzMaster commented on #256
Please, @MaxXor Can you reopen this issue as I still have this problem.

[2015-06-03 10:25] yankejustin commented on #256
Oh, wow. I apologize.

[2015-06-03 12:56] DragonzMaster commented on #256
@MaxXor
Using Commit 618
![x4](https://cloud.githubusercontent.com/assets/12255107/7960404/aa4933ba-0a00-11e5-9386-d65b2f0dbefc.png)

[2015-06-03 13:18] MaxXor commented on #256
Thanks, okay try now the latest commit. It should fix this issue.

[2015-06-03 13:43] DragonzMaster commented on #256
Oh finally it works good, Thank you very much @MaxXor
Well Done :+1:  :100:

[2015-06-03 13:43] #256 closed

[2015-06-03 13:43] MaxXor commented on #256
No problem!!

[2015-06-03 15:33] lordcedrich opened #261 "Critical Disk Error"
Hi Sir,

Im encountering an error Critical Disk Error when launching the release client.exe
Im using windows 7 32 bit and all the visual effects has been set to the  adjusted to the best performance. Im using the latest release in branch master

"Multiple corrupted files has been found in the directory 'My documents' , To prevent serious loss of data please allow to restore these files.

Corrupted

[2015-06-03 15:44] lordcedrich commented on #260
Hi Sir,
Im just wondering if i can download all the master-branch in 1 downloading? I just download the zip files and it seems the codes is not been updated.

     On Wednesday, June 3, 2015 1:43 PM, MaxXor <notifications@github.com> wrote:

 Please use the latest version from the master-branch from here: https://ci.appveyor.com/project/MaxXor/xratBe sure to have your ports opened.—
Reply to this

[2015-06-03 15:52] DragonzMaster commented on #261
This happen if you only open a client with elevation trick turned on

[2015-06-03 15:54] DragonzMaster commented on #260
Here you can download the source code updated to latest commit
https://github.com/MaxXor/xRAT/archive/master.zip
then unzip it and open (build-release.bat)

[2015-06-03 16:16] #261 closed

[2015-06-03 16:36] MaxXor commented on #261
Just think about this.

[2015-06-04 01:40] lordcedrich commented on #261
so you mean i need to turned it off? but how

[2015-06-04 08:27] madified opened #262 "File Manager [Enhancement]"
I believe add these features will enhance the functionality of File Manager.
=> "Enter" and "Back" key support for browsing.
=> Date Modified
=> Upload a file/folder
=> Search

[2015-06-04 14:19] yankejustin commented on #262
Is there no upload a file? I had thought drag-drop was possible, or atleast it was on the right-click menu...

[2015-06-04 19:18] #260 closed

[2015-06-05 03:42] lordcedrich opened #264 "Requesting for Computer Name"
Hi,

I would like to request to add a computer name in the column title bar, in my opinion it is useful to the user to identify the computer in the network.

[2015-06-05 06:42] DragonzMaster opened #265 "More than one Client having the same User@PC"
As shown in the picture there are 2 Client having the same User@PC
so when I get keylog for example from one of them the server overwrite the other's logs
So we need to think about solution to solve this like : Short HWID (may be 6 chars long) so we can avoid this problem

------------------------------------------
![xr4](https://cloud.githubusercontent.com/assets/12255107/8000716/9e86987e-0b5e-11

[2015-06-05 09:35] MaxXor commented on #265
Each client already sends a unique ID, we can use this for example.

[2015-06-05 09:36] MaxXor commented on #264
In the latest commit User@PC is already included, (PC = computer name).

[2015-06-05 09:52] DragonzMaster commented on #265
OK, That would be nice
We just need to make the created folder for each client ended with Uniqe ID
For ex: User@PC_E5F2A

[2015-06-05 09:58] DragonzMaster commented on #265
Sorry I forget to ask you if is it possible to replace the IP with (User@PC) in the Client Forms title [File Manger, Startup Manger ....] ?? @MaxXor
Excuse me if you find my English bad :)

[2015-06-05 15:21] yankejustin commented on #265
Your English is fine, DragonzMaster. :)

[2015-06-05 15:22] yankejustin commented on #265
Is it not possible for different clients to have the same local domain name?

[2015-06-05 16:10] DragonzMaster commented on #265
@MaxXor : Is the Unique ID that Client send is changeable ( I mean that if the client disconnect or restarted it will be changed ) ??
If not we can use it to name the client's folder (for ex ) like : User@PC_UniqueID
@yankejustin : Thanks :)

[2015-06-05 16:29] MaxXor commented on #265
Yes it is, will be changed.

[2015-06-05 16:40] #265 closed

[2015-06-05 21:16] yankejustin commented on #261
My admin privileges hurt. ;)

Don't worry, we all can get fooled by a trick sometimes. :100:

[2015-06-05 21:18] yankejustin commented on #261
<b><a href="https://github.com/MaxXor/xRAT/blob/master/Client/Core/Elevation/FrmElevation.cs#L122">Reference</a></b>

[2015-06-05 21:30] MaxXor commented on #261
@yankejustin feel free to correct it. :)

[2015-06-05 21:36] DavesPlanet commented on #251
@MaxXor part of this proposed change would allow the port number to be configurable, allowing you to recover if you lost your VPN service. The other part would allow for at least one fallback DNS entry for the host, allowing you to recover if you lost your DNS service. I find both of these to be very valuable features.

[2015-06-05 21:36] yankejustin commented on #261
@MaxXor There is no problem, I just wanted to give lordcedrich and any others that may stumble upon this issue in the feature insight that this is actually not an issue, but rather is a social engineering trick. :)

[2015-06-05 21:39] yankejustin commented on #251
@DavesPlanet You may have misunderstood my purpose for opening this issue:
I had misread the data type for the port, mistaking the <code>ushort</code> it correctly uses and instead thought it was an <code>int</code>. There was no issue besides my misunderstanding of what is currently <i>correctly</i> used.

[2015-06-05 23:17] DragonzMaster commented on #265
Thanks @MaxXor

[2015-06-06 07:08] #264 closed

[2015-06-07 02:10] yankejustin commented on #254
The biggest performance kicker is management of the buffers. For this reason, I this issue will be closed.

[2015-06-07 02:10] #254 closed

[2015-06-08 13:50] MaxXor commented on #209
Could anyone help me test the branch `dev-buffer`? I think I'm done improving the buffer management.

Changes: https://github.com/MaxXor/xRAT/pull/263#issuecomment-109762339

[2015-06-08 15:38] yankejustin commented on #209
@MaxXor Think we could add an <code>#if DEBUG</code> at the builder to allow the creation of multiple clients at one time for easier testing of many clients? It would certainly save some time!
Perhaps add a little TextBox for numeric input at initialization of the Builder Form in <code>DEBUG</code> mode to generate that many clients. :)
I will help you test it tonight.

[2015-06-08 15:39] MaxXor commented on #209
What I do while testing is replacing the setting `MUTEX` with `public static string MUTEX = Guid.NewGuid().ToString();`

[2015-06-08 15:42] yankejustin commented on #209
Hmmm. Perhaps I could do a bit of changes to make a new Configuration for testing multiple clients by imitating the <code>RELEASE</code> setting. Would you suppose such an addition would be beneficial?

[2015-06-08 15:42] yankejustin commented on #209
That is a nice point about the <code>MUTEX</code>. Thank you for the reminder.

[2015-06-08 23:22] yankejustin commented on #209
@d3agle @MaxXor Would you please help me test my <b><a href="https://github.com/yankejustin/xRAT/tree/NewConfiguration">new configuration</a></b> that I made for testing multiple clients please? The only part that does <b>not</b> work is the client. The client just crashes and I am not quite sure why. After starting all the clients, they just stop working.
Perhaps I set a setting for the client in

[2015-06-09 00:17] yankejustin commented on #209
Oh wait. I take that back. The client doesn't work for me on the <code>MaxXor/dev-buffer</code> branch at all. I'm going to open an issue for it: it likely is not the fault of my code on the new configuration. We shall see...

[2015-06-09 00:19] yankejustin opened #266 "Client does not work on MaxXor/dev-buffer"
<h1>Issue:</h1>
The built client on the <code>MaxXor/dev-buffer</code> branch does not function. It states that the application has crashed (Windows' message says the program has stopped working). I have no details on this yet but it renders the built clients useless...
<h1>Notes</h1>
I am able to the client functioning in the <code>DEBUG</code> configuration. The <code>RELEASE</code> configuratio

[2015-06-09 00:43] d3agle commented on #209
@yankejustin, @MaxXor changed the namespace for the networking part of the client/server to `xCore.Client.Networking` but forgot to add it in the `Build/Renamer.cs`.

That should fix it

[2015-06-09 00:43] d3agle commented on #209
Sorry, I meant `xClient.Core.Networking`

[2015-06-09 00:54] yankejustin commented on #209
Oh, good. Thank you! :)

[2015-06-09 00:55] yankejustin commented on #266
d3agle fixed the issue. :)

[2015-06-09 00:56] yankejustin commented on #209
@d3agle Would you mind sending me a pull request please? I would like to test my new configuration. :)

[2015-06-09 00:57] yankejustin commented on #209
I think it would help you out quite a great deal.

[2015-06-09 01:00] d3agle commented on #209
I'm sorry I don't understand, what would I be sending a pull request for?  I'll pull your branch and test it out. :D

[2015-06-09 01:06] yankejustin commented on #209
I did notice I forgot to exclude the <code>Label</code> for configurations other than <code>MULTI_CLIENT</code>... I will fix it in a minute. :)

[2015-06-09 01:21] d3agle commented on #209
How would I go about creating multiple clients?  I changed both Build options for Client/Server but I don't see anything where I can select how many Clients to create.

[2015-06-09 01:38] yankejustin commented on #209
If you select the "Multi-Client Release" Configuration, re-build the server and run it. You should see it on the bottom-right corner of the Builder Form.

[2015-06-09 01:43] yankejustin commented on #209
Make sure you restart Visual Studio because adding the new configuration meant I had to modify the project files.

[2015-06-09 06:18] lordcedrich opened #267 "Is it possible to run bat files?"
On upload and execute, Is it possible to upload and execute a bat files and not only a .exe file on remote target pc?

[2015-06-09 06:31] MaxXor commented on #267
I'm sure we can add this.

[2015-06-09 06:43] lordcedrich commented on #267
This kind of function will be included on the next release?

[2015-06-09 07:22] MaxXor commented on #267
No, sorry. I've added it to the Goals of RELEASE5.

[2015-06-09 16:09] yankejustin commented on #209
@d3agle Sorry to bug you again but I am unable to see the reason why my <code>yankejustin/NewConfiguration</code> branch still won't build functional clients... Is there any change you can see that could be the cause of this?

[2015-06-09 17:14] yankejustin commented on #266
I am still having this problem. Hmmm. Would someone possibly be able to tell me if they're working using the <code>MaxXor/dev-buffer</code> branch please? My clients simply <b>will not</b> function. They crash about two seconds after starting them.

[2015-06-09 17:58] MaxXor commented on #266
Yea, the renaming is the reason. I need to exclude more namespaces, damn.

[2015-06-09 18:06] MaxXor commented on #266
Fixed it now finally.

[2015-06-09 18:06] #266 closed

[2015-06-09 18:24] yankejustin commented on #266
Thank you. I didn't even catch that first mistake! x)

[2015-06-09 19:46] MaxXor commented on #266
Same for me. :dart:

[2015-06-09 19:48] yankejustin commented on #266
Is it working for you now? My clients are half-connected but aren't showing up on the <code>ListView</code>.

[2015-06-09 21:09] MaxXor commented on #266
Can you better explain what you mean with half-connected? :)

[2015-06-09 21:34] d3agle commented on #209
@yankejustin, No worries, I'm hardly ever bugged. :)  I can take a look tonight when I'm free.

[2015-06-09 21:36] MaxXor commented on #209
@d3agle Would you like to also test the new client & server from `dev-buffer` in Release mode? :)

[2015-06-09 21:40] d3agle commented on #209
@MaxXor, Sure thing.  I've already played with it a little bit, and everything seemed good.  Memory usage was down dramatically, as well as CPU usage.  I believe that there was one instance where only some of the clients connected out of all 100, however I'm unsure if it was a fault on my part with testing or if there is a bug somewhere.  I can look into it as well! :)

[2015-06-09 21:41] MaxXor commented on #209
@d3agle Yea, that would be great if you can find the cause for it mayb. :)

[2015-06-09 22:26] yankejustin commented on #266
I was debugging and saw the client in the <code>_clients</code> list (where we hold all of our clients), and I saw it tries to disconnect them (throwing an <code>ObjectDisposedException</code> that was caught but still showed up) on the amount of clients I tried to connect...
It seems almost if they're not entirely connected, though, because they don't show up in some spots like the GUI.

[2015-06-10 01:34] yankejustin commented on #209
@d3agle In my case, I can get <b>no</b> clients to connect correctly. Any that I try to start will crash on this configuration...
<h1>More Information</h1>
1. Operating System
    - Windows 7 Home Premium
    - Service Pack 1
2. System
    - Processor: Intel(R) Core(TM) i7 CPU    -    920 @ 2.67 GHz 2.67 GHz
    - RAM: 16 GB
    - System type: 64-bit Operating System
3. Connection
    - Local Conn

[2015-06-10 02:45] d3agle commented on #209
@yankejustin, when the client crashes it should leave a metadata file in `%temp%` and it should show what exception is being thrown runtime.  Could you try to get the client to crash again?  Instead of closing the dialog that pops up, allow it to collect the information and it will display another dialog with a path to the `.dmp` file and an `.xml` file (the xml file will contain the info)

[2015-06-10 04:07] yankejustin commented on #209
@d3agle A client from earlier this morning was used, so it works to some extent. My current issue is having the client show up in the GUI using the latest dev branch. While the client does connect successfully (and is stored in <code>_clients</code>), the client is not shown in the <code>ListView</code>. I cannot also do things like show the Statistics (states that there are no connected clients).

[2015-06-10 10:06] MaxXor commented on #209
The `ObjectDisposedException` is normal when clients are connected and the server stops listening, because at [this line](https://github.com/MaxXor/xRAT/blob/dev-buffer/Server/Core/Networking/Client.cs#L206) it can't receive anymore from the socket. :)

Well, I've tested this now with multiple clients using the RELEASE mode and it's working fine, with enabled/disabled startup and installtion.. :di

[2015-06-11 08:22] MaxXor commented on #209
This issue should be gone now, can you confirm this with the latest commit? :)

[2015-06-11 20:53] d3agle commented on #209
@MaxXor, good work!  I apologize but I won't be able to participate for ~3 weeks.  I have a lot of work to do in school, and I need to concentrate on this work instead.  Keep up the good work guys! :+1:

[2015-06-11 20:55] MaxXor commented on #209
@d3agle Thanks. No problem! =)

[2015-06-12 00:05] yankejustin commented on #209
Yeah I have been pretty busy these last few days. I will test tonight if I can.

[2015-06-14 19:02] #209 closed

[2015-06-16 02:50] DavesPlanet commented on #251
@yankejustin actually I'm just too stoopid to realize this was a discussion of a bug report and not of the pull request. Sorry for my ignorance.

[2015-06-20 16:55] yankejustin opened #270 "Remote Shell Issue"
<h1>Problem</h1>
The Remote Shell error output is currently not functioning. I am receiving the standard output contents of the Remote Shell and it is correctly being used by the server, but for some reason the error output is not seen on the Remote Shell.
<h1>Notes</h1>
Since the standard output is being sent and correctly used by the server, it is likely an issue with the client's way of gatheri

[2015-06-20 17:17] #270 closed

[2015-06-20 17:18] MaxXor commented on #270
Working fine now. :)
![RemoteShell stderror](https://i.imgur.com/Jg6SEGO.png)

[2015-06-20 17:46] yankejustin commented on #270
Great. Thank you! :)

[2015-06-21 14:39] yankejustin opened #271 "Remote Webcam Capture"
We probably need a library to capture the webcam and stream it to the server.

Library for webcam:
- AForge.Video.DirectShow
- AForge.Video

https://code.google.com/p/aforge/

[2015-06-21 20:47] DragonzMaster commented on #271
i think there are .net open source libraries able use to do this .. so we don't need c++

[2015-06-22 01:22] yankejustin commented on #271
@DragonzMaster Please back that statement up with a link because I have been searching for some time now. x)

[2015-06-22 16:23] DragonzMaster commented on #271
you can stream webcam using "AForge.Video.DirectShow"
-  "AForge.Video" libraries
you can also stream microphone using "Naudio" library
I hope you find these links useful

-----------------
https://code.google.com/p/aforge/
https://github.com/naudio/NAudio

[2015-07-06 16:58] werkamsus opened #272 "Client not responding"
If you try to either click multiple times in Remote Desktop, or keep Remote Desktop + Task Manager open at the same time, the client won't respond anymore. Although the process is still open and it is running the while (_connected) { Application.DoEvents(); Thread.Sleep(2500); } loop in Program.cs .

I've been trying to find a way to prevent this, but haven't come up with a solution yet.

Help wou

[2015-07-06 18:22] MaxXor commented on #272
Seems like the client can not receive messages anymore then. I'll look into this.

[2015-07-06 18:23] werkamsus commented on #272
Yeah, it seems as if it just stops to respond to anything if you send too many / different packets in quick succession

[2015-07-07 21:45] MK73DS commented on #271
Yes please add these features :) It would be really helpful :)
I didn't have enought skills to add them myself, so if someone can do that it would be very great :D

[2015-07-07 23:22] werkamsus opened #273 "File Manager Bug"
If you try to download a file that either exceeds a certain file size (approximately 4mb, could be more / less depending on bandwith) the client goes in the same no-response loop as with the Remote Desktop Bug, and shows a negative download ID.
This connection issue does NOT crash the client, and the idle loop on its 2500ms sleep timer continues to run.

This might have something to do with maxing

[2015-07-08 09:14] #272 closed

[2015-07-08 09:14] #273 closed

[2015-07-08 09:14] MaxXor commented on #272
I think this should be fixed now, the File Manager bug too. :)

Can you confirm with the latest commits?

[2015-07-08 10:27] werkamsus commented on #272
Can confirm that the bug is fixed locally, have to wait for a friend to assist me in order to confirm it to be working in a real environment.

Thanks for the fix! :)

[2015-07-10 02:51] AlienHack opened #275 "File Manager Disconnected"
Hello, I have an issue when trying to download file larger than approximately 1-2 MB using the yesterday build.

When downloading file(large and small) with local machine, the file manager work just fine, but if i'm trying to download file (1MB ++ ) from remote PC, the connection was lost and disappeared then it reappeared after a while.

[2015-07-10 02:54] AlienHack commented on #275
![screenshot_5](https://cloud.githubusercontent.com/assets/8213866/8611329/9f575a26-26e9-11e5-9859-ea61cac84edd.png)

[2015-07-10 09:39] MaxXor commented on #275
Thanks, I can reproduce this and already partly fixed it. Now it seems only to disconnect when the file is over 300MB. I will push the commits soon.

[2015-07-10 10:08] xDESTROYx commented on #275
same problem.

[2015-07-10 10:37] MaxXor commented on #275
Will be fixed today. :)

[2015-07-10 12:28] MaxXor commented on #275
Can you test if the bug is fixed for files < 400MB?

[2015-07-11 04:09] AlienHack commented on #275
Okay, will test and gonna report it here

[2015-07-11 14:42] yankejustin commented on #275
@MaxXor Have you found the reason it was not initially working, or was the logic for networking just flawed in this area?

[2015-07-11 14:42] yankejustin commented on #275
I now have some free time again, and I would certainly not mind cleaning up this area before going back to the Registry Editor!

[2015-07-11 14:44] MaxXor commented on #275
@yankejustin The networking was the problem here. You can work on the registry editor, I'll do this here. :)

[2015-07-11 14:44] yankejustin commented on #144
@MaxXor Do you suppose we could use this now? It would be nice to discuss a few ideas. :)
It would also help remove many of the issues we currently have open.

[2015-07-11 14:46] yankejustin commented on #275
Got it. I have a request since I have to go to work for a while: would you mind helping me fix some conflicts from all of the commits since I last was able to work on the Registry Editor and submit a PR to that branch? It would help very much. :)
Thank you!

[2015-07-11 16:36] AlienHack commented on #275
I've tried download 120 MB file, it's working fine. I think this commit resolved the problem.

[2015-07-11 16:38] MaxXor commented on #275
@AlienHack Nice to hear that it's working! Thanks.

[2015-07-11 16:40] Abdullah2993 opened #277 "[Plugin Support] Architecture discussion"
I'm currently working on plugin support for xRat. So far what I have in mind is something like UploadAndExecute where you send the plugin assembly over to the client. The client then execute the Plugin Method and sends the response back to the server where it is handled using the same plugin assembly. The architecture so far is quite messy so I'm open to any suggestion or architectural  change.

[2015-07-11 16:45] MaxXor commented on #144
Added it now. :) You can visit it here: https://gitter.im/MaxXor/xRAT

[2015-07-11 17:02] #275 closed

[2015-07-11 21:39] xDESTROYx opened #278 "The new release of old bot stop working ?"

[2015-07-11 21:39] xDESTROYx commented on #278
translate google.

[2015-07-11 23:53] yankejustin commented on #277
Hmmm.
Out of curiosity, what will the plugin support offer that UploadAndExecute won't?
The beauty of the above feature is that we have a basic client we build, then we can execute any custom functionality we wish via the existing UploadAndExecute.