[2015-07-11 23:54] yankejustin commented on #278
What is your native language? Perhaps one of us speaks it. I am not entirely sure what is being asked.

[2015-07-11 23:55] yankejustin commented on #144
Thank you. It is appreciated. :)

[2015-07-12 02:35] Abdullah2993 commented on #277
@yankejustin well UploadAndExecute is dumb you give it an exe it downloads it to AppData and the executes it and nothing.
With plugin system you can write any kind of functionality with custom display and whatever and all of this will be in memory first you send your plugin to the client which will load it using Assembly.Load and execute the functionality and sends the response back to the server

[2015-07-12 02:57] yankejustin commented on #277
Oh. Implementation of a dynamic loading system is actually easier than UploadAndExecute.
Also, saying UploadAndExecute is dumb because it does exactly what it is named is a bit odd.
Anyways, I would finally like to clarify that this is not like UploadAndExecute. It is dynamic loading and is actually rather easy.
<br />
After sending the assembly for the client to load, the client loads it in and w

[2015-07-12 02:57] yankejustin commented on #277
A relevant idea is to add some form of shadow copying functionality.

[2015-07-12 06:57] MaxXor commented on #278
I'm going to release a small bugfix-update because I think the latest release at the moment contains some serious bugs in the networking code.

[2015-07-12 09:03] xDESTROYx commented on #278
yankejustin, language russian.

[2015-07-12 09:04] xDESTROYx commented on #278
MaxXor, thanks.

[2015-07-12 09:18] MaxXor commented on #278
No problem. If you haven't already, you can download the latest release here: https://github.com/MaxXor/xRAT/releases

[2015-07-12 09:18] #278 closed

[2015-07-12 09:31] xDESTROYx commented on #278
MaxXor, Do not connect the bots from RELEASE 4 (

[2015-07-12 09:37] MaxXor commented on #278
Take a look at these update instructions: https://github.com/MaxXor/xRAT/wiki/Updating-a-Client

[2015-07-12 09:59] xDESTROYx commented on #278
It turns out for each version is required to build new ?

Old client may persist for several years. Connect going to each release and update silly.

[2015-07-12 10:04] MaxXor commented on #278
Yes a new build of the client is required for an update.

I've wrote in the code that I don't like this way of updating, but it works...
https://github.com/MaxXor/xRAT/blob/96c358b12a44d825050dfa76a63f18eb6cb8908c/Client/Core/Commands/ConnectionHandler.cs#L25

[2015-07-12 21:30] MaxXor commented on #277
A plugin system would be great, it should be really simple. The Server sends the client the plugin and then it adds new functionality to the client, like it can receive new commands etc.

[2015-07-12 22:04] d3agle commented on #277
Would it be ideal to load modules dynamically, or would it be viable in this case to store the modules on the client machine to be loaded each time the client has started?

[2015-07-13 00:20] yankejustin commented on #277
@d3agle The client should store it <i>if possible</i>. Whenever a Client receives a plugin use request from the server, it makes sure it exists, requesting the whole thing from the server if it does not.
<hr />
<h1>Little Example</h1>
Server has a module named <code>TestModule</code>. The module is selected for the Client object (server-side). The Server sends an inquiry to the Client to check if

[2015-07-13 00:21] yankejustin commented on #277
<h3>Note</h3>
We should really make sure to make a separate <code>Form</code> for the user. Perhaps we can use a <code>ListView</code> for the plugins.   :)

[2015-07-15 11:04] gngeorgiev opened #279 "Linux support for the Server"
How about we make it possible run the server on a linux machine(Ubuntu, Arch, etc.). This will allow the RAT to have a bigger audience. I can do this if you see fit.

[2015-07-15 11:19] MaxXor commented on #279
Have you already tried running it with Mono, does it work, are there errors?

[2015-07-15 11:20] gngeorgiev commented on #279
Yeah, there are `NATUPNPLib` does not work and the theming. Other things should be minor.

[2015-07-15 11:24] MaxXor commented on #279
Ah, alright. Yes the Listview calls some windows-only functions... maybe we could use an alternative to NATUPNPLib to have support for UPnP on Linux too.

[2015-07-15 11:26] gngeorgiev commented on #279
Yeah, I think we can use https://github.com/lontivero/Open.NAT. As it will work on bot windows and linux since NATUPNPLib is a COM library which can in no way be used in Linux.

[2015-07-15 11:32] MaxXor commented on #279
Alright, I'll make the library change later today so we can get rid of the COM library.

[2015-07-15 11:35] gngeorgiev commented on #279
Refer the PR here so I can test it out :star2:

[2015-07-15 11:35] MaxXor commented on #279
Sure!

[2015-07-15 13:14] MaxXor commented on #279
Added it. :)

[2015-07-15 13:18] gngeorgiev commented on #279
Great, gonna test it out sometime tonight probably.

[2015-07-15 13:19] MaxXor commented on #279
Thanks! I've tested it on Windows, worked very well.

[2015-07-15 16:39] yankejustin commented on #279
@MaxXor I would imagine that the Keylogger will be very broken since it relies on Windows' Hooks.

[2015-07-15 16:40] MaxXor commented on #279
@yankejustin We are talking here about the Server only. :)

[2015-07-15 16:42] yankejustin commented on #279
Oh, right. I apologize. :)

[2015-07-18 19:00] #81 closed

[2015-07-18 19:16] itapi opened #280 "UPnP not working with D-Link router"
hi. first of all i would like to say your work is awesome.
but im trying to connect from computer in other network(not on lan) i entered my external ip instead of "localhost" and checked the "try to auto port forward" option. but it doesnt works. seems like nothing happend. i would apperciate any help. my firewall is turned off and no antivirus or somthing.

[2015-07-18 19:18] MaxXor commented on #280
You have to turn the option on and then start listening again (means you have to stop once when it's already listening).

[2015-07-18 20:15] itapi commented on #280
@MaxXor  yep. tried also this. is it working for you? o.O

[2015-07-18 20:26] Abdullah2993 commented on #81
we could subscribe to UnhandledException event and then use RevertProtection() so that it doesn't effect thesystem in case of an application crash?

[2015-07-18 21:30] MaxXor commented on #280
Yes, I'm using an AVM Fritz!Box 7360 router. Can you check if your router supports UPnP and has it enabled?

[2015-07-19 02:00] yankejustin commented on #81
@Abdullah2993 I could forcibly close the Client easily by calling <code>Process.Kill()</code>. Internally, it is <i>very</i> likely that the program will consequently throw an error as a result of the termination. The above method could not effectively differentiate between accidental unhandled Exceptions in the Client and ones intended to close the program, because they really have the end result

[2015-07-19 02:24] Abdullah2993 commented on #81
@yankejustin we could call RevertProtection() every time we want to close the program or the program is being closed due to an unhandled exception?

[2015-07-19 03:45] yankejustin commented on #81
@Abdullah2993 But what would we need to do so? Another program to monitor the Client? How else could we do it?

[2015-07-19 07:56] MaxXor commented on #81
We're not going to implement this kind of persistence, but we'll add running the client as windows service.

[2015-07-19 08:12] itapi commented on #280
@MaxXor  seems like it support it and enabled too.
![image](https://cloud.githubusercontent.com/assets/10478457/8765117/0fb3f3d2-2e07-11e5-937c-ed950272727f.png)

[2015-07-19 08:15] MaxXor commented on #280
Can you place a breakpoint [here!](https://github.com/MaxXor/xRAT/blob/master/Server/Core/Helper/UPnP.cs#L44) and tell me if it finds a device?

[2015-07-19 08:19] itapi commented on #280
@MaxXor  allright in a second

[2015-07-19 08:22] itapi commented on #280
@MaxXor  it does work. it find the device

[2015-07-19 08:32] MaxXor commented on #280
Okay, thats good. Now I would need the response from your UPnP device. Can you capture the UPnP packets with your favorite network sniffer for me?

[2015-07-19 10:24] MaxXor commented on #279
Now it's starting on Linux with Mono, gonna check the Builder too later.

[2015-07-20 22:05] MaxXor commented on #280
I know it's not that easy, maybe you can use smartsniff or wireshark to capture this. Or could you try it with another router, if you have a spare one.

[2015-07-23 14:57] #200 closed

[2015-07-23 18:11] alpha-supporter opened #281 "JPG Thumb Viewer"
I think an ThumbViewer for .jpg files would be great. Just with one left click on the image - a new small window opens with the picture in a smaller size (maybe 10% of the original size?)

[2015-07-23 18:18] alpha-supporter opened #282 "Server Builder - ProjectID"
I miss some field in the server builder where i can put in a "serverID" or something. this would be great for grouping diffrent servers in categories like "home", "office", "customer_x",....

[2015-07-23 18:20] alpha-supporter opened #283 "Directory download bug"
i dont know if its a bug or just "not featured":

when i want to download an directory nothing happens

[2015-07-23 18:33] alpha-supporter opened #284 "File Manager Ideas"
- would be great to see the download speed in kb/s
- is there any other way to show the diffrent drives? dropdown is not my favorite for this - you cant image if the drive is an HDD, CD or Network-Drive
- i think you need to limit the maximum simultaneous file downloads - looks crazy when you select 20 or more files for download
- cant remove downloaded items from the "transfer" window

[2015-07-23 18:37] MaxXor commented on #283
it's just not implemented yet, take a look here: #262.

[2015-07-23 18:37] #283 closed

[2015-07-23 18:38] MaxXor commented on #281
I don't think this is actually important for a tool like this.

[2015-07-23 18:38] #281 closed

[2015-07-23 18:39] MaxXor commented on #282
Will be added.

[2015-07-23 18:43] MaxXor commented on #284
Added all your ideas to #262.

Hehe, yea i tried this too with over 100 files just for fun (stability test). Gonna give this a maximum.

[2015-07-23 18:44] #284 closed

[2015-07-23 19:12] #109 closed

[2015-07-23 19:13] #90 closed

[2015-07-24 22:53] d3agle commented on #280
This is happening to me as well.  When I start the server, I check the 'Enable UPnP' in the settings and start listening, but UPnP doesn't work off the initial start of listening.  I have to stop listening and then start listening again for UPnP to work.

[2015-07-24 22:55] MaxXor commented on #280
@d3agle but this is another issue, for you it's at least working. For @itapi not.
Yours is easy to fix, I'll just need to activate the UPnP module when you check the "Enable UPnP" checkbox.

[2015-07-24 22:59] d3agle commented on #280
Oh right, I misunderstood.  Sounds good!

[2015-07-25 14:59] #280 closed

[2015-07-26 06:55] d3agle opened #291 "File Manager addition"
Could we add another option to the File Manager context menu to create a new directory/folder?

[2015-07-26 08:11] MaxXor commented on #291
Added your suggestion to #262.

[2015-07-26 08:11] #291 closed

[2015-07-26 08:42] MaxXor opened #292 "Remote Desktop crashes when changing screen resolution"
Remote Desktop is crashing the server if client changes resolution while its running. This happens after stopping and then starting again the Remote Desktop.

[2015-07-26 08:43] #292 closed

[2015-07-26 08:43] MaxXor commented on #292
@d3agle Can you confirm this is fixed for you?

[2015-07-26 08:49] d3agle commented on #292
Confirmed working! :)

[2015-07-26 08:50] MaxXor commented on #292
Great! Thanks for testing again. .)

[2015-07-26 12:07] itapi opened #294 "Remote Desktop Performance Improvement"
Hey maor,i glanced over your remote dekstop code and it seems awesome, i liked the way you used to optimize the performances by dividing it into blocks and sending only the differences, but i've also seen you're using the regualr screnshot method which is slow as hell and also use more cpu. i'll just suggest to use use the gdi method to get it working way fast  have a look here:
http://www.c-sharp

[2015-07-26 13:27] #294 closed

[2015-07-26 13:28] MaxXor commented on #294
Thanks, I've changed it.

No I'm not from israel.^^

[2015-07-26 15:08] itapi opened #295 "Remote Desktop stopped working"
a weird problem.. the remote desktop is not working now... maybe it's related to the change youve done before?

[2015-07-26 15:59] MaxXor commented on #295
Seems to be working fine for me, sometimes it's just acting weird when nothing changes on the screen.
Tested it just now on Windows 7 and 8.1.

[2015-07-27 05:10] DragonzMaster commented on #271
What about this issue ?? Is there any chance to be solved soon ? @yankejustin  @MaxXor

[2015-07-27 08:11] d3agle opened #296 "Renamer revisions"
Noticed after building a client with the keylogger enabled, the client was crashing upon execution (crashed as soon as the client connected to the server)

With all of the organization of newly implemented features, the Renamer class could use some tidying :D

[2015-07-27 08:11] MaxXor commented on #296
Right lol. :+1:

[2015-07-27 11:20] #295 closed

[2015-07-27 11:24] #296 closed

[2015-07-27 11:27] d3agle commented on #296
Thank you!

[2015-07-27 11:29] d3agle opened #297 "Uninstall bug"
Sending the uninstall command to the client will cause the client to crash.

This only happens when the client is built with `Add to Startup` checked, and when `Install Client` is unchecked.

[2015-07-27 11:37] d3agle commented on #219
@MaxXor, Do you think this is acceptable?  I can implement this easily.

My idea behind this is to make the Remote Desktop feature similar to something like TeamViewer (as far as mouse input goes)

[2015-07-27 11:52] d3agle opened #298 "Remote Desktop Bug"
I believe this is why the InvalidOperationExceptions are thrown.  The `UnsafeStreamCodec` is trying to use the image at the same time the `FrmRemoteDesktop` is accessing the image.

This post explains the best solution of restricting access to the object to one thread
http://stackoverflow.com/a/1852451

Also, the Remote Desktop can get really laggy when it is maximized, or if the remote client's r

[2015-07-27 13:11] MaxXor commented on #219
Yes, we should improve the Remote Desktop to make it more user friendly and bug-free. :)

[2015-07-27 13:14] d3agle commented on #219
Great :D I will improve the mouse interaction for now, and will likely focus on the keyboard part this upcoming week.

[2015-07-27 13:59] d3agle commented on #219
#299

[2015-07-27 14:23] d3agle commented on #219
Will also implement Delta handling (MWHEEL) :D

[2015-07-27 14:32] d3agle commented on #298
This bug (where the GDI gets screwy and draws the red X and crashes and throws exception) appears to only happen when using Remote Desktop with Windows 10 (Pro Insider Preview Eval copy Build 10074).

The lag and delays occur on any machine when the form is maximized, however.

[2015-07-27 14:38] d3agle commented on #298
Another thing I've noticed, is that if the resolution of the Client machine is smaller than the form of the Remote Desktop, this is when the lag happens most.  This may be why maximizing the Remote Desktop form on the Server will have lag/delays when the form is larger than the resolution of the Client machine.

[2015-07-27 15:24] #297 closed

[2015-07-27 17:33] d3agle commented on #298
@MaxXor, Could the issue be for laggy/delayed performance be due to the `SendBlocking` method?

Also, Remote Desktop worked on Windows 10 prior to the latest update

[2015-07-27 18:35] d3agle commented on #298
Also, I believe this is why we are getting all of the InvalidOperationExceptions
http://stackoverflow.com/a/1852451

[2015-07-27 19:44] MaxXor commented on #298
Oh yea, the first bug is not nice.. I think the problem is the server which receives the new screen images too fast, I tried adding some locks to it, but seems it didn't change anything.

I'll look into this further.

[2015-07-27 21:20] yankejustin commented on #298
@MaxXor That is actually incorrect. Using <code>Clone()</code> on a <code>Bitmap</code> <i>does</i> provide you with a new <code>Bitmap</code> object with its own copied values. However, <b>pixel data is shared with the original object</b>.

[2015-07-27 21:27] yankejustin commented on #298
Also, we should dispose of <code>picDesktop's</code> <code>Image</code>. Calling <code>Dispose()</code> on <a href="https://github.com/MaxXor/xRAT/blob/358324c7c26b1feb92731f86609e6996183b8823/Server/Forms/FrmRemoteDesktop.cs#L97">this object</a> isn't going to really help us much because we are actually not disposing of <code>picDesktop's</code> <code>Image</code>.
To end the long wall of text, I

[2015-07-27 21:44] MaxXor commented on #298
@yankejustin Thanks, didn't know about this. I think the code should now create a deep copy of the bitmap. I think it does dispose the old bitmap from the picturebox correctely, because we are just changing the picturebox image, but didn't take care of the old image before, so we need to wait till the GC collects it.

[2015-07-27 21:54] yankejustin commented on #298
@MaxXor There is actually another issue I noticed. There is quite a significant amount of lag that aggregates. It builds up (got it to ~25 seconds of lag in under 2 minutes) and causes the user to be unable to pause the changing of <code>picDesktop.Image</code>.

[2015-07-27 22:03] MaxXor commented on #298
@yankejustin Do you also have Remote Desktop window maximized?

[2015-07-27 22:05] yankejustin commented on #298
I had it maximized at some point, but it will lag for me regardless. It seems as if the Client still continues to send the changed image and the Server will continuously handle it... Even if I press the Stop button.

[2015-07-27 22:11] MaxXor commented on #298
@yankejustin Can you check if the lag gets worse when you just keep it at the same size?

[2015-07-27 22:13] yankejustin commented on #298
@MaxXor It seems that increased movement on the Client (more changing pixels) results in increasing lag.

[2015-07-27 22:18] MaxXor commented on #298
I'm working on a fix for this.

[2015-07-27 22:34] d3agle commented on #298
@MaxXor, while you are working on this, could you also add this to the `ScreenHelper` class?  It makes transparent areas visible, so you are able to interact and see more of the desktop when it draws the image http://puu.sh/jfgRh/3458ae66a6.png

Also, I'm 100 percent sure its because the object is being accessed at the same time, because I'm getting an error that says that.  This happens in multip

[2015-07-27 22:40] d3agle commented on #298
Also, before I scurry off for sleep xD, The lag I was experiencing would also happen if the Remote Desktop form was smaller than the resolution of the client machine.  This was also causing lag but it might have just been placebo.  I would like to think its because the `GetDesktop` responce packet is being sent to the server by `SendBlocking` method.  Not 100 percent on that but I hope you guys ca

[2015-07-27 23:00] yankejustin commented on #298
@d3agle Thank you for the input!
And yes, the pixel data is <b>very</b> likely being accessed in different places and manipulated. This is because (as I stated above) the <code>Clone()</code> method of a <code>Bitmap</code> actually will still share pixel data with the original.

[2015-07-27 23:38] yankejustin commented on #298
@d3agle Read your other comment a second time and realized the new(ish) <code>SendBlocking</code> method. Why do we send these packets in a blocking fashion? Why can't it be in a way similar to UDP packets and just send the data? This makes sure that we are using the latest packets from the Client.

[2015-07-28 05:29] d3agle commented on #298
@yankejustin, Thank you for the explanation.  I see how that would make a world of difference in responsiveness.

Here is an example of the lag.  I hope that this link will help provide some insight on to why this might be happening.  http://i.gyazo.com/b8abcefab48a2acdc2042701045e327e.mp4

The Client machine has a resolution of 800x600.  Notice when I move the forms width a smidge, the lag shortl

[2015-07-28 06:32] d3agle commented on #298
@MaxXor, the deep copying of the Bitmap object seems to be working for me.  I've been trying to break it for the past hour and haven't been successful.

[2015-07-28 07:30] d3agle commented on #298
I believe this post is relevant to the "lag" we are experiencing.
http://stackoverflow.com/a/14282467

[2015-07-28 09:30] MaxXor commented on #298
@d3agle `CAPTUREBLT` causes my mouse cursor on Windows 7 to disappear when `BitBlt` is called. Yes, only the Server is affected. I've tried now resizing the image before updating the picturebox, but when the window is maximzed the lag still occurs. :worried:

@yankejustin The `SendBlocking` is important (also for File transfers) because the bytes of the next image shouldn't get allocated until fir

[2015-07-28 09:49] d3agle commented on #298
@MaxXor, I see what you mean my mouse is flickering.  I wonder if there are any other ways to do something similar.. without it, working on machines (Windows 10 for example) might be difficult :(

Also, perhaps we could try using a control other than the PictureBox to draw the image?

[2015-07-28 09:55] d3agle commented on #298
It is quite a bit slower after (without resizing form) #298

[2015-07-28 11:58] MaxXor commented on #298
@d3agle In R4 the Remote Desktop was actually slow, the server did always send a `DesktopReceived` and then the client answered with the next image, like a ping pong.

[2015-07-28 12:03] d3agle commented on #298
@MaxXor, That is true. But now, the server is being bombarded with packets, and the terrible picturebox optimizations limit us :(

Do you think it would be viable to create our own control so we have more control of the way the OnPaint event processes images?

[2015-07-28 12:05] MaxXor commented on #298
@d3agle I guess yes, we'll need to change how the image gets drawn to the form.

https://stackoverflow.com/questions/11030706/c-sharp-fast-pixel-rendering

[2015-07-28 17:07] yankejustin commented on #298
I'm working on this.

[2015-07-28 22:31] yankejustin commented on #298
@MaxXor Why don't we flush the queue of <code>Bitmaps</code> after the Stop Button is pressed? When it is not cleared, we get the stream of residual pictures that is likely undesirable. Perhaps it should be an option to queue the images together, or to flush the queue on stopping of image updating.

[2015-07-29 01:44] d3agle commented on #298
Here is a great article showing how to process the scaled images in the OnPaint() event:
http://www2.sys-con.com/itsg/virtualcd/dotnet/archives/0101/brown/index.html

The example code is towards the bottom of the page

[2015-07-29 01:49] d3agle commented on #298
But if all else fails, SharpDX looks like a nice library

[2015-07-29 07:37] MaxXor commented on #298
@yankejustin I think it's only needed to clear the queue when the form closes.

[2015-07-29 08:42] MaxXor commented on #298
I've created a new branch called `remote-desktop`, thats the old Remote Desktop with some improvements from the new one. You can check it out and see the FPS is a lot lower. But I also don't want to add SharpDX or any other DirectX wrapper.

[2015-07-29 10:05] d3agle commented on #298
I think we should use the old system too.  I just installed Windows 10 on my host and I'm getting a steady 27 fps streaming from my second monitor (At 75% quality).

[2015-07-29 19:31] MaxXor commented on #298
@d3agle I think that's a good solution, gonna merge the changes now.

[2015-07-29 19:31] #298 closed

[2015-07-30 09:09] tidusjar commented on #244
Is this in priority order?

[2015-07-30 09:13] #126 closed

[2015-07-30 09:13] #219 closed

[2015-07-30 09:19] MaxXor commented on #244
@tidusjar No special order.

[2015-07-30 09:20] tidusjar commented on #244
OK cool, mind If I give a go attempting something? I'd like to start contributing more to this project.

[2015-07-30 09:22] MaxXor commented on #244
@tidusjar Sure, any help is appreciated.

[2015-07-30 10:57] bitterypaul commented on #279
Will the remote desktop work on linux

[2015-07-30 11:42] d3agle commented on #279
Remote Desktop currently as it is won't work on linux.  We would just need to disallow the hooks that the keyboard input uses for it to work.

[2015-07-30 12:00] MaxXor commented on #279
Yes, Remote Desktop should be disabled on Mono to prevent any crashes.

[2015-07-30 12:02] d3agle commented on #279
I'm currently working on keyboard input for Remote Desktop through Mono

[2015-07-30 12:02] MaxXor commented on #279
You don't need to do that, it's still incompatible with the entire UnsafeStreamCodec. ;)

[2015-07-30 12:05] d3agle commented on #279
It is working for me on Ubuntu 14.04 :D, Mono JIT compiler version 4.0.3 (Stable 4.0.3.19)

[2015-07-30 12:07] MaxXor commented on #279
Oh, you are right, only the encoding uses functions (i.e. `memcpy`) from the `msvcrt.dll`. Decoding in the server is fine. :+1:

[2015-07-30 12:16] d3agle commented on #279
Everything seems to work fine, from what I've tested on the Server with Mono.. I think using the .NET events for the picturebox (e.g. OnKeyDown) might be the best way to support keyboard input.  Do you think this would be fine?  If so, I can start working on it!

[2015-07-30 12:18] MaxXor commented on #279
Yes, you can easily change this I guess.

[2015-07-30 12:25] d3agle commented on #279
Right, I believe if we were to implement the mouse wheel we would have to use a parent control to access the MouseWheel event.

[2015-07-30 12:46] itapi opened #310 "What FPS do you get in Remote Desktop?"
i didnt really know where to post it so i would do it here :).

just wanted to hear from you guys whats the fps ur runing the remote desktop connection? let say on 100 quality. give me an average number. (use lan because i dont calculate the network factor).
my for example is between 18~20.

[2015-07-30 13:05] MaxXor commented on #310
You should measure the FPS when streaming a YT video.

[2015-07-30 13:12] itapi commented on #310
@MaxXor allright i will. im asking this becuse i want to help this project.i developed a pairely nice algorithm for finding differences(using parralel and threads so it goes exteremly fast.) i'll post it here if its okay of you?

[2015-07-30 13:17] MaxXor commented on #310
@itapi You can create a fork and implement it, maybe it's better than the one xRAT has currently.

[2015-07-30 14:52] d3agle commented on #279
Could anyone with a linux host machine test the functionality of keyboard input from the `master` branch located here: https://github.com/d3agle/xRAT ?

Unfortunately I can't test this, as I don't have any linux machines to test on.  Running linux from a VM testing this won't work because my host loses focus.

[2015-07-30 17:19] yankejustin commented on #244
@tidusjar Work on what interests you. These are not in order as stated, but know it is not the <b>only<\b> things that can be added. :)

[2015-07-30 17:20] yankejustin commented on #244
Just going to put this near the top. :)

[2015-07-31 08:47] tidusjar commented on #244
I know MaxXor is not a fan of using 3rd party libs but for running the client as a Windows service we may want to look at [Topshelf](http://topshelf-project.com/)

[2015-07-31 08:50] tidusjar commented on #267
@lordcedrich this has now been developed and is in RELEASE5

[2015-07-31 09:52] #267 closed

[2015-07-31 12:46] bhalajisw opened #314 "Remote Desktop - not able to take on another machine"
hi,
I can take remote desktop or control only if the server code is running on a host. No support to run the server code on another client and perform RAT operations.

[2015-07-31 12:54] d3agle commented on #314
@bhalajisw When you say running the Server on another client, are you talking about on a Virtual Machine?

[2015-07-31 13:04] d3agle commented on #314
@bhalajisw Also, could you elaborate a little more about the issue you are having?  More specific information such as 'Keyboard input isn't working' or 'The screen capturing isn't working'.

[2015-07-31 13:11] d3agle commented on #310
Streaming a YT video with Remote Desktop full screen I'm getting ~7 frames which is sufficient enough for me :)

[2015-07-31 14:35] bitterypaul commented on #243
Does the keylogger catch all the keystrokes and combinations

[2015-07-31 14:49] bhalajisw commented on #314
Hi,
I want server code to be able to run on any machine. Client connects to host. But i can connect all clients only when i run server app on that host alone. Server code should have flexibiluty to run and take remote desktop anywhere. Eg. Like teamviewer.

[2015-07-31 15:05] d3agle commented on #314
Set up a DNS https://freedns.afraid.org/ and point it towards your IP address

[2015-07-31 16:07] yankejustin commented on #243
@bitterypaul Not 10p% sure if this is still an issue.
@d3able Is this issue still relevant?

[2015-07-31 16:08] yankejustin commented on #243
100%*
@d3agle
On my phone currently..Please read the above comment. :)

[2015-07-31 16:09] yankejustin commented on #244
This should be good: http://www.c-sharpcorner.com/UploadFile/sachin.nigam/InstallingWinServiceProgrammatically11262005061332AM/InstallingWinServiceProgrammatically.aspx

[2015-07-31 16:12] yankejustin commented on #244
As an additional note on the link I provided above, please read the comment section of the article to avoid little issues that may result from ServiceController. :hankey:

[2015-07-31 16:59] d3agle commented on #243
@yankejustin, Yes it is, I took a look at the HotkeySet class and it looks like we might be able to control logging combinations of keys to accomplish this :D

[2015-08-01 04:31] bhalajisw commented on #314
Hi d3agle,

This is my scenario - I want that client app to be run on several clients pointing to a server. Server app should be able to run on any client application and connect the remote machines.

Running Server application on any machine not only on the host machine.

A more simple is i want this remote desktop to be used like teamviewer like anywhere conecting.

[2015-08-01 07:35] MaxXor commented on #314
xRAT doesn't work like this. The Server is meant to be run on a stationary host, which acts as a controller for the Clients. Just use a dynamic DNS service and point your domain to other machines if you want to switch the host.

[2015-08-02 05:56] bitterypaul commented on #277
Just to clarify, do you want xRAT client to be barebones version and add features like remote desktop, keylogger etc as plugins. Or like adding extra features on top of the existing feature set?.

[2015-08-02 08:09] MaxXor commented on #277
@bitterypaul If the plugin system is working great, we can make remove most of the features from the client and add them as plugins.

[2015-08-02 13:39] #314 closed

[2015-08-02 13:40] #112 closed

[2015-08-02 13:41] #132 closed

[2015-08-02 13:41] MaxXor commented on #271
No, probably not.

[2015-08-02 13:47] bitterypaul commented on #277
So we can implement the plugin system on top of the xRAT client deployer as mentioned in #102

[2015-08-02 13:52] bitterypaul commented on #277
Will the plugin system be only for the client but also for the server? I also think about making the forms for keylogger, reverse proxy etc as plugins for the server so that we can have a fully modular RAT. Also this hides the forms for features in the server which are not supported by the client. This also makes updates for specific features easy.

[2015-08-02 13:58] bitterypaul commented on #262
Could anyone add extra features to this checklist as mentioned in   #224

[2015-08-02 14:26] #224 closed

[2015-08-02 14:26] MaxXor commented on #262
@bitterypaul Done.

[2015-08-02 14:29] MaxXor commented on #277
Plugins add functionality to the client & server, how are we supposed to use the Remote Desktop for example when we have no Form for it? :smile:

Anyways I think making this RAT fully modular with plugin support is a huge step, we should plan this for a complete new release of this RAT maybe.

[2015-08-02 16:18] Abdullah2993 commented on #277
@MaxXor the Form for Remote Desktop can be packed within the plugin :)

[2015-08-02 16:20] MaxXor commented on #277
@Abdullah2993 Yes of course, lol. That was sarcasm regarding the question from @bitterypaul.

[2015-08-03 00:10] yankejustin commented on #271
I don't have a webcam either. :(

[2015-08-03 00:13] yankejustin commented on #277
@MaxXor I definitely agree. This should be for xRAT R6 as it would require a fair amount of untangling, abstracting, and dynamic plugin addition functionality (making it work, and not allowing it to break easily).

[2015-08-03 00:14] yankejustin commented on #310
@d3agle How good is your processor?

[2015-08-03 00:49] d3agle commented on #310
@yankejustin, I have an i7 2600k @ 4.5GHz

[2015-08-03 07:09] MK73DS commented on #271
You can emulate a WebCam to test it, no?

[2015-08-03 10:28] Panthere commented on #282
It was added in my old fork, its not terribly hard to make.

[2015-08-03 15:10] d3agle commented on #243
I mean, it's not really an "issue" per say, however it's something that could be looked into a bit more.  I'm not really sure how we would do this to be honest, but I may take a look at it a little later today.

@yankejustin, How is your registry editor coming along? :D

[2015-08-03 15:34] #282 closed

[2015-08-03 16:32] yankejustin commented on #243
@d3agle Good. Currently about to implement the ability to add <code>RegistryKeys</code> to the <code>ListView</code>. After that works, I will transfer the logic over to the Client so it will finally retrieve <code>RegistryKeys</code> from the Client. :)

[2015-08-03 16:33] yankejustin commented on #310
@d3agle Wow. I'd imagine the FPS would be higher...

[2015-08-03 20:58] MaxXor commented on #243
@yankejustin I've created one, named `regedit`.

[2015-08-04 16:54] d3agle commented on #310
@yankejustin, Well the client machine was 1920x1080 so it makes sense :P  Would have to wait for the client to process a large image then send to server/receive from server

The remote desktop is fairly quick as it is. I've done some testing with Teamviewer (TCP) and the Remote Desktop (xRAT) is a little bit slower, but not by much.  I'd say its pretty comparable.

[2015-08-04 20:42] d3agle commented on #310
Perhaps we could scale the image instead of stretching it?  Not sure..

[2015-08-05 07:52] itapi commented on #310
@d3agle  scaling the image using c# would probably reduce the quality of the image.
Secod thing,why should maximizing the form affect the frame rate? it  make sense when you run both client and server on the same machine so its taking a screenshot of itself,but if you run the client on another computer ,it shouldnt bother at all...

[2015-08-05 16:52] MaxXor commented on #310
@itapi The problem is when maximizing the form the drawing/resizing of the image takes a lot of time. Either we stay with this or we use DirectX to draw the image (maybe we can use this wrapper: https://github.com/sharpdx/SharpDX).

[2015-08-05 18:45] d3agle commented on #310
@MaxXor, We could go with SharpDX, or we could scale the image (like teamviewer does).  I've been messing around with scaling the image and it seems like the fps when maximizing the form doesn't drop as much.  Sure, the image quality may be a little bit less (lower res on client, higher res on host/server), but it would work well.  I have the code to scale the image to the size of the RapidPicture

[2015-08-05 19:20] MaxXor commented on #310
We are already resizing the image to the size of the `RapidPictureBox` [here](https://github.com/MaxXor/xRAT/blob/master/Server/Controls/RapidPictureBox.cs#L133).

[2015-08-05 19:24] d3agle commented on #310
Right.. but maintaining the aspect ratio (Scale) of the Client resolution instead of making the image stretch to the control.

[2015-08-05 19:50] d3agle commented on #310
Here is an example of what I mean by maintaining aspect ratio:
http://i.gyazo.com/3bf3c41b086d9c621c9507975e2c4209.mp4

What I am having trouble figuring out how to do is keeping the image centered in the PictureBox control

[2015-08-05 20:05] blackfox1337 opened #319 "Unable to load the client assembly information"
When i try to build the client it pops up with "Unable to load the client assembly information, Please re-build the client". I've tried several things but i don't know how to solve it.

[2015-08-05 22:06] #319 closed

[2015-08-06 06:05] MaxXor commented on #319
Did you solve it? What wa the problem?

[2015-08-07 16:29] #123 closed

[2015-08-07 16:30] MaxXor commented on #242
@Abdullah2993 For example this: https://freedns.afraid.org/

I've added the ability to add multiple hosts to the client when you build it. I think that's enough.

[2015-08-07 16:30] #242 closed

[2015-08-07 16:33] MaxXor commented on #271
@MK73DS Yes that's possible.

Well, this issue has IMO low priority, maybe we can add this in some months.

[2015-08-07 16:34] MK73DS commented on #271
OK thank you :D
Yes add it when you want no problem ;)

[2015-08-07 16:36] #120 closed

[2015-08-07 21:15] blackfox1337 opened #320 "Any other features that will be added in the future?"
I'm just interested to know if anything like sound capture or video capture will be added :)

[2015-08-07 21:43] yankejustin commented on #320
I am confused... We already have video capture..

[2015-08-07 21:44] yankejustin commented on #320
Actually, what do you mean video capture and sound capture? Capture of what?

[2015-08-08 08:32] bitterypaul commented on #244
what is keylogger hotkeys

[2015-08-08 08:43] MaxXor commented on #244
@bitterypaul it's basically this issue: https://github.com/MaxXor/xRAT/issues/243

[2015-08-08 12:38] #279 closed

[2015-08-09 12:40] Vigorian opened #321 "Remote Shell can not display Unicode characters"
Hallo, found a problem with cmd, on Russian windows(i think whith Arabic and Chinese the same) not correctly display text.

Screanschot: http://rghost.ru/8SwCFwBjt

[2015-08-09 12:42] MaxXor commented on #321
Thanks for reporting this issue, I'll fix this asap.

[2015-08-09 14:17] MaxXor commented on #321
Can you confirm this is fixed?

[2015-08-09 14:29] Vigorian commented on #321
not really, http://rghost.ru/8dcktZPNm.view ,but thanks for try to fix

[2015-08-09 18:42] yankejustin commented on #321
Why not make big changes on a different branch and test them extensively before placing right into <code>master</code>? <code>master</code> really should be working almost like production... :(
Anyways, this is an issue with the new .Net Serializer system. It doesn't know how to serialize it correctly...

[2015-08-09 18:44] MaxXor commented on #321
@yankejustin I know, sorry. Please back up this and show that it can display it currently with Protobuff.

[2015-08-09 19:49] yankejustin commented on #321
Hmmm. There are a few things that need to be fixed. I will be back in a few days because I am actually off to vacation for most of this week.
The issue is also present in ProtoBuf but using .Net Serializer, I can't seem to deserialize the object to see what it does. Deserializing it sends it to a method named <code>ReadIntVar64</code> (or something similar... can't recall the exact name). In this

[2015-08-09 19:58] MaxXor commented on #321
@yankejustin I can not confirm this and actually I think this has nothing to do with NetSerializer at all, because NetSerializer has no problem de-/serializing unicode strings.

I will look into this more tomorrow, we'll just need to fix the encoding.

Enjoy your vacation! :relaxed:

[2015-08-09 20:03] yankejustin commented on #321
Try to peek <a href="https://github.com/MaxXor/xRAT/blob/0a9f3d0dd722ff5c8af30679d2e1e18e552563f8/Server/Core/ProtoBuf/ProtoReader.cs#L562">where ProtoBuf</a> used to serialize a string.
I haven't looked into how .Net serializer works yet. It deals heavily with using op codes and is a bit difficult to understand for me. I'll look into it further and document it if you wish to keep it.
My second id

[2015-08-09 20:04] yankejustin commented on #321
Another piece of information, I tried to make the packets on both ends send each other data using an array of UTF8-Encoded characters. When the data arrived, they were responsible for taking the encoded bytes and turning it into a string. The result was the exact same for both ProtoBuf and .Net Serializer.

[2015-08-09 20:48] d3agle commented on #321
Could this be it? http://stackoverflow.com/a/17177904

[2015-08-09 20:53] yankejustin commented on #321
Last piece of information:
<h1>Debugging</h1>
After using a <code>MessageBox</code> to display the values of the payloads, I have noticed that this is (correctly) happening:
1. Server sends payload with the <b>correct</b>encoded value.
2. Client receives the payload with the <b>correct</b> encoded value.
3. The <code>Shell</code> does <b>not</b> show correct encoding. Even after setting <code>Stan

[2015-08-10 05:39] blackfox1337 commented on #320
Video capture as in being able to see the other persons video camera feed and for sound capture basically being able to access their mic.

[2015-08-10 05:40] blackfox1337 commented on #320
Ahh i found the answer :) Dont worry

[2015-08-10 05:41] #320 closed

[2015-08-10 10:32] beBoss opened #323 "Screenviewer"
Screenviewer which shows screen of the pc.
- has two buttons:
  - "Start/stop" button
  - "Settings" for quality with a trackbar, and option with a checkbox "Save frames/shots"
- A label with the size of the frame/screenshot
- A progressbar for every transferred frame.

[2015-08-10 11:31] MaxXor commented on #323
xRAT already has a Remote Desktop, which is basically what you described.

[2015-08-10 11:31] #323 closed

[2015-08-10 21:01] Vigorian commented on #321
hallo, got a solution, the fix from d3agle
StandardOutputEncoding = Encoding.GetEncoding(850),
 StandardErrorEncoding = Encoding.GetEncoding(850),
was not fully, the 850 are Multilingual Latin I, i have changed id to 866 (Russian) and it works http://rghost.ru/6v7jQ9wHt.view ,now need to code function where detect the OS language, and send output whith correct encoding.

here is all encoding:
437

[2015-08-10 21:33] d3agle commented on #321
Hi @Vigorian, could you head over to my fork and see if the current commit fixes it for you?

[2015-08-10 21:42] Vigorian commented on #321
Hi d3agle, your fix did not fix the problem http://rghost.ru/6N428JNXS.view , but thanks for try to fix it.

[2015-08-10 21:43] d3agle commented on #321
@Vigorian, you tried the newest one with `NativeMethods.GetACP()` ?

[2015-08-10 21:44] Vigorian commented on #321
yes

[2015-08-10 21:45] d3agle commented on #321
Thanks for testing it!  Could you try one more thing and see what the active code page is in the shell by typing 'chcp`?

[2015-08-10 21:54] Vigorian commented on #321
ok, http://rghost.ru/7lJ7yMNvF.view

[2015-08-10 22:00] d3agle commented on #321
Thank you.  Very strange hmmm... if setting encoding to 866 works, and active code page is 866 but still isn't working.  Odd lol

[2015-08-10 22:04] Vigorian commented on #321
no problem, thank you =)

[2015-08-10 22:29] d3agle commented on #321
@Vigorian, could you please test my newest commit?  I think this will fix your problem :)

[2015-08-10 22:40] Vigorian commented on #321
d3agle, thanks very much, work fine=)

[2015-08-10 22:41] d3agle commented on #321
Awesome :) I will send a PR

[2015-08-11 13:10] MaxXor commented on #321
Very nice fix, thanks.

[2015-08-11 13:10] #321 closed

[2015-08-11 14:27] AlexNowhere opened #325 "client can work on net 2.0"
if you interesting client whith some fixes can work on not 2.0
at first change solution properties to net.2.0)))
 install linqbridge (https://bitbucket.org/raboof/linqbridge) by nuget for client solution.
it`s dll add linq support to net2.0 nothing to fix in code)))
after it install json.net(newtown) and fix JsonUtil.cs to this code:
using System.IO;
using System.Text;
using Newtonsoft.Json;

name

[2015-08-11 14:53] MaxXor commented on #325
No downgrade .NET Framework 2.0.

[2015-08-11 14:53] #325 closed

[2015-08-12 20:34] d3agle commented on #310
Going to look into implementing SharpDX today.  Saw that Gyo released Babylon RAT for free and noticed he had implemented SharpDX a few weeks ago.  The frame rates are very nice on LAN.  On my network up to 150 frames per second.  We would need to determine whether or not to keep this current client <-> server packet throttling as it is or to revert it to the previous implementation to get a high

[2015-08-12 21:00] MaxXor commented on #310
Can you send me a link to this RAT? I wanna take a look, I think then we can add sharpdx.

[2015-08-12 21:02] d3agle commented on #310
@MaxXor, sent you a pm on hf

[2015-08-12 21:10] MaxXor commented on #310
Thanks, maybe I'm going to add it tomorrow. :)

[2015-08-12 21:14] d3agle commented on #310
Sounds good :D I looked into it a few days ago and I couldn't figure out what classes we needed for implementation.  I know we need a DirectX device, some rending properties to be set, and possibly bitmap conversion, but I haven't figured out exactly how to go about using these DLLs.  I've asked Gyo if he could provide some tips or snippets, but waiting for his reply.  If you can figure it out tho

[2015-08-13 14:10] Vigorian commented on #310
bad deobfuscated source from babylon rat, got trouble with cflow :) but maybe it help
http://rghost.ru/6lpyBWFkq

[2015-08-13 14:19] itapi commented on #310
@d3agle  according to this video https://www.youtube.com/watch?v=oc12JSIPVVo their remote desktop seems slow as hell.. but if you say so..

[2015-08-13 14:20] itapi commented on #310
@d3agle  by the way im also working hard to optimize this code:
you can see my question just asked today here  haha http://stackoverflow.com/questions/31990488/c-sharp-cut-rectangle-blocks-from-image

[2015-08-13 19:40] Mrnikbobjeff opened #326 "Password Recovery not working with Internet Explorer on Windows 8+"
In Windows 8 the default saving mechanism for Internet Explorer Passwords changed from the registry entry to the new Password Vault. Because this mechanism is only present in Windows 8 + , one would have to add a function which checks if the OS is Win8 or newer and then executes the adequate retrieval function. A link to the Password Vault technology from Microsoft: https://msdn.microsoft.com/en-u

[2015-08-13 20:25] d3agle commented on #310
@itapi, it's actually pretty fast on my network.  But of course we would have to test it to see what impacts it would have.  And the code you posted on stackoverflow, what you are trying to accomplish would only minimize network traffic.  This could be useful, but still fast changing images couldn't be drawn to the control when they are larger/stretched to fit the control.

[2015-08-14 07:17] itapi commented on #310
@d3agle alright I understand.  Can you  send me the sources of Babylon?  I would like to have a look too

[2015-08-15 10:39] d3agle opened #327 "Builder doesn't save settings when Settingsfile doesn't exist"
Builder settings aren't being saved after prompted to save

[2015-08-15 12:07] MaxXor commented on #327
Yes, but only when no settings file exists. Gonna fix this asap.

[2015-08-15 12:29] d3agle commented on #327
Thank you!  Yeah I noticed that it wasn't even building a profile :|

[2015-08-15 14:06] #327 closed

[2015-08-16 10:06] itapi commented on #310
@d3agle ?

[2015-08-16 10:08] d3agle commented on #310
@itapi Look above at Vigorian's comment.  I don't have the source lol

[2015-08-16 10:14] itapi commented on #310
@d3agle  it doesnt let me build the project even... lol.
is it working for you?

[2015-08-16 10:18] d3agle commented on #310
Right you wouldn't be able to.. He just posted the deob'd source for reference.. You can see what objects were used for SharpDX

[2015-08-16 18:59] itapi commented on #310
@MaxXor  are you going to work on that man?

[2015-08-17 14:05] Sicarius154 commented on #96
I want to start helping on this project, I could take a look into implementing this?

[2015-08-19 18:52] MaxXor opened #337 "New icon needed for Quasar"
After renaming xRAT to Quasar we'll also need a new icon for it.
This issue can be used to discuss & preview new icons.

If there is someone with a graphics talent feel free to submit an icon (64x64 only).

[2015-08-19 20:31] d3agle commented on #337
Here is my take on it :)

http://august4th.us/up/5f72650a7e1f1e0573f4258cab7def25.ico

[2015-08-19 22:29] XenocodeRCE commented on #337
![](http://u.cubeupload.com/XenocodeRCE/quazartest01.png)

[2015-08-19 22:36] werkamsus commented on #337
Wow, that looks fantastic XenocodeRCE!

[2015-08-19 23:06] yankejustin commented on #337
@MaxXor You forgot to update <code>build-debug.bat</code> and <code>build-release.bat</code> with the correct name of the Solution file.

[2015-08-20 07:20] MaxXor commented on #337
@d3agle Thanks for your submission!
@XenocodeRCE Wow, this icon looks extremely good!! Can you change the size of it to 64x64?
@yankejustin Thanks, fixed.

[2015-08-20 08:39] SandPox commented on #244
-Add ability to install Client as Windows Service

you'll lost your ability to remote desktop because QuasarRAT process will run at SYSTEM user but SYSTEM are non-real account then the screen you capture just fully black

[2015-08-20 08:46] itapi commented on #337
@MaxXor awesome icon indeed.  May I ask did you change the name?  Are there any new updates coming soon? ;)

[2015-08-20 09:42] MaxXor commented on #337
@itapi Yes, I did change the name. Quasar v1.0.0.0 will be released shortly (yes, the versioning is different now :smile:). We're maybe going to change the GUI theme. Discussion about this is here: https://gitter.im/quasar/QuasarRAT

[2015-08-20 09:49] XenocodeRCE commented on #337
![](http://u.cubeupload.com/XenocodeRCE/quazartest0164x64.png)

64px - 64px as asked by Maxxor on skype; looks more chubby now but it's still decent

[2015-08-20 14:21] werkamsus commented on #337
Well, i'd recommend just resizing it by leaving some borders on the sides in order to contrain its proportions, like so:
![687474703a2f2f752e6375626575706c6f61642e636f6d2f58656e6f636f64655243452f7175617a61727465737430312e706e67](https://cloud.githubusercontent.com/assets/1510843/9385594/91df7af2-4757-11e5-82fa-1f63962bff05.png)

[2015-08-20 15:11] d3agle commented on #337
Looks very nice!
![](http://puu.sh/jIcQF/c5cc846ad2.jpg)

[2015-08-20 16:21] d3agle commented on #337
![quasar3](https://cloud.githubusercontent.com/assets/7505306/9388848/9feefec6-472d-11e5-811b-1f49ec39d81c.png)

[2015-08-21 17:55] d3agle opened #339 "Password Recovery not working with Firefox 40+"
LoadLibrary isn't loading the DLLs for the firefox portion of password recovery

[2015-08-21 18:19] MaxXor commented on #244
I think I'm going to release the first version of Quasar before everything here is done. Just to complete the name change and provide everyone with a new stable version.

[2015-08-21 18:30] tidusjar commented on #244
What's Quasar?

[2015-08-21 18:40] MaxXor commented on #244
@tidusjar xRAT is now Quasar, if you didn't notice yet.^^
And for Quasar: "An extremely distant, and thus old, celestial object whose power output is several thousand times that of our entire galaxy."

[2015-08-21 18:47] tidusjar commented on #244
Ah! Yes I didn't notice!

[2015-08-21 20:16] KarlBaumann opened #341 "Doesn't compile on Windows 10 using .bat"
I am having problems compiling. Tried to install .Net Framework 3.5, didn't help.

[code]

[2015-08-21 20:47] MaxXor commented on #341
Hey, this is the error you're getting.

IMO the best option would be to install the Windows SDK or Visual Studio.
Or you use one of the builds from the [CI-server](https://ci.appveyor.com/project/MaxXor/quasarrat) by clicking on your desired configuration -> artifcats -> `binaries.zip`.

[2015-08-21 21:39] d3agle commented on #339
I have it running in a 32-bit environment, adding support for older versions I'll send a PR later. Won't load correctly on 64-bit machine compiled as AnyCPU however..  Do you remember why we changed the output to AnyCPU? I forgot lol.  If the client is compiled as x86 it will load the DLLs fine on either 32/64bit machines

[2015-08-21 22:07] d3agle commented on #339
The only other viable I can see, considering the application's function to determine architecture by calculating the size of an `IntPtr`(which would be wrongly determined if the client was compiled as x86 and ran on a 64bit machine), would be to change the way the architecture is determined, and change the build from AnyCPU to x86.  This would allow us to load the necessary DLLs, as Firefox is a 3

[2015-08-21 22:31] KarlBaumann commented on #341
Thanks for a quick replay and sorry for these noob questions. This is my first experiance with .NET.
So I installed [Windows SDK] (https://dev.windows.com/en-us/downloads/windows-10-sdk), what next?

[2015-08-21 23:09] KarlBaumann commented on #271
I vote for this feature :+1:
And I could also send you a webcam as a gift :)

[2015-08-22 07:38] #339 closed

[2015-08-22 07:40] MaxXor commented on #341
Does it compile for you now?

[2015-08-22 07:41] #337 closed

[2015-08-22 10:25] KarlBaumann commented on #341
No, looks like the same error:

[code]

[2015-08-22 12:30] SandPox commented on #271
well... i'm working on it, calling native method instead of external lib

[2015-08-22 12:33] SandPox commented on #341
"....NETFramework,Version=v3.5,Profile=Client" were not found." probably you have installed wrong SDK version... try install SDK for at least .Net 3.5 Client
http://www.microsoft.com/en-us/download/details.aspx?id=11310

[2015-08-22 12:33] MaxXor commented on #271
@SandPox When you send a pull request please take care of removing some of your whitespaces...
Like @d3agle removed here: https://github.com/quasar/QuasarRAT/commit/0988187c25720a7f5435980076587f08bc92955d

You should read [this](https://github.com/quasar/QuasarRAT/blob/master/CONTRIBUTING.md) to make it easier for me to integrate your code into Quasar.

[2015-08-22 12:34] MaxXor commented on #341
In addition to what SandPox said, please also download the latest source. I've cleaned up the build configuration.

[2015-08-22 17:50] KarlBaumann commented on #341
@MaxXor didn't help.
[code]

[2015-08-22 17:53] MaxXor commented on #341
Oh, hm... I guess you should give [Visual Studio 2015 Community](https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx) a try. Install it, open the file `QuasarRAT.sln` with VS and click on compile.

[2015-08-22 18:53] KarlBaumann commented on #341
After installing Visual Studio it compiles without any problems, even using .bat
But I am not entirely happy with this solution, because VS needs at least 5GB of my SSD drive.

[2015-08-22 18:59] MaxXor commented on #341
@KarlBaumann Good to hear that it's working with VS. Well, you can alternatively install VS on a HDD or USB drive. But trust me it's saving you from a lot of loading time when starting VS from an SSD.

[2015-08-22 19:26] KarlBaumann opened #345 "Builder doesn't validate input correctly"
![screenshot 2015-08-22 21 25 24](https://cloud.githubusercontent.com/assets/11026930/9425547/6b8ea558-4914-11e5-908e-c1910f6b7032.png)

[2015-08-22 20:22] MaxXor commented on #345
One of your input is empty. For me it's the Client Tag which crashs Quasar.

[2015-08-22 20:48] #345 closed

[2015-08-22 20:58] yankejustin opened #346 "Client with a long up-time doesn't return the correct up-time"
<h1>Issue Context</h1>
I have a machine that I rarely shut down (normally place into a sleep state). The up-time is around 7-9 weeks.
<h1>Issue Description</h1>
An up-time greater-than ~48-49 days will not correctly be returned to the server; the server will reveal an up-time that is not accurate.
<h1>Cause of the issue</h1>
Because <a href="https://github.com/quasar/QuasarRAT/blob/master/Client/C

[2015-08-22 21:08] yankejustin commented on #346
While on the topic of system information, I just wanted to point out this: perhaps the client should append each <a href="https://github.com/quasar/QuasarRAT/blob/master/Client/Core/SystemCore.cs#L159">antivirus</a> name that is not null or empty to a <code>StringBuilder</code> (using a newline after each valid name) before returning. Might be good to know if a client has multiple anti-viruses ins

[2015-08-22 21:15] yankejustin commented on #244
Perhaps we could add a few languages after the update to the GUI. That would be a nice addition for the next major release.
MaxXor, I am assuming you also speak German. :)

[2015-08-23 07:59] MaxXor commented on #346
I'm aware of this. For me it's not even returning the correct value when I have my Win8.1 in VM running for 1h. This needs to be fixed asap.

[2015-08-23 08:01] MaxXor commented on #244
@yankejustin Multi-Language support would be nice, indeed.

[2015-08-23 14:24] yankejustin commented on #346
Alrighty. :)

[2015-08-23 19:48] #346 closed

[2015-08-23 19:55] MaxXor commented on #346
Can you tell me if it's working with your long-uptime system? My longest uptime is just 35 days.^^

[2015-08-24 10:37] SandPox opened #351 "Remote chat"
I tried to add this by myself but so much problem after that: Client chat form must be running on difference thread to make sure main thread still working and chat from still responding to user. If we create another thread to keep Client chat form responding then we can't set incoming message to chat from because can't interact with control from another thread :disappointed:

[2015-08-24 22:23] Sicarius154 commented on #351
What do you mean? I don't understand what you mean by "we can't set incoming message to chat from because main thread can't interact with control in thread that running ChatForm "

[2015-08-25 00:32] SandPox commented on #351
We receive message by main thread but can't set it to textbox of chatform in thread 2 because it's not allowed

[2015-08-25 07:43] #341 closed

[2015-08-25 07:44] MaxXor commented on #351
@SandPox I know what u mean, this feature has low priority. But I'll add it in the future.

[2015-08-25 09:13] MaxXor opened #352 "[Client only] WOW64 and the problems"
Some weeks ago we've switched Quasar's Client to compile for `x86`, instead of `AnyCPU`.

`AnyCPU` had the advantage that it would run the Client as 64-bit process on 64-bit systems and as 32-bit process on 32-bit systems.

Now after the switch it runs on 32- and 64-bit systems as a 32-bit process (on 64-bit system in WOW64 environment). We needed the switch for loading 32-bit DLLs required for th

[2015-08-25 16:28] yankejustin commented on #352
<b>Solution 2</b>. No reason to re-invent something that has already been made (and likely <i>intensively</i> debugged and perfected before implementation into the framework). On top of that, it offers more modern ways to other ways of approaching things.

[2015-08-25 18:17] yankejustin commented on #108
<h1>Progress</h1>
1. Correctly add sub-keys to the TreeView.
    - Order: Correctly maintain the order when making use of the keys sent to the server by the user. I was trying to research the best way to do so, as the collections I normally use to preserve the tree structures are in .NET v4.0   :(
        - In this situation, it is likely the best idea to use the <code>Tag</code> to maintain the o

[2015-08-26 00:35] Panthere commented on #352
Yes, solution 2 sounds fine. You'd be working with Win8 by default then, and most Win7 PC's already have .net 4.0.
Would also cut out illegitimate use of this software as most crypters/packers work with .net 2.0.

Remaking something big, as yanke said is quite cumbersome.
Not exactly sure whats up with firefox recovery and why it requires x86.

[2015-08-26 04:05] Vigorian commented on #352
just downloaded new firefox it dont have msvcr100.dll, now it use msvcr120.dll, its not the best solution but we can create plugin system and put the libs from firefox devoloper x64 editon to plugin library(compressed), pinvoke from nss have not changed. Maybe i play some whith it today.

[2015-08-26 05:38] SandPox commented on #352
Solution 2 better, now I think all windows 7 computer already have .NET 4.0 and it installed by default on windows 8, windows XP still can install .NET 4.0

[2015-08-26 07:03] Vigorian commented on #352
.NET 4.0 is good, but rat written in 3.5, and many features to make a friend, in 4.0 they can be made much smaller.
Plus of  .net 4.0
Easy To do Registry Edditor
Easy To do Plugin System
minus
not all systems have it

[2015-08-26 07:24] SandPox commented on #352
@Vigorian server is fine... it does not need change...
same with 3.5, not all windows 8 have it

[2015-08-26 07:28] MaxXor commented on #352
Some information about .NET Framework versions and dependencies: https://msdn.microsoft.com/en-us/library/bb822049(v=vs.110).aspx

[2015-08-26 07:29] KarlBaumann commented on #352
Actually looks like it is best to use 4.6

[2015-08-26 08:48] MaxXor commented on #352
@KarlBaumann No, I don't think this.

@Vigorian When we change the target framework, we're going to change it for both, Client & Server.

[2015-08-26 10:49] SandPox commented on #352
@MaxXor no!

[2015-08-26 12:03] Panthere commented on #352
Dropping firefox recovery is an option, but 4.0 is a fine choice for things.

[2015-08-26 12:04] MaxXor commented on #352
Alright! I'm preparing the changes on the branch `net40`.

[2015-08-26 12:07] Panthere commented on #352
I like it, less illegitimate use, more commerical use.

[2015-08-26 12:44] rabbitsmith commented on #352
I think its better to stick on to .net 3.5 as 4.0 is not installed in all pcs

[2015-08-26 12:50] yankejustin commented on #352
@rabbitsmith Don't assume 3.5 <b>is</b> installed on all Windows machines. By default, .NET v3.5 is <i>not</i> installed on Windows 8/8.1/10.

[2015-08-26 12:51] yankejustin commented on #352
@rabbitsmith Strangely enough, Microsoft actually defaults .NET v4.5/4.5.1!

[2015-08-26 13:47] SandPox commented on #352
@yankejustin to cut of old version, it will huge setup image size if they include all version to windows... they still can install when they need it

[2015-08-26 14:38] yankejustin commented on #352
@SandPox Exactly. The image size is already bloated enough anyways. :laughing:
Installing the Client Profile version of the framework really isn't as bad anyways.

[2015-08-26 14:57] rabbitsmith commented on #352
Setup files for .net 3.5 are already included in the windows installation disks in win8

[2015-08-26 16:22] MaxXor commented on #352
We are going to change the target framework to .NET Framework 4.0 Client Profile.
See the updates in `net40` branch.

[2015-08-26 19:31] #352 closed

[2015-08-26 23:24] d3agle commented on #352
@Vigorian, that is not a bad idea, but I think there are better ways of handling it.  We could have a surrogate process as a helper for these cases, but firefox doesn't seem to want to release 64-bit publicly yet as there most likely is still a lot of work/testing.

Also like you said, the NSS call interestingly enough I believe works for all versions of firefox.  The earliest version I tested was

[2015-08-27 02:46] yankejustin commented on #271
Some time in the future I will get a webcam. When I do, I will probably just pick up where SandPox left off on. :hankey:

[2015-08-27 02:54] SandPox commented on #271
@yankejustin no, do it by another API, my API is deprecated and can't pickup what webcam we want to capture from

[2015-08-27 03:36] d3agle commented on #271
This looks clean and simple to use: http://www.codeproject.com/Articles/125478/Versatile-WebCam-C-library

[2015-08-27 03:37] SandPox commented on #271
@d3agle no, they using external c++ lib

[2015-08-27 03:47] d3agle commented on #271
What about AForge.NET? The three libraries needed would come to ~100KB and they are all managed DLLs.

Link: https://code.google.com/p/aforge/downloads/detail?name=AForge.NET%20Framework-2.2.5-%28libs%20only%29.zip&can=2&q=

[2015-08-27 03:49] SandPox commented on #271
using external dll are easy... but we try to keep everything at minimal so... it got to be native API
... or we could upload to client the webcam capture module when we need it

[2015-08-27 04:04] d3agle commented on #271
We are using a project for the keylogger that has mouse capturing capability that isn't implemented :P  Also, we make tons of calls to native libs xD.  I don't see why we wouldn't use AForge.NET.. It has the capability to do exactly what we are trying to accomplish.

We could send it over the network like you say, and load the module instead of packing it into the client assembly.  Wouldn't it be

[2015-08-28 10:04] warezhafid opened #364 "Error when closing Qasar"
Hi Max!
I'm having this popup everytime when i close Qasar
![2015-08-28_11-58-36](https://cloud.githubusercontent.com/assets/14013973/9543882/c0547830-4d7c-11e5-962c-cd72eb9dda4c.png)

[2015-08-28 10:17] MaxXor commented on #364
Hey, thanks for reporting this, can you compile from the latest commit and confirm it's fixed?

[2015-08-28 10:24] warezhafid commented on #364
Fixed!

[2015-08-28 10:25] MaxXor commented on #364
Wonderful, thanks for reporting back! :grinning:

[2015-08-28 10:26] warezhafid commented on #364
Thanks for the fast fix!

[2015-08-28 13:31] #364 closed

[2015-08-30 16:40] yankejustin commented on #310
@MaxXor This can probably be closed.

[2015-08-30 16:53] yankejustin commented on #277
Modularity and large amounts of abstractions are likely to best be implemented after recreating the user interface using WPF. If the usage of MVVM is correct, abstractions are likely to be necessary at a minimal level and modularity should be exist quite easily. After the switch to WPF, it is likely that this should then be toyed with more.

[2015-08-30 18:20] #310 closed

[2015-08-30 20:24] Abdullah2993 commented on #111
Probably not a good Idea...as you have to embed the email/password in the client...a rather good approach would be to host some PHP scripts on web server so that the client can push logs to it.

[2015-09-02 02:33] Panthere commented on #351
@SandPox Controls all have the InvokeRequired property and Invoke method, very easy to work with.

[2015-09-02 03:03] SandPox commented on #351
@Panthere idk... never work with control in different thread before..

[2015-09-02 03:05] yankejustin commented on #351
@SandPox Take a look at the command handlers and notucebour usage of invoking actions on specific forms (or controls on the form). It is a good reference on how to queue up an action for a control created on a different thread.

[2015-09-02 03:05] yankejustin commented on #351
Notice our*

[2015-09-04 16:55] webiummedia opened #366 "2 sugestions"
Really intresting RAT. Congrats!

A feature that is missing would be the ability to turn on the clients webcam.
Also something that would be appreciated would be the use of a remote http client notifyer query based.
something.com/ip=%IP%&date=%DATE%&port=%PORT%[...]

Using a query based remote client list offers better anonimity ...

Everytime the user goes online the info would be send off to the

[2015-09-04 17:01] webiummedia commented on #366
Also i don't know if this was implemented yet as i have not tester the rat yet. But the ability to open stuff as a hidden window would be great.

[2015-09-04 17:20] yankejustin commented on #366
Executing a program is already possible on QuasarRat,
Updating is also possible on QuasarRat.
Website visiting is also possible on QuasarRat.
<a href="https://github.com/quasar/QuasarRAT/issues/271">here</a> is another issue opened just for webcam capture. Use this issue instead.

[2015-09-04 18:45] webiummedia commented on #366
It's not about website visiting ... it's about making the rat send the notification information to a web based logger.

[2015-09-04 19:09] webiummedia opened #367 "Enter file version bug"
When i try to build the server i get this message:
"Please enter a valid version number! Example: 1.0.0.0"
I tryed using the 1.0.0.0 example but i still get the same message

![capture](https://cloud.githubusercontent.com/assets/4869819/9692414/f38170f6-5316-11e5-84ed-5c0151adca8d.PNG)

[2015-09-04 19:19] MaxXor commented on #366
Good suggestion, the RAT can send client information to a desired website. We could add something like a HTTP-Control for the RAT to allow more interaction.

[2015-09-04 19:23] MaxXor commented on #367
You need to enter a valid product version... you wrote 2016 in there.

[2015-09-04 19:23] #367 closed

[2015-09-04 19:38] webiummedia commented on #367
I tryed that but then i get this:

![capture](https://cloud.githubusercontent.com/assets/4869819/9693004/fb5227c2-531a-11e5-8d77-7d06ad64159e.PNG)

[2015-09-04 19:46] webiummedia commented on #367
Also while where at it, if the 2016 was really the issue, the error message should not say valid version numver but product version number cause it gets confusing on the last 2 options "Product version and File version". Also the builder gives the same error when i try to build with the assebly information checkbox unchecked ...

[2015-09-04 19:50] MaxXor commented on #367
Be sure to keep the `client.bin` file in the same directory as `Quasar.exe`. Its required for the building process.

[2015-09-04 20:25] webiummedia commented on #367
Your right ... it was missing ?! ... thx for the great support ;-)

[2015-09-05 01:16] yankejustin commented on #366
@webiummedia Just make sure to have a separate issue for each suggestion or problem. I closed this issue due to the enhancements suggested that Quasar already has, but the first suggestion is actually a valid enhancement that we don't have yet.
Just to clear things up. :)

[2015-09-05 18:51] Rottweiler opened #369 "Renaming question"
In http://github.com/quasar/QuasarRAT/blob/master/Server/Core/Build/Renamer.cs

            if (typeDef.Namespace.StartsWith("xClient.Core.Compression")
                || typeDef.Namespace.StartsWith("xClient.Core.Networking")
                || typeDef.Namespace.StartsWith("xClient.Core.NetSerializer")
                || typeDef.Namespace.StartsWith("xClient.Core.ReverseProxy")
                |

[2015-09-05 19:24] d3agle commented on #369
I started working on this, but if you wanted to look into it, load up the assembly in a .NET decompiler and you will see what is currently renamed. The namespaces won't be ignored when the design improves.  Basically, any class that implements an interface that we don't have access to modifying (IDisposable) we need to ignore renaming the type, and the virtual methods that interact with the interf

[2015-09-05 20:11] MaxXor commented on #369
It should be more flexible now.

[2015-09-05 20:11] #369 closed

[2015-09-06 03:11] rabbitsmith commented on #366
What does this do. Somebody please explain the method.

[2015-09-06 16:16] yankejustin opened #370 "Registry Editor Visuals"
<h1>Help Wanted</h1>
It would be appreciated if someone could make some images for the Registry Editor I am working on. If you find another's images and suggest I use them, do make sure it is public domain (respect others' work).
I don't have a definite list of images I will need because there are quite a few, but just take a peek at Windows' Registry Editor and see the graphics there as a referen

[2015-09-06 16:20] d3agle commented on #370
I have an idea I want to throw out there.  What about using the host's icons?  :D  Use the icons as they appear on the host (for the icons with file exts.)

[2015-09-06 16:22] yankejustin commented on #370
Good idea, but it probably wouldn't work for linux, right?

[2015-09-06 16:22] d3agle commented on #370
That is true, would probably be better not to then xD

[2015-09-06 17:27] webiummedia commented on #366
When a server goes online it will send a set of GET vars to the provided URL. The external logger can then receive the data with out providing your no-ip or what ever is inside the rate. Once you receive the GET vars, you can use the provided info to access the remote client. It can also be used as an SMS/email service notification when a client goes online. It would open the door to a whole new s

[2015-09-06 17:47] webiummedia opened #371 "Help needed (no connections)"
Hi i just wanted to make a request for somebody to finish the How to part of the wiki.

I am having a bad time gething this to work so I might be missing something ... i created a no-ip, port forwarded used the same info in the builder and started the listener using the same info then provided but even after infecting my laptop i still dont see it online...

[2015-09-06 17:50] MaxXor commented on #371
The wiki is already on the to-do list.^^

Please check with [this neat website](http://canyouseeme.org/) if your port is correctly opened, then check if your no-ip service points to your current IP.

[2015-09-06 18:12] webiummedia commented on #371
Success: I can see your service on **.**.**.161 on port (4782)
and yes no-ip points correcly. I tested the no-ip host here:
http://www.yougetsignal.com/tools/open-ports/
And the port is online
No idea why i am not seeing it online ... My router has everything set up... When i start the listener i get a UPnP error thought. I checked the rooter and UPnP is activated. No idea if that could be the iss

[2015-09-06 18:13] MaxXor commented on #371
When it says it's open your router is not the issue. Can you test if it's connecting by using your current WAN IP?

[2015-09-06 18:17] webiummedia commented on #371
I created a new server with 192.168.2.65 using the same port 4782. Then reinfected my laptop and it still does not come online in the viewer. Firewall and AV (Mcaffe and windows defender) are both turned off.

[2015-09-06 18:28] d3agle commented on #371
What version of Quasar are you using?  A released version or compiled version?  What router are you using?  If UPnP is enabled, it should work fine, just don't start the listen server too quickly after opening Quasar, it takes a little bit to broadcast and collect device data.  If you get the UPnP error message, try stopping the listen server and start listening again.

Make sure your local IP is

[2015-09-06 18:38] webiummedia commented on #371
I am using "Quasar v1.1.0.0" from the release section. Should i build the server from the source? I am using a modem/rooter provided by my ISP. Port forward shows that it works. It's been 2h since i first infected my laptop and the listener is not piking up. The UPnP error pops back everytime. Is it required knowing that the forward is set up correcly?

![capture](https://cloud.githubusercontent.c

[2015-09-06 18:42] d3agle commented on #371
You are probably getting the UPnP error because you already have the port forwarded.  The router is probably trying to create a port that already exists.  Modem/router combinations have always been iffy in my eyes.... Maybe you can try disabling your port forwarding rule, and try using the UPnP option by itself?  I don't know if this will make a difference, but it is worth a try.

[2015-09-06 18:46] webiummedia commented on #371
Good sugestion but that did not do the trick. I disabled the port forwarding and made sure UPnP was on the stoped the listener and restarted but i get the same message ...

![capture](https://cloud.githubusercontent.com/assets/4869819/9706000/0310399a-54a6-11e5-8fa0-7d4c976112cb.PNG)

[2015-09-06 18:49] d3agle commented on #371
Read my edit above ^, I would also restart the modem gateway just to make sure the settings are fresh on boot.

[2015-09-06 19:02] webiummedia commented on #371
Hmm ... well i turned off the rooter, turned off and on the UPnP and now i don't get the UPnP error anymore. Now i can see the server using the 192.168.2.65 but not with the internet IP witch is the most important one i guess lol

[2015-09-06 19:04] d3agle commented on #371
What do you mean you can see the server using your local IP?  Do you mean the client connected to the server and in the server you see that?  Or you see it in your router settings under UPnP?

[2015-09-06 19:06] webiummedia commented on #371
Well Max sugested earlier that i should try using my local IP instead of the no-ip to see it that works and thats the one that i can see online in the list. I tryed to update the client with the one that uses the no-ip only but it's not going back online.

[2015-09-06 19:11] d3agle commented on #371
Ok I understand.  The problem is most likely one of these three things:
1) The router isn't sending outbound connections to WAN on that port (likely due to a firewall settings in the router),
2) Your no-ip DNS isn't configured properly (Don't use that site to verify, on your laptop open command prompt and type "ping xxxx.no-ip.org" replace the xxxx.no-ip.org with your DNS).  Make sure the command

[2015-09-06 19:12] d3agle commented on #371
You have the port successfully forwarded and you know the problem isn't with your host machine.  All your troubleshooting can be done now on your laptop.

[2015-09-06 19:33] webiummedia commented on #371
Hmmm ... The ping request works from the cmd and also from ping.eu. The IP is also the good one. As for the firewall, It's desabled (Mcafee and windows defender). I can see the process running on the laptop. Theres no firewall on the rooter firmware that i can see.

[2015-09-06 19:35] d3agle commented on #371
If I had to guess it would probably be McAfee O_O even though application level it says the firewall might be disabled... I think McAfee is a strong AV and they have modules/services running all the time.  Try googling things like "McAfee + Firewall"

[2015-09-06 19:39] webiummedia commented on #371
Hmm ... if that was the case, why did it work with the 192 ip earlier? I crypted the server using fastcrypt.us Do you know one that would completly bypass a laptop running mcafee? Cause i will have to turn it back on at some point lol

[2015-09-06 19:42] d3agle commented on #371
Not sure but if I had to guess (assuming I'm right), is that local network socket connections would be allowed, where WAN connections wouldn't be.  Not sure man, sorry!  Hope you get it figured out.

[2015-09-06 19:43] webiummedia commented on #371
So closse but yet so fare lol thx for the help dud. Maby Max can take a look into this later

[2015-09-06 19:51] d3agle commented on #371
Try adding an exception in McAfee for the Client application

[2015-09-06 19:57] illusion-linux opened #372 "it is possible to export the client as c# or vb.net shellcode?"
Hello
it is possible to export the client as c# or vb.net shellcode?
i want to include the client into another c# program i made
how to achieve this ?

[2015-09-06 20:04] webiummedia commented on #371
lol i tryed that 5 minutes ago no result. How can we delete quasar? I will delete everything and infect it with a fresh one ... perhaps all the infections i tryed is blocking the connextion. I think i might have infected it 8 times lol

[2015-09-06 20:06] MaxXor commented on #371
@webiummedia Kill the processes with the right "Installname" you chose and delete the files.

[2015-09-06 20:18] webiummedia commented on #371
Done ... craps a fresh one did not do the trick ...

UPnP - Working (No message from quasar)
NoIP - Working (Pings)
Port forwarder - Working (tryed on and off)
AV - Killed (unistaled)
Firewall - Killed (unistalled)
Process running (also installed it self in the subdir)

I think I am running out of options ... Is the release in the release section up to date?

[2015-09-06 20:47] MaxXor commented on #371
The latest release is not the problem, but if you wish you can always try the [latest build](https://ci.appveyor.com/project/MaxXor/quasarrat/build/BUILD125/job/egcwjb21xahl5i58/artifacts). I just tried it with my DNS and port forwarding and Windows Firewall deactivated (@ Server), worked.

[2015-09-06 22:41] webiummedia commented on #371
nope still no luck ... if it's not Quasar then it has to be my rooter ... But it's frustrating cause all the settings are good... And when i check the ping it works fine as well as the port check and no UPnP message. I will try an other network and see how that works out.

[2015-09-07 00:00] webiummedia commented on #371
wow that was crazy ... I finally got it running!

So what i did was boot up in kali linux, hacked the WEP key of my neighbor, booted back on windows and use that internet connection for the client. I used my own connection for my PC where the server is. It cam up right away. I guess for some reason, it does not work if both (the client and the server) is on the same IP unless you do it in locally

[2015-09-07 00:00] #371 closed

[2015-09-07 00:20] webiummedia opened #373 "Remote hidden file streaming"
I have an other feature request. I know there's a feature where you can execute a local file on the remote client in hidden mode ... But what we're missing is the ability to execute a remote file (exe) already on the client's computer and see the window output of that file on the servers end but keep it hidden for the remote client. To integrate this feature, when you right click a file in the fil

[2015-09-07 00:27] webiummedia commented on #271
Would it be possible to avoid the "Webcam already in use" warning if the client wish to use skype or something while the server is streaming?

[2015-09-07 01:40] SandPox commented on #271
@webiummedia no, windows only allow 1 application recording only

[2015-09-07 07:14] MaxXor commented on #371
Glad you got it working, well for me it's also working when both are on the same IP.^^

[2015-09-07 09:08] werkamsus commented on #366
I wanted to suggest this for ages - glad to See somebody finally got around to actually doing so.
@webiummedia wouldn't POST requests be better? If you encrypt them (there is a native api i know that does that, don't have a link atm but it's called CSharp2PHP or something, can be found on codeproject) it would be way more secure, since anyone who has Access to the accessed web pages (URLs would su

[2015-09-07 12:38] rabbitsmith commented on #373
Yes i support this . Its a good idea. This can be very useful.

[2015-09-07 12:51] MaxXor commented on #373
Sorry, but I don't think this is possible.

[2015-09-07 12:51] #373 closed

[2015-09-07 14:48] rabbitsmith commented on #277
wpf is not supported on linux.

[2015-09-07 14:54] MaxXor commented on #277
@rabbitsmith thanks, good to know!

Anyways, we must put off our plugin system plans. It would require so many changes to the Server & Client that we could start from the beginning. Maybe in Quasar 2.0.^^

[2015-09-07 14:54] #277 closed

[2015-09-07 15:08] webiummedia commented on #271
In that case, would be great to set up an offline motion detection video recorder (when internet is off) of and amount of Xgb setted in the builder. It would create an mp4 that could then be downloaded later on a little like the keybord log. That way while viewing the video where not actually using the webcam.

[2015-09-07 15:11] MaxXor commented on #372
No, what you can do is build a client and put it in your resources. At runtime you can extract it from the resources and run it.

[2015-09-07 15:19] webiummedia commented on #366
Sure POST or GET / Encrypted or not would be a good feature. As for the security, the online logger can have a password feature when opened to avoid anybody to actually see the log and also the POST/GET to be logged can have a security string set in the builder that would prove that the data is legit.

[2015-09-07 15:26] webiummedia commented on #373
Yes this is possible. I think the CIA 1.3b rat does this. It's old but this is definitely possible.
http://www.megasecurity.org/trojans/c/cruelintentionz/Cruelintentionz1.3.html

[2015-09-07 18:22] werkamsus commented on #366
@webiummedia I'm not talking about the security of the Web Panel, but about the security of the data that is being transmitted. If you were to send a completely unencrypted GET request (ie. example.com/?id=1&info=testString) it would be completely exposed to anyone with access to your last viewed sites etc. (ISP for example). That wouldn't be an issue with an AES (or otherwise) encrypted POST requ

[2015-09-07 21:43] illusion-linux commented on #372
OK
but this will be not be FUD only if it was executed in memory so i can by-bass AV's
i m 0 knowledge in programming but i have some skills in scripting in bash and php
my idea is simple can i at least build the client from source not from the binary builder (Quasar.exe)
not like a binder but execute my client in memory

[2015-09-07 22:07] yankejustin commented on #372
@illusion-linux if you have no programming knowledge, explaining the process would be a,bit pointless because it is not that simple. It is important to have some programming knowledge to know exactly what is going on and how to do it yourself. Otherwise, someone would essentially hold your hand the whole way through the process. :(

[2015-09-07 22:08] yankejustin commented on #372
@illusion-linux I'd suggest taking the time know how to use a language well so these concepts explained to you will be concepts that you can actually make use of.

[2015-09-08 02:44] webiummedia opened #374 "Cannot see inserted media (SD)"
Looks like the file manager does not detect inserted media devices such as phones, SD cards (did not test USB sticks)

[2015-09-08 03:01] webiummedia commented on #366
Sure that's a good suggestion.

[2015-09-08 04:30] SandPox commented on #271
@webiummedia then it will recording webcam all the time to detect motion

[2015-09-08 08:05] MaxXor commented on #374
You are right, it's a bit tricky to access the sd-card when you have your phone connected to the PC. USB sticks are working fine.

[2015-09-08 08:12] MaxXor commented on #372
You can build the client from source (debug configuration) and edit your Settings here.
Anyways discussing of bypassing AVs is not allowed [here](https://github.com/quasar/QuasarRAT/blob/master/Client/Config/Settings.cs#L13).

[2015-09-08 08:12] #372 closed

[2015-09-08 12:40] rabbitsmith commented on #366
Will a web panel be implemented. If this HTTP Client notifier is used, it can only be used for reverse connections right?.

[2015-09-08 12:57] werkamsus commented on #366
You could also add some 'on client startup' command that will be executed the next time the client goes online (uninstall, update etc). This wouldn't really be possible otherwise since the client would have to be online as a prerequisite in order for information to be transmitted to it.

[2015-09-08 12:59] yankejustin commented on #374
@MaxXor Would using WMI allow us to detect network drives, too?

[2015-09-08 13:43] rabbitsmith commented on #366
Will a web panel be implemented. If this HTTP Client notifier is used, it can only be used for reverse connections right?.

[2015-09-08 13:49] rabbitsmith opened #375 "download from url to client pc"
A feature like Downloading a file from a ftp server or any other url to a specified folder in the client pc can be useful for updating apps whose update packages are avaliable on the internet can be useful.

[2015-09-08 13:51] rabbitsmith commented on #244
What happened to the plugin system? That was another of the best enhancements ever suggested.

[2015-09-08 13:53] werkamsus commented on #244
@rabbitsmith It is very difficult to implement since it requires an almost complete restructuring of the client. MaxXor himself said that would be more realistic as a release goal of Quasar 2.

[2015-09-08 13:59] rabbitsmith commented on #244
What is the estimated release date of quasar2

[2015-09-08 14:25] MaxXor commented on #374
@yankejustin Network drives are detected already, I have 3.^^

[2015-09-08 14:58] MaxXor commented on #244
Not this year. :(

[2015-09-08 16:36] webiummedia opened #376 "File manager sort by date"
I was trying to find the last updated file in a directory and i noticed the date col is missing lol Please add that when you have the time. (Creation date | Last modified date).

[2015-09-08 18:43] yankejustin commented on #374
Oh, good. :)

[2015-09-08 19:59] webiummedia commented on #375
Remote execute from a URL already exists

[2015-09-08 20:06] webiummedia commented on #271
Yes but nobody uses the webcam when theirs no internet connection. With a motion detection you don't record hours of emptiness.

[2015-09-08 20:07] MaxXor commented on #376
Already mentioned in #262 as

[2015-09-08 20:07] #376 closed

[2015-09-08 20:16] yankejustin commented on #271
I don't like the idea of motion detection at all. Besides being difficult to implement efficiently, it is more of a feature geared towards malicious use. The non-malicious uses of such a feature likely is not worth the time needed to implement it. :(

[2015-09-09 04:27] SandPox commented on #271
well.. motion detection is handy if you use webcam as home security monitor.. or such thing.. but yea.. it's really hard to implement

[2015-09-09 14:06] webiummedia commented on #271
There's tons of open source project we can use for that
http://www.codeproject.com/Articles/10248/Motion-Detection-Algorithms

[2015-09-09 19:18] webiummedia opened #378 "File manager: change the number of simultanious file download / Change speed"
The file manager can currently download 2 files at once. On low connections that can be a problem. Being able to download only one file at a time would be better to keep the internet unaffected. But on high speed connection, being able to download up to 10 files at a time would really be appreciated. In the file transfer view, It would be really appreciated if we could test the internet speed (a l

[2015-09-09 19:37] webiummedia opened #379 "File transfer: File size and estimate download time / pause and resume"
In the transfer window, please add the file size and estimate download time. Also adding a pause and resume would be a great feature. When a list of files is added to the download window, would it be possible to save the status in case quasar is closed or lost of connection and automatically resume on the next connection?

[2015-09-09 19:41] webiummedia opened #380 "File transfer: Reorder download sequance"
When you download a big list of files, sometimes one of them is more important but because you have 32 files to download before you need to wait ... Being able to drag the file up the priority list would be great!

[2015-09-09 19:44] webiummedia opened #381 "File manager: Video streaming / FTP access"
When it comes to large video files (mp4, avi [...]) of 1gb + it would be great to be able to stream the video to a player capable of reading such like VLC. Perhapse a stream URL could be made based on the users IP?

[2015-09-09 19:48] yankejustin commented on #381
This is very very difficult due to the need to keep packet order and because packet loss can cause issues with the video that could mess it up. :"(

[2015-09-09 19:49] webiummedia opened #382 "File manager: Image thumb preview"
When it comes to a folder with a bunch of images, it's hard to know wich one is important so currently we need to download all of them in order to find the one we are looking for ... Would it be possible to read the thumb.db file and display the thumbs in the manager in a medium icon view?

[2015-09-09 19:55] webiummedia commented on #381
What if the server installs and apache like server that make the file reachable in some way?
x.x.x.x:80/c/video/video.mp4

[2015-09-09 20:07] webiummedia commented on #379
I just confirmed that the file manager does not save the progress or even the list of files to be downloaded when we lose connection. Everything is emptied no resume at the moment.

[2015-09-09 20:16] webiummedia opened #383 "File transfer: Preview download mode"
In the bitcomet torrent downloader client there's an option you can use called "Preview download mode" where the selected file is downloaded in the correct sequence (from start to end). With that box ticked, you can play the temp file in VLC and view what was downloaded before the file is even finished. Right now when i try to play a video temp file it's unplayable until the file is completely dow

[2015-09-09 20:30] webiummedia opened #384 "Connection list: View offline servers"
At the moment, when a client goes offline, it desapears from the view list. What would really be great is that once a connection has been established that it stays there as offline. If the FTP idea gets implemented (#381) and is available, it could still be accessed. Also, it would be great to see a last connected or last seen col. Ex: 3h 33 min ago. All other options on right click could be block

[2015-09-09 20:36] webiummedia opened #385 "Password list: Auto login option"
When a password is captured, it would be great if the login sequence (POST to specific addressee) could also be saved. On right click of a password we could add "Attempt auto login". It would then open the default browser with the given POST parameters and try to connect to that specific URL.

[2015-09-09 20:40] webiummedia opened #386 "Builder: Popup message on installation"
In the builder when the client is installed successfully, we could add a feature where you can choose an icon (Red cross, Yellow exclamation mark, dummy user prompt [...]) and compose a popup message.

[2015-09-09 20:43] webiummedia opened #387 "Connection list: Listen to more then 1 port/password"
When we have multiple servers on different ports we can only listen to one at the time. Being able to add more then one would make it possible to view the complete list over all ports/password combinations.

[2015-09-09 20:49] webiummedia opened #388 "Builder: Persistant process"
In the builder we could have a box that we can tick called persistent process. When the client process is killed it goes back online a few minutes later.

[2015-09-09 20:53] webiummedia opened #389 "Builder: attempt to bind the client to a common windows process"
I seen this in an other rat. In the builder you could tick a box where on installation the client would try to bind itself to an existing windows process so it can't be killed by the user or makes it look legit when the task manager is checked.

[2015-09-09 20:56] webiummedia opened #390 "Stream mic or MP3 to clients audio speakers"
When you go around implementing the audio feature at #135. Add the ability to speak using mic or play MP3 files as well. This could be useful when it comes to technical maintenance.

[2015-09-09 21:09] webiummedia opened #391 "Use the Github milstone feature more"
Github has a great milestone feature where the work in progress can be seen. When a milestone is finished a new release could be made. Breaking down all the user enhancement asked as well as the current development choices to small milestone goals would let us (poor users lol) know on what features you are working on and what will be next. Also, milestones can be attributed to someone so if more t

[2015-09-09 22:14] yankejustin commented on #391
A little bit rude to open up a bunch of issues without grouping the ones relating to the same enhancement (example: file transfer enhancements split over many different issues) and then saying to use milestones for the small things. Generally, milestones are easy to use for things related to the next releases (some minor, but others for the next major release).
Anyways, I like your suggestions and

[2015-09-09 22:16] yankejustin commented on #391
I'd also like to point out that nearly all of the issues opened currently are enhancements. It is especially hard to group every one of the ~30 enhancement suggestions: especially when there aren't many of us actively developing (and how busy we have ended up getting this past month). :)
It is pretty much a thing to where a developer can cherry pick interesting enhancements and implement them if d

[2015-09-09 22:17] yankejustin commented on #379
I agree about this suggestion. Especially in the case where a block isn't correctly sent and ruins the whole progress of a potentially large file. :(

[2015-09-09 22:19] yankejustin commented on #383
For these suggestions, perhaps you could demonstrate your suggestions best with a little video of your concept so it is clear to everyone. I think I get what you mean, though.

[2015-09-09 22:20] d3agle commented on #379
This could be implemented easily and would be a nice addition

[2015-09-09 22:23] yankejustin commented on #386
Not sure what you mean. Are you speaking of the event of correct client installation or the builder form where a client is correctly built?

[2015-09-09 22:28] yankejustin commented on #388
Similar issue <a href="https://github.com/quasar/QuasarRAT/issues/81">here</a>.
Persistence is eventually going to be in the form of a Windows Service.
Restarting the client if it is killed really isn't a simple manner to do correctly. It is easy to spawn a mess of other programs to make sure the main one is still alive among other methods, but it is a slippery slope with regard to a viable soluti

[2015-09-09 22:28] yankejustin commented on #387
@MaxXor What is your opinion on this?

[2015-09-09 22:30] yankejustin commented on #387
Actually, we should already be able to listen on different ports. Have you tried such yet, @webiummedia ? If so, what was the result?

[2015-09-09 22:30] yankejustin commented on #389
I don't like this idea. This is almost entirely for malicious purposes which we are moving away from.

[2015-09-10 01:30] webiummedia commented on #391
I was not being rude by opening a bunch of threads. In fact I was just doing exactly what you asked for in #366 "@webiummedia Just make sure to have a separate issue for each suggestion or problem. "

All i want is to help how I can. And that is to test and point out what i find. I am a senior Web Dev in real life. We use Github a lot for major projects so I was just trying to help. Normally I wou

[2015-09-10 01:31] webiummedia commented on #389
Actually this can be useful when an employee is under investigation by the administration like I am doing now.

[2015-09-10 01:34] webiummedia commented on #388
Do anybody know how Darkcomet (or was it Babylone) does it?

[2015-09-10 01:37] webiummedia commented on #387
Well right now, theirs only one spot to insert a port and a password ... If the current app can already sustain more then one port/password combination perhaps a redesign of the setting box should be considered to have a box like in the builder where you can add multiple host:port.

[2015-09-10 01:42] webiummedia commented on #386
It would be a box that would appear client side upon installation to confirm that it was successful. Cause right now you click and nothing happens. The message and icon should be modifiable in case the rat admin binded it with something else to stealth it. In my case, I binded it with a firefox installation package. I would of put something like "You are now ready to install Firefox". That would o

[2015-09-10 02:15] webiummedia opened #392 "Internet History/Favorite viewer"
In the surveillance section, it would be great to have an Internet activity option where we can retrieve the navigation history as well as a list of favorites for every browser installed on the remote machine. (explorer, safarie, firefox, chorme, opera)

[2015-09-10 02:37] webiummedia commented on #366
Yes it could be used to establish a connection. Once we have the client ip/port/password i guess we have everything needed to establish a connection. It would just require a manual client input.

[2015-09-10 03:22] yankejustin commented on #391
I meant that unrelated problems should be separated...
Also, I just wanted to point out that those of us that develop this program actively are on a chaotic schedule and unfortunately often end up working on this best by picking up wherever we can. :)

[2015-09-10 03:24] yankejustin commented on #391
As for the milestones, I could make them whenever all of us devs figure out when we'll have times for releases of these features... And the accompanying release date to go with it.

[2015-09-10 03:25] yankejustin commented on #391
I do see your perspective though. I was thinking about using milestones for releases, but it is interesting to use them for tracking many of the issues. I'll have to experiment some time and see which ends up working best.

[2015-09-10 03:39] yankejustin commented on #388
Darkcomet mostly used HKLM Run Keys and Userinit Keys.

[2015-09-10 03:42] yankejustin commented on #389
I see your use of it but this really hits the realm of process injection at an angle that couldn't make it easier to exploit. :tophat:

[2015-09-10 03:43] yankejustin commented on #387
Oh. I've always just ran multiple servers instead of using the same instance... Hmm...

[2015-09-10 03:44] yankejustin commented on #386
Oh, I see. That sounds like a good idea.

[2015-09-10 07:12] MaxXor commented on #378
added to #262

[2015-09-10 07:12] #378 closed

[2015-09-10 07:15] MaxXor commented on #379
added to #262

[2015-09-10 07:15] #379 closed

[2015-09-10 07:15] MaxXor commented on #381
Sorry, this will not be added.

[2015-09-10 07:15] #381 closed

[2015-09-10 07:17] MaxXor commented on #380
Added to #262

[2015-09-10 07:17] #380 closed

[2015-09-10 07:19] MaxXor commented on #382
Added to #262.

[2015-09-10 07:19] #382 closed

[2015-09-10 07:22] MaxXor commented on #383
Sorry, this will not be added.

[2015-09-10 07:22] #383 closed

[2015-09-10 07:28] MaxXor commented on #385
No, the feature is only meant for password recovery, nothing else.

[2015-09-10 07:28] #385 closed

[2015-09-10 07:30] MaxXor commented on #387
We can add this, but we'll need a new window just for managing the listen-servers.

[2015-09-10 07:34] MaxXor commented on #388
We could spawn a `cmd` process which checks the client process and restarts it if needed. (client can also check if `cmd` process got killed, so they watch each other)

[2015-09-10 07:34] MaxXor commented on #389
No.

[2015-09-10 07:34] #389 closed

[2015-09-10 07:42] MaxXor commented on #391
@webiummedia thank you very much for all of your suggestions, I've read them all. I see how the milestone feature could be useful, but at the moment we are more or less 3 people developing this and releases are currently pushed out when I think it's stable and has some improvements over the past release. I need to get more used to the milestones.

[2015-09-10 12:21] rabbitsmith commented on #386
I think this can be added as a check box so that this can be optional during the building of client

[2015-09-10 13:32] webiummedia commented on #386
Yes first a checkbox then a title and message field with a choice of icon selection (red cross, yellow exclamation, blue exclamation, help bubble) the standard alert box stuff.

[2015-09-10 13:36] webiummedia commented on #388
I think that's a simple and brilliant idea =)

[2015-09-10 13:39] webiummedia commented on #387
Never thought of opening quazar more then one time haha In any case, i think having only one instance would be a great feature if we go ahead in keeping the offline servers. Everything in one place.

[2015-09-10 13:46] webiummedia commented on #381
@MaxXor, I really think an FTP access would be very useful as a backdoor but also when you need a more advanced file manager. Please reconsider ...

There's tons of open-source class's that could be easily integrated ...
http://www.codeproject.com/Articles/2558/A-Complete-FTP-Server

[2015-09-10 14:11] werkamsus commented on #388
I'd suggest to make the delay for the client persistence modular, so you can choose whether you want it to come back immediately or after a set delay.

[2015-09-10 14:11] MaxXor commented on #381
The client would require an opened port in order to access the running FTP-Server...

[2015-09-10 14:32] webiummedia commented on #381
@MaxXor what if we do something like this:
http://bytes.com/topic/c-sharp/answers/431643-upnp-code-open-ports-nat-firewall

[2015-09-10 15:12] webiummedia commented on #388
That would be awsome

[2015-09-10 15:25] rabbitsmith commented on #388
We shouldnt spawn the process from the client application directly from the process.start since if client.exe is termintaed, the cmd will also likely be terminated. Correct me if i am wrong.

[2015-09-10 16:22] MaxXor commented on #381
It will not work on Routers which have no UPnP enabled. The second link is no solution or option for this.

[2015-09-10 16:35] MaxXor commented on #388
@rabbitsmith It's fine to use `Process.Start`, just set the correct parameters in `ProcessStartInfo`. :)

[2015-09-11 19:24] webiummedia commented on #381
In the pwnat source, theirs really nothing we can use to avoid the router problem for this?
https://github.com/samyk/pwnat

pwnat, pronounced "poe-nat", is a tool that allows any number of clients behind NATs to communicate with a server behind a separate NAT with *no* port forwarding *no* DMZ setup, and no 3rd party involvement. The server does not need to know anything about the clients trying t

[2015-09-17 12:29] Crash129 commented on #388
But then the client process will be the parent process. If you select "Kill process structure" in Task Manager it will kill the CMD process too.

You have to start the CMD via a batch file with the "start" command to bypass it.

[2015-09-17 13:47] MaxXor commented on #388
Alright, seems possible.

[2015-09-17 14:34] webiummedia opened #395 "Remote Shell: Install/Uninstall MSF button"
In the remote shell window, It would be great if there was a one button to install/Uninstall MSF on the remote machine. Being able to use MSF commands could help advanced users to gain extra features not yet implemented in the rat.

[2015-09-17 14:37] MaxXor commented on #395
Not sure what MSF is, but how about Windows PowerShell (if installed) instead of command line?

[2015-09-17 14:40] Crash129 commented on #395
I think he means Metasploit Framework
1. It's detected by most AV's
2. It's too large
3. Not really useful. Just create a Meterpreter Payload and upload&execute it.

[2015-09-17 14:41] Crash129 opened #396 "Additional Keylogger Settings"
It would be nice to be able to have a checkbox to hide the log directory and a textbox to set the name for the log directory.
Logs could also be encrypted on the harddrive with the AES key used for traffic encryption.

[2015-09-17 14:43] webiummedia commented on #395
PowerShell is a great alternative

[2015-09-17 15:12] webiummedia opened #397 "Where is remote execute downloaded in?"
I just used the remote execute file to download and execute a exe in hidden mode. Where's the file located at? I need to move it via command line.

[2015-09-17 15:15] webiummedia commented on #397
Would be nice if we could specify the directory to download in ...

[2015-09-17 15:20] webiummedia commented on #397
Actually, i just noticed we can drag and drop in the file manager lol
Take a look at this: https://github.com/tedburke/CommandCam
Works great. you just  type commandcam in the folder the exe is in and it creates a webcam image

[2015-09-17 15:41] webiummedia commented on #397
Something like this and we get an image every few seconds =)

 @echo off
 :begin
 C:\CommandCam.exe /delay 5000 /filename C:\%time:~-11,2%%time:~-8,2%%time:~-5,2%.bmp
 goto begin

[2015-09-17 15:44] webiummedia opened #398 "File manager: Ask only one to delete multiple files"
I wanted to deletes 10 files so i multiselected and deleted ... but Quasar asked to corfirm for each one of them lol

[2015-09-17 16:23] yankejustin commented on #396
I like your suggestions to the keylogger.

[2015-09-17 16:24] webiummedia commented on #397
FTP the image to remote server like this then delete the file

@echo off

:begin

SET foo=%time:~-11,2%%time:~-8,2%%time:~-5,2%
set FileName=Build-%date%-%time:~0,2%-%time:~3,2%-%time:~6,2%

C:\CommandCam.exe /delay 50000 /filename C:\%FileName%.bmp

echo user ***> ftpcmd.dat
echo ***>> ftpcmd.dat
echo bin>> ftpcmd.dat
echo put C:\%FileName%.bmp>> ftpcmd.dat
echo quit>> ftpcmd.dat
ftp -n -s:ftpcmd

[2015-09-17 16:24] MaxXor commented on #396
I think the keys for the logs should be more dynamic, like the traffic encryption key + date of the log. :+1:

[2015-09-17 16:25] yankejustin commented on #396
Sounds neat. I'm about to start work on the Registry Editor now so I can finish it then get to tackling some of these issues.

[2015-09-17 16:27] yankejustin commented on #395
While I won't add something like this anytime soon, it would perhaps be a great plugin for penetration testing.
As I said, it would make a great <i>plugin</i>. I will likely consider this after abstracting. :)

[2015-09-17 16:28] webiummedia commented on #397
Then for those intrested, you can use something like http://sourceforge.net/projects/phpmotiondetect/ to sort out the images and keep only those that are not similar (motion detect)

[2015-09-17 16:29] yankejustin commented on #398
@MaxXor Perhaps a <b><code>behavior</code></b> tag should be for suggested changes to the behavior of certain features. This is more of a behavior issue than an enhancement, but I wouldn't qualify it as a bug. x)

[2015-09-17 16:32] MaxXor commented on #398
I think `improvement` is this. Then we have `enhancement, improvement and bug`. I will fix this asap.

[2015-09-17 16:35] yankejustin commented on #398
Good, thank you. Mind if you assign this to yourself?

[2015-09-17 17:32] #398 closed

[2015-09-17 17:43] MaxXor commented on #397
@webiummedia Downloaded files are located in `%TEMP%`.

[2015-09-17 17:44] #397 closed

[2015-09-18 17:51] Crash129 commented on #396
Traffic encryption key + date of the log would be easy to guess and wouldn't be worth the work needed for doing this. I think the traffic encryption key should be enough.

[2015-09-18 19:22] #396 closed

[2015-09-19 18:58] Crash129 commented on #388
My idea for this would be:
1. Client drops a precompiled or runtime compiled (CodeDom) executable to a temporary place (persistence executable)
2. Client writes batch file to start the persistence executable with the process ID of the Client process as an argument
3. Client get's the PID of the persistence process either via named pipes or it just searches through all running processes for the fil

[2015-09-19 21:07] yankejustin commented on #388
@Crash129 Your English is not broken. It was actually very understandable and nearly flawless. :)
Just to point out, many of us know more languages than English, so please feel free to speak your native language if you feel you aren't making sense.
I think your idea would work quite well. It is simple, which is good because I don't think persistence should be a complex thing to implement using the

[2015-09-21 14:16] webiummedia opened #402 "Desable/Enable system power saver"
I was working on the remote machaine and the systeme powered off while i was investigating. Would it be possible to turn on or off the remote settings for power saving?

[2015-09-22 11:55] Crash129 opened #403 "Look on webpage for commands"
It would be a nice to have feature that the client looks up a webpage on startup and looks for (encrypted) commands.
You could generate these encrypted commands with a command builder at the server (example: http://puu.sh/kk73m/9ae9e77f89.png )

[2015-10-02 00:23] mendes12721 opened #404 "Webcam Support"
I'm not sure if here is the right place to put this but do you have planned a webcam support?

[2015-10-02 14:45] KNEG commented on #404
I'm new to this rat. Still looking through the files and seeing how everything is put together. I'm going to commit a webcam feature and disabling devices and drivers on the victims computer. I suggest you learn how to because this seems like a group project and should commit to make it better. Pretty solid project so far though.

[2015-10-02 15:26] mendes12721 commented on #404
First off all I must congratulate you all coders and helpers because this is the only rat  working on Windows 10 with the Windows defender active... about the coding I do know how to code a little bit, but I have little to no time ... and this project deserves People with time to spare and invest on Quasar.

[2015-10-02 17:05] MaxXor commented on #404
There is already an open issue on webcam support. Yes, we're gonna add this, but there is no ETA.
Thanks for your feedback!

[2015-10-02 17:05] #404 closed

[2015-10-12 08:21] #403 closed

[2015-10-12 23:33] ExodusTime opened #405 "I cant make the client work"
i can only make it work on my own windows. whenever i try to run it on virtual machine (outside my lan, i didnt try on a vm on my lan) i get the client opening things (PING.EXE and renaming itself to chrome.exe, all ok) but just after that im always getting "chrome.exe stopped working"
always the same, but i can connect myself on my own host.
it doesnt work also on the host outside the lan

[2015-10-13 00:42] yankejustin commented on #405
So it does correctly connect to the server, correct?

[2015-10-13 02:06] ExodusTime commented on #405
i think not, im trying to do it via noip.com

[2015-10-13 02:41] ExodusTime commented on #405
OK! just nothing, found that was my router, it has an own firewall that blocks all non previously requested ports. even with them open, just listening wont pass the firewall, you need to first send something before receive from the requested ports.

I'll close, and Thanks yankejustin

[2015-10-13 02:41] #405 closed

[2015-10-14 17:51] hakonamatata opened #406 "File Manager: Download Folder feature (all files in folder and it's subfolder)"
Hi
A nice feature that should be easy to implement is to allow downloading of a folder. Or more presiscly, to recursively download all files in the folder and sub-folders.

I suggest that when you select a folder and click download, that a pop-up appear asking if you really want to download all files in that folder. Maybe there should be an option to "download files in sub-folders", or just the fi

[2015-10-15 13:36] yankejustin commented on #406
Good suggestion. A menu box with the following choices:
1. Download folder and (item count) files.
2. Download all files only (item count).
3. Download folder only.

[2015-10-15 16:44] MaxXor commented on #406
Added it to the list #262.

[2015-10-15 16:44] #406 closed

[2015-10-20 20:27] mendes12721 opened #407 "RemoteShell doesn't handle unicode input"
I've found a bug on the "Remote Shell" Feature.

If the client haves non english letter on the folders like the Portuguese names "Cátia" or "Sérgio" or Portuguese words "Cópia" , "Segurança" the cd command will not work!

![folder-bug1](https://cloud.githubusercontent.com/assets/14933619/10619941/55c25e38-7770-11e5-8186-42d5dc2f879c.jpg)
![folder-bug2](https://cloud.githubusercontent.com/assets/14

[2015-10-23 12:47] webiummedia opened #408 "The UPNP Error does not popup on Quasar startup"
When you open quasar it starts listening to port by it self. But if i stop start manualy, i get the Upnp error. That meand for some reason, the upnp is not fonctional on startup and theres no popup to let me know.

[2015-10-23 14:06] yankejustin commented on #408
What are your current settings?

[2015-10-23 14:22] webiummedia commented on #408
![image](https://cloud.githubusercontent.com/assets/4869819/10695094/e253f720-796f-11e5-8080-1783cf989791.png)

This is what I got

[2015-10-23 14:24] webiummedia commented on #408
Theres no auto port forward failed notification on opening. If i manuly stop-start i get it thought. What i do is open my rooter controle panel, close-open upnp whait 5 seconds ans press start in quasar ... no idea why i have to do that everytime ...

[2015-11-06 05:42] ekuzneczova1988 opened #410 "Start from User App Data doesn't handle Unicode input"
The problem is when you start from User App Data and name of windows user has Unicode:
![default](https://cloud.githubusercontent.com/assets/15610263/10990283/8e18a4c8-847b-11e5-98cd-37c104194be8.png)

[2015-11-06 15:22] AlienHack commented on #408
Simply Copy and Paste this in .\Server\Core\Networking\Utilities\UPNP.cs

[code]

[2015-11-06 15:45] yankejustin commented on #410
Thanks for the report.

[2015-11-07 12:07] ngbatnicdotmil opened #411 "log autodownload"
it would be very useful feature

[2015-11-07 19:16] yankejustin commented on #411
Please give more details. What do you suppose would be a good time it should cycle through and try to automatically download?
Good idea, though.

[2015-11-07 19:26] yankejustin opened #412 "Save Changes Dialog Displays without Valid Change"
Currently, the (Client) Builder Form detects a change to settings and will ask to save changes to apply the current settings from the form to the XML file.
The issue in the title is visible if a user clicks to change an option (such as a checkbox) then reverts the change made (so it was the original option again).
Perhaps we should actually compare the values on the Form to the settings XML file.

[2015-11-07 19:27] yankejustin commented on #412
I'm going to take care of this.

[2015-11-11 19:28] ngbatnicdotmil commented on #411
I think the best would be if the server tries to download logs just after establishing a connection with client.

[2015-11-12 19:25] yankejustin commented on #411
@ngbatnicdotmil That would really hurt performance if the host had many clients... It wouldn't be very good to have an action such as establishment of a connection to have such a side effect...

[2015-11-21 17:32] webiummedia opened #413 "Registry question"
I need to execute a .cmd file on computer startup. It needs to be invisible (no dos window).
I am pretty sure i can do that from the regedit in quasar but I am unsure how to do it.

C:\Users\info\start.cmd

thx in advance

[2015-11-22 00:15] yankejustin commented on #413
This functionality is not yet implemented onto the Registry Editor. I plan on adding such functionality when I have free time. Most likely over winter break. :)

[2015-11-22 00:15] #413 closed

[2015-11-22 14:37] webiummedia commented on #413
untile such a feature exists, how can i do it manually?

[2015-11-22 18:35] zzredalert opened #414 "Windows Cannot access the specified device, path, or file. You may not have the appropriate permissions to access the item"
Hello guys,

Can you guys help me out here? I think i doing something wrong.

Im trying to execute the Quasar client on my computer and always getting this message when exeute the generated client:

"Windows Cannot access the specified device, path, or file. You may not have the appropriate permissions to access the item".

I have no Anti-Virus installed on my Windows 10 computer, also the Windows

[2015-11-22 22:05] yankejustin commented on #413
Through Quasar, that would not be possible through the Registry Editor for now.
You could upload a file to the client then add a startup registry key by a different feature on Quasar. :100:

[2015-11-22 22:08] yankejustin commented on #414
Hi zzredalert: could I please have the following information?
1) A few of the settings related to where you have the client saved.
2) Is this client installed on the machine?
3) Is the client executing correctly or does the error message show up then cause the client to exit?
4) Have you tried re-building the client binary? (client.bin)

[2015-11-23 12:31] datyin opened #415 "Remote Desktop - Speedup"
Instead of using picture box for Remote Desktop Preview you can use this RDP lib (http://sandaruwmp.blogspot.mk/2014/05/remote-desktop-application-with-rdp.html) it is a lot more faster :)

[2015-11-23 14:42] yankejustin commented on #415
Perhaps the implementation <i>could</i> be changed to this in the not-so-close future, but I see no big reason to change to this method currently. We get good performance already for this feature.
On a side note, I would be willing to look at benchmarks if you'd be willing to provide them. If they are that significant, I would actually be willing to switch the implementation after I finish the Reg

[2015-11-23 14:50] yankejustin commented on #415
I also want to put these related thoughts out there for reference:
1. It is very likely that there will still be bottlenecks experienced for similar reasons that are already seen in the current implementation that are unavoidable.
2. RDP clients could likely be another layer of abstraction (i.e.: higher complexity) for a low pay-off.
3. By using such a feature, will we still be able to add feature

[2015-11-23 14:51] yankejustin commented on #415
@datyin Thank you for your suggestion. If you'd be willing to provide some further information, perhaps it will be moved up our list of priorities. :100:

[2015-11-24 08:34] datyin commented on #415
@yankejustin yes, improvement on performance is truly notable. I use your RAT to manage my network computers and even if i loose low quality image it still lags, but with this module you wont notice any lag. :)

[2015-11-24 17:09] yankejustin commented on #415
@datyin Would it be possible to provide a little demonstration by forking the repository and providing a basic implementation of such a feature so it can be benchmarked?

[2015-11-24 22:49] zzredalert commented on #414
Thank you for the reply Yankejustin, i wll try to rebuild it in a couple days and bring the news for you.

[2015-12-08 17:12] yankejustin commented on #414
This can be opened once again if it is still an issue for you.

[2015-12-08 17:12] #414 closed

[2015-12-08 17:17] yankejustin commented on #402
<a href="http://stackoverflow.com/questions/241222/need-to-disable-the-screen-saver-screen-locking-in-windows-c-net">Reference</a>.

[2015-12-09 11:47] hanbim520 opened #416 "Could not get password"
I use the password function ,but i can't get password on win 10. I down one's code which could get password for chrome ,but not work on ie. I check your code which part on ie and find it does not work too.My english is not good.

[2015-12-09 16:36] viths06 opened #417 "How to change the installation path to network shared example \\PC01\Users\Documents\Client.exe"
I wanted to change the installation path to My Network Places to some \\(user)\users\documets\Client.exe

thanks please reply asap

[2015-12-09 18:58] yankejustin commented on #417
What is the result of your attempts to do so? Is there an issue in doing so?

[2015-12-09 19:01] yankejustin commented on #416
Could you perhaps include your issue in your native language for those of us that perhaps speak it for clarity? :)
<hr />
1. What exactly do you see happening? Does anything come up or do you get no results?
2. Does the password recovery feature function at all on the computer?
3. Have you tried running the application as an administrator?

[2015-12-10 07:40] hanbim520 commented on #416
Ok,Chinese language.我只是想和你一样研究这些技术，并非用来做一些坏事。我在研究IE密码的时候，发现好像IE的加密方式改变了（Windows 10 OS上），于是Google查资料，接着就找到了您的git 项目，我在win10上编译了这个项目，其他的诸如远程桌面之类没发现什么问题，但是在获取密码的时候出现了问题，抛了异常（对象尚未实例化），接着我调试了代码，发现是获取密码的时候 sqlite里面一个变量未被初始化，是一个空指针（null 指针)。我只调试了chrome部分，然后我改了您的代码，采用了System.Data.Sqlite和微软的安全库，解决了chrome密码的问题（带来了另外的问题就是dll库，应该采用代码方式，我只是用于测试）。IE的我还没搞定。您写的这个工具很棒。另外可以加上法国一位写的Windows密码的获取(C语言实现)，这样在Windows上感觉在

[2015-12-11 13:40] bitterypaul opened #418 "Interface enhancements"
I think QuasarRAT will work well with [ MaterialSkin ](https://github.com/IgnaceMaes/MaterialSkin) It suports WinForms and hence compatible with Mono on Linux

[OxyPlot](https://github.com/oxyplot/oxyplot) to add a graph for inbound and outbound transfers.

[2015-12-11 13:49] bitterypaul opened #419 "Windows service"
[winsw](https://github.com/kohsuke/winsw) can be used to run quasarRAT as a service.

[2015-12-11 14:41] yankejustin commented on #418
Thank you for the suggestion, but we will not be using WinForms.

[2015-12-11 14:41] #418 closed

[2015-12-11 14:44] yankejustin commented on #244
<a href="https://github.com/quasar/QuasarRAT/issues/419">Potentially useful link to make a client a Windows Service.</a>

[2015-12-11 14:44] #419 closed

[2015-12-11 14:45] yankejustin commented on #419
In the future, it would be more preferable to just make a comment for the issue that this is under. Thank you for the suggestion, though!

[2015-12-11 14:48] SandPox commented on #419
It will not possible to capture screen if you're running on SYSTEM privilege, the screen will totally black out because SYSTEM desktop is not real. Unless you could execute a separated screen capture module as regular user

[2015-12-11 15:29] tidusjar commented on #419
Is NSSM not an option?

[2015-12-11 17:16] yankejustin commented on #419
Could you please explain that acronym? I try to make the least amount of assumptions. :)

[2015-12-11 17:17] tidusjar commented on #419
Haha sorry! [NSSM](https://nssm.cc/)

[2015-12-14 07:29] XenocodeRCE commented on #416
Put

[2015-12-14 15:14] yankejustin commented on #416
I appreciate your comment and suggestions, @hanbim520
I will get back to you soon regarding both this issue and your suggestions.
Just to be sure, may I have the following information to help resolve this issue please?
1. Operating system and build of the operating system.
2. The browsers that this affects (Chrome, Internet Explorer, Firefox, etc.) and the version of the browser.
3. Do you still h

[2015-12-16 13:48] hanbim520 commented on #416
很抱歉，我最近丢失我的iPhone 6 plus，骇客经常对我的邮箱发钓鱼邮件，也往我的手机发钓鱼短信，目的是想获取我的appleid的密码，从而激活iPhone，我找到了这个hack，但是警方没有能力去调查，他们的技术不够，而我的取证不能作为法律上有效的取证。

OS is WINDOWS 10  professional
it don't work on any browser
I run the client with  administrator privileges (run vs with administrator privileges),but not work.

[2015-12-16 13:53] hanbim520 commented on #416
C:\Users\zhanghaijun\AppData\Local\Google\Chrome\User Data\Default\Login Data
The first pic showed the path  @XenocodeRCE

[2015-12-16 14:12] hanbim520 commented on #416
The value is C:\Users\zhanghaijun\AppData\Local\Google\Chrome\User Data\Default\Login Data @XenocodeRCE

[2015-12-17 08:16] hanbim520 commented on #416
![12 2](https://cloud.githubusercontent.com/assets/7490792/11864637/46a9db88-a4d9-11e5-9bed-b0dcd69369f2.png)

![13](https://cloud.githubusercontent.com/assets/7490792/11864655/6f5b2f3c-a4d9-11e5-82e9-c565ccdd3c70.png)

这两个网站的管理员邮箱给我发钓鱼，国外的（英国和美国），我无法联系这两家公司。请看到的美国朋友，联系下这两家公司！

[2015-12-17 08:36] hanbim520 commented on #416
Received: from 184.173.153.36 (unknown [184.173.153.36])
	by newmx24.qq.com (NewMx) with SMTP id
	for <710605420@qq.com>; Thu, 17 Dec 2015 16:09:46 +0800
X-QQ-FEAT: ac+oSjEisxVZO081NbwL1vc/qoje9GNSAFz13TqXPlK1vT2d9063Q7cnb7NZ2
	IOq82KlCn3WyYseWSLOHXFo3Z5zWTRYj0ijDc8G3J95pDAhjha6pmbCHjPSFmaFU+Fh+cc7
	Y1MoBwzvH6EZDwun3ex7w7nmQ1mQ2ADkpHRrI+Ov7Pa8V8NzNSQs42OxgD7K6GgJUp3Dm36
	+fSyxa90Tb6gbm4h1iR7rHLqZT

[2015-12-18 13:54] kmer237 opened #420 "Password issue"
Can someone help me? my quasar only retrieve password on Firefox.
Please i need your help improving this issue.

Thanks

[2015-12-18 15:22] hanbim520 commented on #420
see issue 36

[2015-12-18 20:48] #420 closed

[2016-01-03 18:53] #415 closed

[2016-01-03 18:54] datyin commented on #415
This method works only for LAN

[2016-02-09 17:25] #108 closed

[2016-02-09 17:25] #370 closed

[2016-02-15 23:21] Eredanne commented on #271
I would love to see this implemented. Any updates?

[2016-02-16 03:22] SandPox commented on #271
no, this API is deprecated so this would not be implemented

[2016-02-16 03:59] Eredanne commented on #271
How about some other API?

[2016-02-21 16:37] hanbim520 commented on #416
Haven't fix the bug yet

[2016-02-21 16:38] hanbim520 commented on #416
Run on windows 10

[2016-02-24 12:04] ekuzneczova1988 opened #422 "Logging clients events(on server)"
This makes it possible at the time when the operator is not on the computer continue to monitor activity and analyze the use of computers with the installed client.
- Events inclusion - off the computer
- Connection - Disable network
- Running Applications (open window names)
- Events of keylogger
- Visited web page
- Sent messages
- Connecting USB devices
- Change IP
- Install new software

[2016-02-24 14:31] yankejustin commented on #422
What do you mean by some of those? What is the "sent messages" and "events of keylogger"?
Also, we already can see a client's running applications through the task manager feature.

[2016-02-25 03:27] ekuzneczova1988 commented on #422
Sample:
date - tag of client - (type of message): content
28.07.2015 16:24:01 - Office04 - (APP LAUNCHED): SKYPE
28.07.2015 16:24:42 - Office04 - (SKYPE): Hello im fine
28.07.2015 16:25:55- Office04 - (SYSTEM STATUS): Disconected
28.07.2015 16:26:01- Office05 - (facebook): Hello im fine
28.07.2015 16:27:30- Office05 - (SYSTEM STATUS): IP change to: 10.10.0.1
28.07.2015 16:28:40 - Office05 - (Key l

[2016-02-25 07:30] deebug opened #423 "RDP showing small fraction (upper left) of screen."
A desktop with an UHD resolution can't be viewed in its entirety which renders remote administration useless. It shows the top left part of the screen.

This could be either a scaling issue (not showing the entire desktop) or a screen-grabbing issue (not streaming the entire desktop)

OS: Windows 10 Pro 64 bit
Version: 1.2.0.0

[2016-02-25 09:17] MaxXor commented on #423
Sadly I don't have a monitor which supports UHD resolution to figure out the issue. :(

[2016-02-25 09:46] yankejustin commented on #423
Neither do I. Hmmm...

[2016-02-27 11:35] deebug commented on #423
Mouse input is scaled correctly. So the true dimensions are known but somehow the bitmap doesn't reflect that. I'll use a debug build and try to figure this one out myself. I'll keep you posted, eta hopefully during next week.

[2016-02-28 16:08] #417 closed

[2016-02-29 11:18] deebug commented on #423
ndows 10 handles DPI scaling a bit differently.
I've learned that with e.g. a global 125% DPI setting the `Screen.AllScreens[monitor].Bounds` returns a bogus resolution. So this is not the the fault of the ultra-hight resolution (I did assume this at first).

In my test setting, using a Windows 10 machine with a global 125% DPI scaling, the bounds return 1280x720 while the actual resolution was 16

[2016-02-29 11:28] deebug commented on #423
Also based on some delightful light reading [here](https://msdn.microsoft.com/en-us/library/windows/desktop/dn469266(v=vs.85).aspx).

[2016-02-29 13:44] MaxXor commented on #423
Yes, Option 2 sounds very good. I'll add this.

[2016-03-08 17:20] DragonzMaster opened #424 "Webcam Example Project"
Hi,
First of all I know there is already an issue opened about webcam
but I successed to make a small program to get webcams and their resolutions and I've tested it and works perfectly (I've used some examples available on AForge website).
What good about this that it dosen't need any other dlls or files - even in resources - as I have used Aforge.NET framework and I've included the needed namesp

[2016-03-10 14:51] DragonzMaster opened #425 "Registry Editor doesn't work correctly on 64-bit systems"
I tried to use registry editor in release config but it seems to be not working even when I run the client with admin privil. but when I tried it using debug config it works good.

[2016-03-11 07:42] DragonzMaster commented on #425
ok, thanks in advance.

[2016-03-11 07:59] DragonzMaster commented on #425
I forget to mention that when I tried to view values in HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run it get the values from the same key but Current user not local machine
so it need to be fixed too, and make it view the values from the correct key

[2016-03-11 13:48] MaxXor commented on #424
Thank you for this. I've downloaded the project files and will look into it over the next few days.

[2016-03-14 10:08] StingRaptor opened #426 "Obfuscation prevents RegistryEditor from working properly"
After some research on issue: #425, I have found that the crashes most certainly are caused by the obfuscation that is performed during the build process of the client.

The client-side serializer will in this case generate a representation  of the registry that cannot be deserialized on the server, and through this causes a exception to be thrown that disconnects the client.

[2016-03-14 10:46] DragonzMaster commented on #426
Did you mean the renamer ??
It is not the first time that renamer cause problems in release config.
I remember that the keylogger face such problem and it was solved by excluding some of keylogger namespaces so we can try the same with registry editor namespaces but first we have to know which one cause this problem.

[2016-03-14 10:56] StingRaptor commented on #426
Yes, the `Renamer` is the root cause of the problem. To confirm this I added a check to prevent the `Renamer` from obfuscation the Registry namespace which seems to have solved the problem.

[2016-03-14 11:10] DragonzMaster commented on #369
@StingRaptor you can see this as it might help you.

[2016-03-14 11:12] DragonzMaster commented on #426
you can see #369 , I don't know if it will hep you or no.

[2016-03-14 14:26] StingRaptor commented on #426
Thanks, @DragonzMaster this is how i solved the problem. I'll try and get everything pushed to my fork later today and hopefully make a pull request tomorrow.

[2016-03-14 16:05] StingRaptor commented on #425
@DragonzMaster I have looked at the `HKEY_LOCAL_MACHINE` registry but can't seem to recreate the your error. However, I have found that the `RegistryEditor` only seems to work against the 64-bit registry (even if the Client is 32-bit).

[2016-03-14 16:25] yankejustin commented on #424
I have access to a webcam now. I will look into this at some point as well. Thank you! :smile:

[2016-03-14 16:29] yankejustin commented on #369
@ghost I doubt the change in namespace would mess up deserialization. Perhaps serialization.
Honestly have not taken the time to look into why we need to exclude those namespaces. Would be nice to be able to remove it so we can allow users to obfuscate if necessary without issues . . .

[2016-03-14 20:36] DragonzMaster commented on #424
I hope you find this useful. :smile:

[2016-03-14 21:27] DragonzMaster commented on #425
What I mean that when I open
 HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
it shows the values from
 HKEY_LOCAL_MACHINE\**WOWNode64**\SOFTWARE\Microsoft\Windows\CurrentVersion\Run

[2016-03-15 09:18] StingRaptor commented on #425
Ok, seems that this is what I mentioned about the `RegistryEditor` only working against the 64-bit registry. In the future this should probably be extended to make it possible to edit both 64-bit and 32-bit registry values/keys, however I will put this on hold and handle it in later updates.

[2016-03-15 10:24] HasanYeah commented on #416
Could this possibly help? https://github.com/ashumkin/Chrome-passwords

[2016-03-15 10:26] HasanYeah commented on #416
Or maybe this? http://www.codeforge.com/article/249225

[2016-03-15 11:24] HasanYeah opened #428 "Not FUD?"
How can I edit the code to allow this to become FUD?, I've tried using windows process to do this but its still not FUD, any quick n easy tips? Thanks

[2016-03-15 12:57] MaxXor commented on #428
It's not meant to be FUD.

[2016-03-15 12:57] #428 closed

[2016-03-15 13:14] MaxXor commented on #425
@StingRaptor The client registryeditor is working partially on 64-bit systems. As @DragonzMaster said. For example when you try to access keys from `HKEY_LOCAL_MACHINE\SOFTWARE\*` it will give you instead the keys from `HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\*` on 64-bit systems.
Same for `HKEY_CURRENT_USER\Software\*`.

On 32-bit systems it's working correctly.

We will need to add the enum `Reg

[2016-03-15 14:06] DragonzMaster commented on #425
@MaxXor - @StingRaptor, You can give this a look :
(*) https://regexplore.codeplex.com
this project works fine for me, It might help you. :smile:

[2016-03-15 14:11] MaxXor commented on #425
.... it doesn't need changes as it's compiled for `AnyCPU`, ours x86. That's the difference why it's working.

[2016-03-15 14:13] DragonzMaster commented on #425
So what is preventing us to compile Quasar client for AnyCPU ??

[2016-03-15 14:16] MaxXor commented on #425
The password recovery. (see: https://github.com/quasar/QuasarRAT/issues/352) It was solution 3.

[2016-03-15 14:52] StingRaptor commented on #425
Thank you for the help, @MaxXor  and @DragonzMaster. I have now made the needed changes, and it seems that  the RegistryEditor is working and displaying the correct keys in a 64-bit system. :smile:

[2016-03-15 15:20] DragonzMaster commented on #425
Thank you for you efforts, @StingRaptor .I've tested the client from your fork and it seems to be fixed. The project which I mentioned before can help you to get Default values and allow you to search the registry.

[2016-03-15 15:38] MaxXor commented on #425
@StingRaptor Yes please adjust the form.

[2016-03-15 15:42] StingRaptor commented on #425
@DragonzMaster @MaxXor Ok, this is a quick fix. However what is a reasonable size?

[2016-03-15 15:50] MaxXor commented on #425
Yes.

[2016-03-15 15:59] StingRaptor commented on #425
@DragonzMaster I will look at the link you provided when I have more time on my hands, Thank you. :smile:

Title and form size fixed in: 6492b2734d533690d7c93b312e904d79e642e401

[2016-03-17 13:43] #425 closed

[2016-03-17 13:43] #426 closed

[2016-03-18 14:38] DragonzMaster opened #429 "Question about adding new packets"
I've tried to add new feature to the project and I've used Task Manager as an example and I added
- [GetConnections] to server packets
- [GetConnectionsResponse] to client packets

and added a handler for both packets but the server throw the following Exception :

+	Exception thrown: 'System.InvalidOperationException' in Quasar.exe ("Unknown type xServer.Core.Packets.ServerPackets.GetConnections"

[2016-03-18 14:42] MaxXor commented on #429
Did you add the packets to the client & server?

[2016-03-18 14:46] DragonzMaster commented on #429
yes, I do. I've added packets to both client and server (Core/Packets).

[2016-03-18 14:49] MaxXor commented on #429
Could you show me in your fork what you've added?

[2016-03-18 14:50] DragonzMaster commented on #429
OK, give me a couple of minute and I will inform you when it is ready.

[2016-03-18 15:20] DragonzMaster commented on #429
You can find the code here
https://github.com/DragonzMaster/QuasarRAT/tree/TCP-con
Sorry, I know that the code may be bad but I'll try to clean it up.

[2016-03-18 15:31] LostSoulFly commented on #429
It doesn't look like you've added them into the Serializer for both the Client and Server under QuasarClient.cs ad QuasarServer.cs

[2016-03-18 15:32] MaxXor commented on #429
@LostSoulFly is right.

[2016-03-18 15:40] DragonzMaster commented on #429
@MaxXor - @LostSoulFly Thank you for your help, now I can try again and see if it is working.

[2016-03-18 16:07] #429 closed

[2016-03-21 13:27] Vigorian opened #432 "XSS again"

[2016-03-21 20:32] #432 closed

[2016-03-22 20:16] LostSoulFly opened #433 "Search The Client ListView"
I'm contemplating implementing this simple feature and was curious as to what the best method would be.

The simplest way I can think of is to create and hide a new ListView on demand when the list is being filtered. Basically: You begin typing on frmMain with the ListView selected and a TextBoxpops up in the corner. A new, previously hidden, ListView appears over the current one with the results

[2016-03-22 21:42] StingRaptor commented on #433
In my personal opinion I would probably go with the later option. The reason for this is that it would possibly allow less duplication of code because the original `ListView` can be used. Also I don't believe that it will be necessary to use a separate list for the filtered clients. It should be possible to just filter the `ConnectedClients` directly and then add the filtered clients to the `ListV

[2016-03-23 01:25] LostSoulFly commented on #433
I see your point. Would I lock the list? What happens when a new client
connects and needs to be added to the list?

[2016-03-23 07:21] StingRaptor commented on #433
Locking is probably required given that `ConnectedClients` is a shared resource. When it comes to new clients connecting you could simply just check them against the filter before adding them to the `ListView`.

Also a little side note, I think you should be able to use `_clientConnections` instead of directly using `ListenServer.ConnectedClients`.

[2016-03-24 07:44] yankejustin commented on #433
Use a thread-safe List perhaps.

[2016-03-26 00:23] korom42 opened #434 "I can't edit forms of the project"
Hi all .. I am not familiar with c#
When I try to edit any thing on main form (even ContexMenu) and build the project it become without listview like this ... how to fix this plz
![1kg40vy](https://cloud.githubusercontent.com/assets/18078699/14056803/2ad7bde2-f2f1-11e5-8d07-6306b577bb1b.png)
Thank is advance

[2016-03-26 12:18] DragonzMaster commented on #434
Quasar use custom ListView (AeroListView) and it is working fine for me

[2016-03-26 12:44] korom42 commented on #434
I really do not know why I have this problem , just downloaded the rar again and extract at first I always have this error , when I try to edit any thing the main form became like in first post screenshot
![screenshot_31](https://cloud.githubusercontent.com/assets/18078699/14060086/9cbfaa02-f358-11e5-9347-e0ced4af74d5.jpg)

[2016-03-26 14:14] DragonzMaster commented on #434
Aha, You can easily solve this problem by running the server for at least one time in debug config then open frmMain design and it should works now :smile:

[2016-03-26 16:36] korom42 commented on #434
Thanks mate it works , I can't believe how stupid I was thank you very much again .

[2016-03-26 20:03] DragonzMaster commented on #434
You are welcome. No problem sometimes we miss somethings like that :smile:
Please, Now can you can close this issue ??

[2016-03-28 16:44] #434 closed

[2016-03-28 18:52] korom42 opened #435 "Advanced Fun Panel - Improvement"
Hey,
I am suggesting to add an advanced fun panel , something like in picture below , I've all necessary codes if needed for both client and server :)

![1ed7gsq](https://cloud.githubusercontent.com/assets/18078699/14086742/91ab0e46-f51e-11e5-9a99-da1ca0eff5d9.png)
![6hbucwv](https://cloud.githubusercontent.com/assets/18078699/14086745/926bea76-f51e-11e5-84a0-ac91c1e1024d.png)
![kdhtsnf](https://c

[2016-03-29 04:51] Trapaceiro commented on #435
These functions are really good ...
I suggest that "Lock / Unlock Mouse" and "Lock / Unlock Keyboard" options are separated! Also on the MessageBox, there is a "none" option so that no icon appears in the message.

[2016-03-29 08:42] kainpark7894 opened #436 "pupy Explit & QuasarRAT C# ClassLibrary DLL INJECTION POSSIBLE?"
QuasarRAT C# ClassLibrary DLL INJECTION POSSIBLE?

Default -> C# Client.exe -> Bulid Client.bin PE File

My Class Library Compile DLL ->Explorer.exe and Anyway 32bit&64bit DLL injection No execute Code

Hide injection Client.Bin ->  DLL comfile Possible?

ex) reflective dll injection

https://github.com/dismantl/ImprovedReflectiveDLLInjection

[2016-03-30 13:00] MaxXor commented on #435
Sorry, a fun panel will not be added.

[2016-03-30 13:00] #435 closed

[2016-03-30 20:11] CarlSchou opened #438 "Color / Group in listview"
Would be really great to be able to organize clients in the listview.

idk if this is the right place to post suggestions ¯\_(ツ)_/¯

[2016-04-01 15:47] corefx opened #439 "Rootkit"
A rootkit would be a useful feature for hiding the client from task manager. Rootkit can also be used to hide client's network connection and files.

What do you think about this @MaxXor?

[2016-04-01 21:55] MaxXor commented on #439
Ehmm, no.

[2016-04-01 21:55] #439 closed

[2016-04-01 21:55] #102 closed

[2016-04-03 14:41] MK73DS opened #440 "Client loses Administrator privileges on restart"
Hi :)

Is it possible to autostart the client as administrator ?
It's quiet annoying to always request administrator's rights, and wait for my little brother to accept it ^^

Thank you :)

[2016-04-03 15:59] DragonzMaster commented on #440
I think you can easily edit the client manifest.

[2016-04-03 16:42] MaxXor commented on #440
There is an issue I'm already aware of. When the client is installed with administrator privileges, once the machine is restarted it loses this and only has user privileges. :/

[2016-04-03 17:01] MK73DS commented on #440
Thank you for giving more details and I hope someone will be able to fix this :)

[2016-04-03 17:05] MaxXor commented on #440
I'm going to work on this next week, no problem.

[2016-04-03 18:52] MK73DS commented on #440
Okay thank you very much :)

[2016-04-05 16:13] MK73DS opened #441 "Getting connection logs"
Hi :)

I always keep Quasar RAT running in the background to keep an eye on what my little brother is doing on his PC.
But I also want to know how many times he was on his computer during the day. So a feature like a connection log will be a good one :)

Thank you for helping and sorry for my english ^^

[2016-04-06 01:03] DragonzMaster commented on #441
Can we replace **SetStatue** with log ?? @MaxXor

[2016-04-07 00:37] yankejustin commented on #441
@DragonzMaster Instead of replacing <b>SetStatus</b>, we could just modify the handler on the client's side to log it whenever it is about to change status.

[2016-04-07 12:56] DragonzMaster commented on #441
Thanks @yankejustin , That's what I mean but excuse me for my English. We can just rename this function to **AddLog** and edit the handler on server side to add it to listview with the time-stamp and client ID and create new form for logs and save it.

[2016-04-09 15:43] bitterypaul commented on #135
And there's another library out in the wild.
[https://github.com/filoe/cscore](cscore)

[2016-04-09 15:44] bitterypaul commented on #390
We can use [https://github.com/filoe/cscore](cscore)

[2016-04-09 22:27] LostSoulFly commented on #440
I've done research on auto-elevating in the past and I wasn't able to find a legit solution other than digitally signing the EXE or running it as a service.

What are your ideas to make this work?

[2016-04-09 22:31] LostSoulFly opened #442 "Notification when client goes offline"
I've attempted this myself, but have not been able to make it work.

It seems like the client's information is cleared too quickly for me to use it.

[2016-04-09 23:18] DragonzMaster commented on #442
I don't know if I'm right or wrong but you can try to find the code which make the client removed from **ConnectedClients** after disconnecting then edit it to add it to another list (for example).

[2016-04-10 18:37] MK73DS commented on #440
I don't know anything about signing but why can't this be implemented ?

[2016-04-11 00:04] yankejustin commented on #440
@MK73DS Quite certain that signing it costs money.

[2016-04-11 08:27] darknet1990 opened #443 "Qussion About (For each client c in SelectedClients)"
Hello Everyone i just need an answer for my Qussion and to understant more
Here is my code  !!

Foreach (Client c in SelectedClients)
{

 //# Here can i put any command wich every client will make it ??  Like >>

  System.IO.Directory.Delete("C:\Jony", true);

  //# every client in the list will delete this folder ??

}

[2016-04-11 13:19] DragonzMaster commented on #443
It should send the command to each client that is selected in the Listview in main form.

[2016-04-11 14:11] darknet1990 commented on #443
Thank You @DragonzMaster   I mean there is no need to write any class in (client and server ) this code will excute what i want ? @DragonzMaster

[2016-04-11 14:22] DragonzMaster commented on #443
yup you don't need to do that, but remember that this command will only will be sent **ONLY** to selected clients (may be 1,2 or 20 ... etc...) **NOT** all of them (except you have selected all the clients).
You can add a new item to context-menu and double click on it to add the code like you mentioned in the first comment.

[2016-04-11 14:46] darknet1990 commented on #443
i think this code will send this message box to all the conected clients maybe i have more than 300 clients )));

foreach(Client c in GetConnectedClients())
            {
                MessageBox.Show("Hello ,,,,,");
            }

[2016-04-11 15:23] DragonzMaster commented on #443
Sorry, this code won't work. you should do what I've mentioned before (adding new packets ,edit handler and add packets to serializer.

[2016-04-11 15:30] DragonzMaster commented on #443
This project uses this style to manage and add packets and make it serliazable.

[2016-04-11 17:50] LostSoulFly commented on #443
Looks like you just want to delete a specific folder on each of the connect clients?

You wouldn't need to add your own packet, just use .DoPathDelete

`        private void deleteToolStripMenuItem_Click(object sender, EventArgs e)
        {
            int count = lstDirectory.SelectedItems.Count;
            if (count == 0) return;
            if (MessageBox.Show(string.Format("Are you sure you

[2016-04-11 18:29] darknet1990 commented on #443
Yes Thanks for all answers i understand at the end that i can write my code (**foreach**) and put my command like **my code**  between it ..
@LostSoulFly it was just an example i want to execute a long script in all **connected clients** but my command line is very long and complicated this why i asked this Qussion  to avoid making any classes and serializer / packets ... if i am wrong please expl

[2016-04-11 18:39] DragonzMaster commented on #443
Unfortunately as I've mentioned before you have to add **new packets/edit handler/add packets to serializer** to make the code run on your clients, I think you can't just add your code between **for-each** block as ** the server only send packets NOT code blocks **

[2016-04-11 18:55] darknet1990 commented on #443
yes you are true i actually tried just now and it **dont work**  !!
it is just working on my one computer but others on my network **no**

[2016-04-11 19:01] LostSoulFly commented on #443
@DragonzMaster is correct, I was misunderstanding your goal. If you are only putting your code between a "for each", it's only going to run on the server itself and not the clients.

[2016-04-11 20:16] DragonzMaster commented on #443
I will try to simplify how it works.
The server only send and recieve packets and these packet hold data between the server and client, some of them are server packets like **GetConnections** and the others are client packets like **GetConnectionsResponse** and must be added to both of server and client.
These packets are serialized using NetSerializer to make easy to travel over network and of co

[2016-04-12 05:35] darknet1990 commented on #443
Yes @DragonzMaster thank you for your Explain i thout it will be easy but it seems i need some time to understant how it works spichaly this all of classes and packets i am c# porgramer but its my first time work in an client and server Project >>>

[2016-04-12 06:03] darknet1990 opened #444 "Why The clients Dont work without Admin Permission ?"
Hi if anybody wants to open the client.exe in the windows 10 its working and its shows in the task manger after 15 secounds its gone without showing any connected client in the listview

But if we open the client as admin in windows its working normaly
there is a command line i think where the client dont work without this permission how can i desable it?
i think this admin permission is not so go

[2016-04-12 09:46] DragonzMaster commented on #443
No problem, I've faced the same thing the first time I tried to add a new feature but It's very easy and not that complicated. :smile: and you can guide with any existed feature and you will know how it works.
May be I can help you with the feature you want to add.

[2016-04-12 12:56] darknet1990 commented on #443
@DragonzMaster how can i contact you via what ? wich feature do you added ?

[2016-04-12 13:00] darknet1990 commented on #440
@yankejustin Hi how i can contact you ? maybe we have some deal

[2016-04-12 13:25] DragonzMaster commented on #443
You can fork the project and see if I can help you. I've added TCP Connections feature.

[2016-04-12 14:53] darknet1990 commented on #443
online i cannot put **my project **

[2016-04-12 16:11] yankejustin commented on #444
In large companies, generally the IT administrators will grant permission where necessary. Large companies tend to have well-configured permissions on company machines. :smile:
I do wonder if first part is a bug though... Hmmm...

[2016-04-12 16:13] yankejustin commented on #440
@darknet1990 MaxXor would be the one to contact regarding those decisions about the project since it is his. :)

[2016-04-12 16:13] yankejustin commented on #440
@darknet1990 Thank you though.

[2016-04-12 19:54] MK73DS commented on #424
Hi :)
I'm very hyped about this feature and I want to know if this is still on work ^^
I'd love to help you (I would already make it if I know how to do that ^^) but unfortunatly my skills are limited to just "Enter your name : " .. "Hello [NAME] !" ^^

Anyway, thank you very much for your work on it and I hope this will be integrated soonly in Quasar :)
And sorry for my english too ^^"

[2016-04-14 06:29] darknet1990 commented on #444
@yankejustin  hi i have some deal with you how can i contact you ?

[2016-04-15 05:56] darknet1990 commented on #444
@yankejustin how can i remove this admin permission ?

[2016-04-19 10:10] MaxXor commented on #444
The client doesn't need admin privileges, even on Windows 10. Did you chose to install the client to a directory which requires admin privileges?

[2016-04-19 10:11] #443 closed

[2016-04-20 15:44] SpanishCat opened #445 "[IDEA] Being able to see your clients on the go?"
This is just an idea but can it be possible to create an application to be able to see your clients through your mobile device? It might sound a bit dumb but I'm just sharing my thoughts.

[2016-04-21 16:36] lixiaoyan opened #446 "Memory leak when using remote desktop."

[2016-04-21 18:09] MK73DS commented on #436
Does that mean that the client will launch as administrator when explorer.exe is launched ?

[2016-04-21 18:23] MK73DS opened #447 "Not being able to elevate client permissions"
Hi :)

When I want to elevate client permissions, every thing bugs and I have to reconnect to my client :(

Thank's for helping :D Both me and my client are on Windows 10 :)

[2016-04-21 19:52] MaxXor commented on #446
Can you provide more information?

[2016-04-21 20:12] lixiaoyan commented on #446
By using Perfmon, I found the Process Handle Count continues to increase
when using remote desktop.

On Fri, Apr 22, 2016, 3:52 AM MaxXor <notifications@github.com> wrote:

[2016-04-23 13:43] bitterypaul commented on #445
Which mobile device are you suggesting?
If you choose android, we need to translate the .net objects to java objects which is not favourable.
In iOS, .net code is not allowed
In windows phone, you have an option but the app cannot be published in the store because it is supporting backdoor access.
Only thing we can do is to use a website which lists the clients.

[2016-04-23 17:47] kainpark7894 commented on #436
pe format file taskmgr.exe View No Hidden
but dll format file Reflective INJECTION Hide Code injection(explorer.exe,iexplorer.exe,etc systemfile)
C# file Reflective Injection impossible? or Hide Client.exe -> DLL Injection What support?

[2016-04-24 07:45] Imadlekal commented on #445
It's a good idea actually , and I don't think you need to do anything using Java since there is Xamarin now and you can write native code using C# .

[2016-04-24 18:25] MaxXor commented on #447
What do you mean by "every thing bugs"? Does it bug on server or client side?

[2016-04-24 18:27] MaxXor commented on #445
Not a bad idea, I like that. Although I have no experience in developing mobile apps.

[2016-04-24 20:29] yankejustin commented on #445
I have experience in developing mobile apps. As much as I like this idea, it would be best to port the client to the native language of the OS instead of using Xamarin (so we don't have to worry about licenses and such). The biggest pain besides the actual porting is that it makes each update to the client a bit more difficult for each platform supported (testing takes longer, all modifications ne

[2016-04-24 21:53] MK73DS commented on #447
I mean, I got disconnected from my client and I have to restart Quasar.
But now it's working fine, I don't know what happened this time ^^

So you can close this issue :) Thank you anyway for answering :)

[2016-04-25 08:02] MaxXor commented on #447
When elevating the client permissions, the client will be restarted. :smile:

[2016-04-25 08:02] #447 closed

[2016-04-25 08:04] MaxXor commented on #445
I'd suggest the mobile app communicates only with the server (maybe a watch-only API so no harm could be done?). For example a small webserver for  the API in C# wouldn't be a problem.
And then you just enter in the mobile app a unique token for access, ip and port.

[2016-04-26 20:17] SpanishCat commented on #445
I think it would be better to make it simple, not too advanced like being able to see the desktop, move the mouse, or type with a keyboard (it could be an option though.) Just like an update each 10-60 seconds to see what window (s)he is on, see what that person is typing, being able to shutdown/restart/standby the computer, and being able to see the passwords and save it as a text file.

[2016-04-26 20:36] SpanishCat opened #451 "Not being able to find the clients country."
I have no clue if it's just me but every time I test the client to make sure it works it doesn't show the country it keeps say 'Unknown [-]' and that's about it. Plus it doesn't even show an icon it only shows a '?'

[2016-04-26 20:37] MaxXor commented on #451
Yep, it's using this site for geolocation: https://freegeoip.net/
... and it's down. :(

[2016-04-26 20:38] SpanishCat commented on #451
Is it possible to b changed? If so, then how?

[2016-04-26 20:39] MaxXor commented on #451
Sure, but we'll need to find a new service for providing the information.
Here are the lines of code which need to be changed then: https://github.com/quasar/QuasarRAT/blob/master/Client/Core/Helper/GeoLocationHelper.cs#L121

[2016-04-26 20:43] SpanishCat commented on #451
I found these websites:

https://www.iplocation.net/

http://www.ipfingerprints.com/

http://www.ip-tracker.org/

Are these good?

[2016-04-28 12:16] Rottweiler commented on #440
Are tasks available in XP and below? Try experimenting with tasks, I think there are some solutions to this problem here http://stackoverflow.com/questions/5427673/how-to-run-a-program-automatically-as-admin-on-windows-startup

[2016-05-03 17:42] JhonnyU opened #452 "Client Builder Exception on Windows XP SP3"
Hey everyone, what's up?! I'm having trouble creating the server in windows xp SP3.. This screen appears. What should I do?!

![dibujo](https://cloud.githubusercontent.com/assets/19156286/14992588/0fccf188-113d-11e6-97db-fa32c57ccf2c.JPG)

Regarding webcam support, will the function to see the infected's computer webcam be included??

I look foward to hearing from you.
Thank you

[2016-05-03 17:44] MaxXor commented on #452
Please extract all files from the zip file or when you build in release mode, be sure to keep the client.bin file in your quasar folder.

Webcam support will be included soon.

[2016-05-04 03:26] JhonnyU commented on #452
Thank you so much!

[2016-05-04 12:16] #452 closed

[2016-05-05 11:22] hakonamatata opened #453 "Form not showing correctly"
When I open, run or compile the program it always looks like this:

![Image of Yaktocat](http://i.imgur.com/LudCkbc.png)

The forms are not shown correctly.

[2016-05-05 11:37] MaxXor commented on #453
What resolution does your monitor have? And do you use DPI scaling?

[2016-05-06 17:36] hakonamatata commented on #453
I have a large 4k display, 3840 x 2160 resolution. In Control Panel\Appearance and Personalisation\Display\ The scaling level is set to 150% by default.

[2016-05-06 19:18] MaxXor commented on #453
Okay, guessed it. Can you try removing line 23-27 from [this file](https://github.com/quasar/QuasarRAT/blob/master/Server/app.manifest), recompile it and tell me if it worked?

[2016-05-06 23:21] JhonnyU opened #454 "Crypter?"
Hey there! I'm opening this new issue in order to check if there is any crypter that works with the clients built by this great rat! I've tried Aegis (free version) but doesn't work.. Does anyone know?

Thank you, once again!

[2016-05-07 10:06] hakonamatata commented on #453
Yeah, that worked! Thanks!

It also works with:
` <dpiAware>false</dpiAware>`

I am not familiar with this setting, why was it used?

[2016-05-07 18:20] MaxXor commented on #454
Shit crypter if it doesn't work. I don't tolerate discussion of this things here.

[2016-05-07 18:20] #454 closed

[2016-05-07 18:23] #423 closed

[2016-05-07 18:24] MaxXor commented on #453
It was a suggested fix for issue #423, but it was only for the Client and I accidently added it for the Server too.

[2016-05-07 18:24] #453 closed

[2016-05-07 19:41] Jaakus commented on #451
The site is up now.

[2016-05-07 20:18] guilobo opened #455 "How do i change the client tag"
i want to change the cliente tag after installed on cliente, how do i do this?

tks for this software i am using to monitor my computer in my company (i am the owner)

[2016-05-07 20:41] MaxXor commented on #451
@Jaakus Thanks, good news!

[2016-05-07 20:42] MaxXor commented on #455
This is currently not supported, you'll need to rebuild the client with a new client tag and then click on

[2016-05-09 19:58] guilobo opened #456 "Access MTP"
I wold like to suggest implement a way to access the MTP devices like cameras or cellphones connected on the computer. i think it wold be useful.

tks

[2016-05-09 20:31] MaxXor commented on #456
Duplicate of #374.

[2016-05-09 20:31] #456 closed

[2016-05-10 00:01] #455 closed

[2016-05-12 05:55] reymarbc opened #457 "try to portforward using UPnP(Enabled) - BUG"
Settings -> try to portforward using UPnP (Enabled) -> Start listening to port -> save.

program hangs after exiting it.
but not actually terminating, it just remains running in the screen.

[2016-05-12 15:13] lixiaoyan commented on #446
<https://github.com/quasar/QuasarRAT/blob/master/Server/Core/Utilities/FrameCounter.cs#L53-L58>

[2016-05-13 22:24] Technoturnovers opened #458 "Support for graphical terminal applications"
When I try to run a graphical terminal application, the remote shell freezes.
Example:
![screenshot from 2016-05-13 18-14-00](https://cloud.githubusercontent.com/assets/19103643/15263296/c3694b8c-1936-11e6-90b0-2cdbcc485593.png)
In addition, programs with colors and special characters such as cmder do not display properly.
Normal:
![screenshot from 2016-05-13 18-18-15](https://cloud.githubusercont

[2016-05-14 15:55] bitterypaul commented on #412
Can i take care of this?

[2016-05-14 17:05] bitterypaul commented on #412
`

        private void FrmBuilder_FormClosing(object sender, FormClosingEventArgs e)
        {
            if (_changed)
            {

                var profile = new BuilderProfile("Default");

                if(!(profile.Tag == txtTag.Text  &&  profile.Hosts == HostHelper.GetRawHosts(_hosts)  &&  profile.Password == txtPassword.Text  &&  profile.Delay == (int)numericUpDownDelay.Value  &&  p

[2016-05-16 20:24] MaxXor commented on #457
Hm, I can't really reproduce this issue. Can you tell me the exact steps to reproduce this behaviour on your PC. Could you please describe it with a fresh installation and default settings?

Thanks!

[2016-05-16 20:24] #451 closed

[2016-05-16 20:29] MaxXor commented on #446
Hm, I can't see why this line should cause a memory leak.

[2016-05-16 20:30] #444 closed

[2016-05-18 02:17] yankejustin commented on #446
Last I checked, I believe that remote desktop still leaks a little bit. But I do not think the leak is from that line of code. I do not see how it would.

[2016-05-18 02:19] yankejustin commented on #412
Sorry, I no longer have the time for contributions to Quasar these days. You certainly can add this. :smiley:

[2016-05-18 02:21] yankejustin commented on #412
The thing about your change is that, yes there is a better way to do it. But the code you showed follows a pretty good code standard and it works 100% of the time. So in my opinion that is perfectly acceptable code and should be added now. :+1:
If anyone wants to make a better system for it, then by all means they can optimize it later!

[2016-05-19 04:17] reymarbc commented on #457
*Open Quasar Server
*Settings
*Try to portforward using UPnP(Enabled/Checked/Ticked)
*Start listening to any port
*Save
*Exit Quasar Server
*Bug

[2016-05-19 14:58] MaxXor commented on #457
For me it's not freezing when I follow your steps. Are you sure your router has UPnP support enabled?

[2016-05-20 07:07] reymarbc commented on #457
Maybe its my router issue,  I already enabled the UPnP feature in my router.

[2016-05-20 10:20] Netskyes opened #459 "Buffer overflow when receiving multiple packets of 1-3 bytes"
Hi, so the issue occurs when client is processing packets and the readableDataLen is less than HEADER_SIZE, then it resets readableDataLen to 0 and gets ready to process new packet.

If the new packet size is also less than HEADER_SIZE, it will keep writing to _tempHeader and eventually (in case where a few packets size is less than HEADER_SIZE) cause buffer overflow.

[2016-05-20 11:33] MaxXor commented on #459
This usually doesn't happen often in normal program operation. But I'll take a look into it to fix it.

[2016-05-20 11:52] Netskyes commented on #459
I agree, but it still can happen so thought to let you know :)

[2016-05-21 19:41] its0x08 commented on #388
My native one is albanian,,
Who's fmailiar with it?! :P

[2016-05-24 16:22] Pandry commented on #440
Maybe this would work:
http://www.sevenforums.com/tutorials/11949-elevated-program-shortcut-without-uac-prompt-create.html
:D

[2016-05-26 15:53] Mambabosso opened #461 "Enhanced Taskmanager"
Two more tabs on the taskmanager tabcontrol with:

-services with name, pid, description and be able to stop
-installed software products

i think this will be a good enhancement :D

[2016-05-27 20:43] DragonzMaster commented on #461
These may help :
http://stackoverflow.com/questions/24909108/get-installed-software-list-using-c-sharp
http://stackoverflow.com/questions/15524161/c-how-to-get-installing-programs-exactly-like-in-control-panel-programs-and-fe

*alse we can use **UninstallString** to try to uninstall program

[2016-05-31 18:56] alete89 commented on #366
This feature is determinant when deciding to use or not this RAT. The fact that the client needs server critical information such as IP, ie. scares me (unless I'm misunderstanding something).

[2016-06-03 15:49] ngbatnicdotmil commented on #411
maybe a schedule would be better?

[2016-06-04 20:37] corefx opened #462 "Option for hiding Install Subfolder"
In the builder we could have a checkbox for setting "Install Subfolder" folder attribute to hidden. Currently it's only possible to hide the client binary.

[2016-06-07 20:46] yankejustin commented on #366
@alete89 No clue why it would scare you unless you are using it for the wrong reasons. :tongue:

[2016-06-10 09:28] GoltikRee opened #463 "AeroListView"
There's a reference to xServer.Controls.AeroListView in FrmMain.Designer.cs (line 73), but this class does not exist

[2016-06-10 17:20] MaxXor commented on #463
https://github.com/quasar/QuasarRAT/blob/master/Server/Controls/ListViewEx.cs

[2016-06-10 17:20] #463 closed

[2016-06-18 17:05] MaxXor opened #466 "Enhanced cryptography"
Cryptography Todo (see discussion here: #450):
- Increase PBKDF2 iterations
- Add packet counter (fix replay-attack)
- Store derived passwords in client instead of real password
- Change AES-128 to AES-256

[2016-06-18 19:52] TheNain38 commented on #466
You could use [task lists](https://guides.github.com/features/mastering-markdown/) to keep track of what's done, and what's not.
Also, the 3rd one should be: "Store derived **keys** in client instead of password"

[2016-06-18 20:10] meltingice1337 opened #468 "Remote Chat"
Should i try and implement a remote chat for quasar ?

[2016-06-18 22:06] MaxXor commented on #466
Thanks, done.

[2016-06-18 22:06] #424 closed

[2016-06-18 22:07] MaxXor commented on #271
This has been added in #464.

[2016-06-18 22:07] #271 closed

[2016-06-18 22:08] MaxXor commented on #468
Duplicate of #351. But to answer your question: Feel free to add it.

[2016-06-18 22:08] #468 closed

[2016-06-24 08:02] omerbadawy11 opened #470 "Quasar isnt listening correctly."
I have my port 2008 forwarded and UPnP on, when i make a rat on localhost:2008 it works fine, But when i make it on my own IP or a DNS it doesn't work. i tried can you see me and it says "could not see your service",Any help ? Thanks.

[2016-06-24 08:46] GoltikRee commented on #466
It would be better to perform double HMAC verification istead of simple
More info: https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2011/february/double-hmac-verification/

[2016-06-24 11:26] TheNain38 commented on #466
@GoltikRee To have a secure HMAC comparison, either you do a constant-time one, which is already [done](https://github.com/quasar/QuasarRAT/commit/eef7d258c24cdb7cdf5219fbf074031fdc6dd335).
Or, you can do what you said here, that is, compare something that the attacker doesn't know, so, do a HMAC of the HMAC, and compare that.
So, here it's already safe, because optimisations are disabled for this

[2016-06-24 23:07] GodsVictory opened #471 "Screensaver causes Unresponsive Remote Desktops"
It seems that when the screensaver starts, remote desktop can no longer "wake" the remote computer. Only a black screen is shown. This is on Windows 10.

[2016-06-25 10:29] MaxXor commented on #470
Check if your router has UPnP enabled or open the port manually. Quasar is listening correctly.

[2016-06-25 10:29] #470 closed

[2016-06-25 10:44] omerbadawy11 commented on #470
Rude.. Actually the problem was cause of firewall it was blocking quasar..  You closed the the issue without even bothering to ask if your solution worked.

[2016-06-25 10:47] MaxXor commented on #470
Sorry, if it sounded rude. I'm glad you found the problem.

[2016-06-26 18:09] #459 closed

[2016-06-26 18:13] #457 closed

[2016-06-26 18:16] #446 closed

[2016-06-26 18:26] #462 closed

[2016-06-29 08:21] zero77 opened #472 "Tor Support"
Can you add Tor support so all traffic that is sent between the bots and C&C is sent through Tor.

[2016-06-29 18:10] Mambabosso opened #473 "[BUG] MessageBox does not show correct"
In the preview version its ok
But on remote PC not (icon + Style).

[2016-07-01 14:25] ViRb3 opened #474 "Cut out UI on high DPI display Win10"
![Image](https://i.imgur.com/UGmq6dF.png)

This is the case everywhere in Quasar RAT.
125% scaling, disabling DPI scaling via Compatibility tab has no effect.

[2016-07-01 20:05] dmgamingstudios commented on #440
What did work for me was adding it to windows services in the registry, not to the default, do note that at the time I tested it windows actually thought it was a critical service, so when the program was exited or crashed, the whole system crashes with a nice bsod: critical process died

I think this is where you need to add it: LocalMachine\\Software\\Microsoft\\Windows\\CurrentVersion\\Policies

[2016-07-02 19:54] anenemous opened #475 "Product Number"
It's forced to write the version like this 1.2.3.0

[2016-07-02 22:14] #473 closed

[2016-07-02 22:15] MaxXor commented on #473
Thanks for report, nobody seen this since version 1.0.0.0.^^ Was a small copy&paste mistake.

[2016-07-02 22:19] MaxXor commented on #475
Yes that's wanted for the product & file version.

[2016-07-03 05:50] caesay commented on #474
I'm on windows 10 at the latest source with a high DPI display and can't reproduce this issue. Fixed?

[2016-07-03 09:06] MaxXor commented on #474
@caesay I didn't change anything yet. Strange. Do you use Quasar from the latest commit?
@ViRb3 Do you use Quasar from the latest commit?

[2016-07-03 09:11] caesay commented on #474
@MaxXor Yeah, I just cloned it. I'm on 630f791. I've dealt with a lot of DPI issues in my projects and I thought this issue looked strange. On high DPI usually the application is either tiny because its not scaled at all, or blurry because the application was not DPI aware and windows does a raster scaling on it - I've never seen the window stay small and the content get bigger. It could be a font

[2016-07-03 09:15] MaxXor commented on #474
@caesay So how does it look on your screen? Can you do a screenshot if possible? Is it tiny or blurry?

[2016-07-03 09:27] caesay commented on #474
@MaxXor You've correctly left out the dpi awareness tag from the manifest, so its currently being scaled by windows. It doesn't look bad, though. Unless you're looking at it on a 4K screen you probably won't be overly bothered by the windows scaling / blurriness.

Personally I don't think that this is the type of application that needs crisp visuals, and in the case that it is I would *definitely*

[2016-07-03 15:28] ViRb3 commented on #474
Yes, indeed, I am using Windows 8 DPI scaling instead of Windows 10 since many of my programs don't support it and get blurred. Any chance to support both scaling methods?

[2016-07-05 12:19] GoltikRee commented on #445
I think that HTTP(S?) API will be very useful. For example, it will be possible to create not only a mobile app, but also a web client, etc.

[2016-07-05 19:45] Mambabosso opened #476 "[BUG] Remote Shell"
-type in a command in remote shell for example "dir /a /s"
-close remote shell while processing this command
-other features like filemanager, ... won't work until this process has ended

-command "exit" may not work correct ?

[2016-07-06 21:39] #475 closed

[2016-07-07 08:37] hackereg35 opened #477 "Compile client for windows xp (.net framework 2.0)"
when i change the Target framework to ".NET framework 2.0"
the compiler get about 91 error most of them is
`The type or namespace name 'Linq' does not exist in the namespace 'System' (are you missing an assembly reference?)`
is there is anyway to do that

[2016-07-07 08:39] MaxXor commented on #477
Compiling for other frameworks than 4.0 is not supported. You can fully replace all instructions from the Linq namespace manually by foreach loops.

[2016-07-07 08:41] hackereg35 commented on #477
ok i can do that, but i dont know how to resolve this error
`Cannot define a new extension method because the compiler required type 'System.Runtime.CompilerServices.ExtensionAttribute`
in
`private static bool IsNameOrValueNull(this string keyName, RegistryKey key)`

[2016-07-07 08:45] MaxXor commented on #477
.NET 2.0 doesn't support extension methods. You'll need to replace them all with static helper methods. Anyways I don't give support for downgrading Quasar to an outdated framework version.
~Closed

[2016-07-07 08:45] #477 closed

[2016-07-07 10:28] hackereg35 opened #478 "[suggestion] add process protection"
how about adding a process protection, because the client can be killed from the Task Manager,
but in "NJrat" if the user tried to kill the process he gets a bluescreen

[2016-07-07 11:24] MaxXor commented on #478
Duplicate of https://github.com/quasar/QuasarRAT/issues/388

[2016-07-07 11:24] #478 closed

[2016-07-07 21:15] MaxXor commented on #466
@GoltikRee @TheNain38 Timing attacks are fixed due to this attribute:
https://github.com/quasar/QuasarRAT/blob/master/Server/Core/Helper/CryptographyHelper.cs#L17
Even for the .NET JIT compiler, see here: https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.methodimploptions(v=vs.110).aspx

[2016-07-11 00:47] alphahacker3 opened #479 "Remote Webcam too slow"
Remote Webcam this very slow this taking pictures and sending to the very slow server. And also do not have to adjust the quality.

[2016-07-12 18:57] hackereg35 opened #480 "lighter client"
it would be nice to have a lighter (Size) client maybe something like a client with only file manager and the user can upload the full client after connection

[2016-07-13 18:36] yankejustin commented on #480
While I do think it is interesting to be able to pick and choose features (as would be possible with a good plugin system), the client is pretty small in size already. I am just a bit lost on how it would be useful to have to upload the rest of the client later.

[2016-07-14 17:39] #471 closed

[2016-07-16 09:38] anonymousssssssss opened #482 "Wrong Country Detection"
![](http://i.imgur.com/KZkZyyq.png)

[2016-07-16 19:14] MaxXor commented on #482
This is out of my range as I use the API provided by https://freegeoip.net/

[2016-07-16 20:02] anonymousssssssss opened #483 "FileZilla Passwords are in Base64"
![image](https://cloud.githubusercontent.com/assets/20488468/16896877/eb83e770-4ba0-11e6-95d7-8366c474da6b.png)

[2016-07-16 20:49] anonymousssssssss commented on #482
It seems that there is a bug in your code.
When I go to https://freegeoip.net/xml/<IP> i get a valid response including a (the correct) country code.
In QR it doesn't work.
I would suggest using another API like http://ip-api.com which also supports the ISP.

Keep up the good work.

[2016-07-17 11:40] hackereg35 commented on #480
it will be nice because now i don't have to send my 200kb client but something like 35kb client and maybe the server will upload the 200kb server automatically

[2016-07-17 11:51] TheNain38 commented on #466
@MaxXor Right... i forgot that

[2016-07-17 15:23] #483 closed

[2016-07-19 09:39] twoeo opened #487 "Support voice monitoring?"
as title said ...

want remote monitoring voice, already supported?

[2016-07-20 14:45] yankejustin commented on #480
I suppose. But 200kb is still very very small.

[2016-07-21 18:03] MaxXor commented on #487
Currently it's not supported. But it's on the to-do list. See here: https://github.com/quasar/QuasarRAT/issues/135

[2016-07-21 18:03] #487 closed

[2016-07-21 22:54] h1z1xx opened #488 "Change webcam quality"
I can changue the default quality (webcam) from source?

[2016-07-22 08:42] MaxXor commented on #488
This is not yet implemented.

[2016-07-22 08:42] #479 closed

[2016-07-23 08:10] hackereg35 commented on #480
yes its small but not as small as the other rats

[2016-07-25 03:36] 1135 opened #490 "Dotfuscator cannot deal with client.exe...How to achieve AntivirusBypass？"
--snip--

[2016-07-25 06:35] #490 closed

[2016-07-25 22:03] msfoxWH opened #491 "Build client cant build a client because there is no Client.bin in the directory :/"

[2016-07-26 09:06] hackereg35 opened #492 "Live keylogger"
it would be nice to have a "Live keylogger" so we don't have to re download the log file every time

[2016-07-26 09:47] hackereg35 opened #493 ""Password Recovery" not working with facebook"
the "Password Recovery" tool don't give the password of facebook accounts only email

[2016-07-26 10:33] #493 closed

[2016-07-26 10:33] MaxXor commented on #493
#416 #326

[2016-07-26 10:34] MaxXor commented on #491
#452

[2016-07-26 10:34] #491 closed

[2016-07-26 18:45] d3agle commented on #488
#495

[2016-07-26 19:28] MaxXor commented on #482
You say, you get a valid response from freegeoip.net. Can you send me it (& anonymize ip). Important is only the country code.

[2016-07-29 16:59] anonymousssssssss commented on #482
Here it is, I found it in my history.
I'm not sure this is going to help though.
![image](https://cloud.githubusercontent.com/assets/20488468/17256482/f70c36c0-55bd-11e6-8ca5-88d3410cd759.png)

[2016-07-29 17:00] anonymousssssssss commented on #482
There is definitely a bug somewhere, because the last day I had a client with the same IP once from `Sweden`, and a few hours later he was from the `US`.

[2016-07-29 18:57] d3agle commented on #433
Is this desired?  I have a working implementation and example: https://i.gyazo.com/cfb384de0ee7c937e03fd5390d07370b.mp4

[2016-07-29 19:07] LostSoulFly commented on #433
Indeed it is!

[2016-07-29 22:08] Abdullah2993 commented on #480
I only see this happening with a good plugin system, which as of right now quasar is lacking

[2016-08-01 15:25] #488 closed

[2016-08-01 23:30] #482 closed

[2016-08-02 02:09] TrintionBruh opened #497 "No new connections when running client on different PC's"
I can't see any new connections when running the RAT client on different PC's. Once I was done building it, I took the client and put it onto another computer in my home and when I ran it, there wasn't any connection on my other computer which was running the rat program itself. I get connection refused on port 4782 even though I portforwarded and I allowed it through my firewall, with the program

[2016-08-02 08:04] MaxXor commented on #497
It's definitely your firewall what's blocking Quasar. Please open the port 4782 TCP in Windows Firewall and your router to. Configure your router to forward port 4782 to your local computer to the same port.

[2016-08-02 08:39] TrintionBruh commented on #497
Ok also, in my ipv6 firewall settings in my router, should I click enable incoming traffic at the bottom?
https://gyazo.com/9c3d5ea20773debe9a72308223cb8de6

[2016-08-02 08:45] TrintionBruh commented on #497
I also get this in my routers firewall settings https://gyazo.com/25d9b619694ea19af130f4881c63034e

[2016-08-02 09:12] TrintionBruh commented on #497
I just tried everything and it didn't work for me. Still no new connections when I try to add the no-ip to the host in the builder. https://gyazo.com/726341ecc6d7fa10e82f22af6bd532af also says connection refused again and it says everywhere the port is still closed. https://gyazo.com/1eb5b5ebf5b404ccd7970d5cc17b268a

[2016-08-02 09:13] TrintionBruh commented on #497
it just started saying the port is successfully going but I still also get the request timed out in CMD https://gyazo.com/8ee9bf477ab8d2b61453a7fef8abe96e

[2016-08-02 09:21] TrintionBruh commented on #497
Not exactly sure what I'm doing wrong. https://gyazo.com/6699d9cf80ee5c01b7df99d399525ee4 here's a screenshot of everything. Port is forwarded, port is allowed through firewall and it is also showing that it's being used when I'm listening. But I still get the request timed out.

[2016-08-02 10:43] MaxXor commented on #497
Try it out to see if it's working, it doesn't matter if your IP is reachable via ICMP (ping). It should work now.

[2016-08-02 10:56] TrintionBruh commented on #497
Alright it works, I had to get a friend to test it out by using his own network/IP and it worked.

[2016-08-02 10:56] TrintionBruh commented on #497
Thank you.

[2016-08-02 10:57] TrintionBruh commented on #497
Am I able to use control PC's on my own network though? Like if I infected another machine on my wifi will I be able to control it from my main machine with the program on it?

[2016-08-02 11:05] MaxXor commented on #497
Of course you can use Quasar only in your local area network. Internet connection is not needed for it to work. For example if your server is running on the LAN IP 192.168.172.2 then just build a client which connects to the server IP and then install it on every computer in your LAN. Your dynamic dns is not needed for it to work on LAN.

[2016-08-02 11:07] TrintionBruh commented on #497
Alright thank you for your help, Appreciate it. I've gotten my problems answered.

[2016-08-02 11:07] MaxXor commented on #497
No problem! Thanks for using Quasar. :)

[2016-08-02 11:07] #497 closed

[2016-08-03 16:08] Divine7 commented on #480
Ability to choose between sending a full client or just certain classes like downloader.cs, which downloads the other classes such as file manager.cs; remote desktop.cs and etc. when a connection is fully established. Once downloaded it then installs the rest of the required ones or something similar like that. Would require some kind of a plugin manager as previously mentioned above. Which compil

[2016-08-03 18:11] Abdullah2993 opened #499 "License Consideration"
Consider using a more Open License like MIT, Apache or BSD

[2016-08-04 04:15] 1135 opened #500 "Geolocation via ip-api.com not available in China"

[2016-08-04 04:16] 1135 commented on #500
because the GFW ,the website http://ip-api.com could not be visited in China.

[2016-08-08 17:15] mshafiqsb opened #501 "Working Flowchart"
Is there any guide line in flowchart form. if this is available then new  one will not invent the wheel.

[2016-08-09 03:26] Abdullah2993 commented on #501
as of right now there aren't any but the process is quite straight forward. Create Packets for server/client (Follow the naming convention). Register the packets in PacketRegistry, create the respective packet/command handler and add the required `if` statement in `PacketHandler` and that is about it. If you observe the code you will see a consistency regarding the naming and other stuff just try

[2016-08-09 06:25] Abdullah2993 opened #502 "Reason for sending Redundent packets for stream operations?"

[2016-08-09 08:46] MaxXor commented on #502
The reason was that the server will receive the frames too fast and does not come afterwards with updating the remote desktop/webcam window. This is a limitation due to the win32 message loop as this processes currently the redrawing of the frames in the window. One way to fix this is draw the frames with the gpu via directx/opengl.

[2016-08-09 08:49] MaxXor commented on #500
What about the fallback?
https://github.com/quasar/QuasarRAT/blob/master/Client/Core/Helper/GeoLocationHelper.cs#L115

[2016-08-09 08:52] MaxXor commented on #499
Ehm, I'm not sure about this. But can you explain the benefits of changing the license? I like the part of the current license that everyone who publishes a modified version of Quasar has to provide the source code with it too.

[2016-08-09 08:54] MaxXor commented on #501
Currently it exists no official flowchart which you can follow to add new features, best thing you can do is to look at the already implemented features and see how they are implemented and where things are referenced and used. @Abdullah2993 described the progress pretty well, thanks.

[2016-08-09 12:00] dummy0stud opened #503 "Any chance creating a C++ client?"
It is very boring to install .net, consider creating a C++ client!

[2016-08-09 13:25] yankejustin commented on #503
Besides the huge pain that would come with converting to C++, there are run-time components that would have to be installed for C++ regardless, so no. I very seriously doubt there is a chance of it. If someone was willing to convert it to C++, that would be neat to see though.

[2016-08-09 14:03] MaxXor commented on #503
We use many C# libraries in Quasar, for example Mono or NetSerializer. When converting the client to C++ we need to find replacements for these libraries or redo them from scratch. As @yankejustin said, this is very unlikely someone will actually do this. I'm not going to do it.

[2016-08-09 14:03] #503 closed

[2016-08-09 22:41] d3agle commented on #502
This post seems to be very informative with tips regarding this issue: http://stackoverflow.com/a/11025428

It would be really nice to have some sort of surface that is rendered utilizing GPU capabilities, so the packets wouldn't have to be throttled in this case

[2016-08-10 20:44] mehmetgoksu commented on #440
how you fix it ,ı look the code but ı cant see can you explain maxxor ?

[2016-08-11 13:21] #440 closed

[2016-08-11 13:28] MaxXor commented on #440
When executed with administrator privileges, Quasar now creates a scheduled task (which is executed on user logon) to acquire administrator privileges after reboot/logout. At the moment Quasar is being installed as "per-user", this means when the user with installed Quasar is not logged in, the remote control functionality is not accessible. I'll soon start adding support for installing Quasar as

[2016-08-11 18:13] d3agle opened #504 "System Information - Incorrect LAN IP"
When requesting system information, the LAN IP can be incorrect.  In my case, the installed VMware adapters are considered the LAN IP rather than the active adapter.

[2016-08-11 19:36] MaxXor commented on #504
I know, currently the client selects the first local IP it can find. It can easily be changed to list all found local IPs.

[2016-08-11 19:38] #504 closed

[2016-08-12 17:46] #474 closed

[2016-08-12 17:55] MaxXor commented on #474
Thanks for all your input @ViRb3 and @caesay! :+1:  I think it's fixed now to be correctly DPI aware, I've tested it in VM with DPI set to 125%.
Can you confirm it's working correctly with the latest commit https://github.com/quasar/QuasarRAT/commit/0d3a3e427d166d7f659858613705d725ec349b0e?

[2016-08-12 19:33] #407 closed

[2016-08-12 20:46] mehmetgoksu commented on #440
thank you for answer

[2016-08-13 00:56] zarthken opened #507 "Spread via usb"
i think add spread via usb and lan option in rat.

[2016-08-13 08:12] #507 closed

[2016-08-13 08:26] 1135 commented on #500
@MaxXor   I'm sorry, I don't understand.
In fact if a website is blocked by GFW, can only send request but cannot got the response.

Is there a help?
https://en.wikipedia.org/wiki/Great_Firewall

ps:  I'm in China. I was able to access Facebook and Wikipedia, because I used the VPN.

[2016-08-14 02:04] Korons opened #508 ""Cannot find client.bin""
When run with mono 4.4.2.11 on linux (Ubuntu 16.04) the builder errors out with "Cannot find client.bin".

[2016-08-14 07:24] MaxXor commented on #508
Please extract all files from the zip if you are using a release from [here](https://github.com/quasar/QuasarRAT/releases).

[2016-08-14 16:07] Korons commented on #508
@MaxXor I built it from source. It seems that `if (!File.Exists("client.bin"))` in 'Forms/FrmBuilder.cs' is returning true no matter if the file exists or not.

[2016-08-14 17:38] MaxXor commented on #508
Can you check if the file exists on your system after building it in `release` configuration? `File.Exists` returns also false when you got no permission to access the file.

[2016-08-14 18:52] MaxXor commented on #508
Can you try opening terminal inside the directory and then execute the Server by `mono Quasar.exe`?

[2016-08-14 19:04] Korons commented on #508
@MaxXor If I launch it with `mono Quasar.exe` it seems to work fine and can build the client, but if I right click and select `open with mono` it fails. I have no idea what's causing this but it's safe to say it isn't a bug in Quasar

[2016-08-14 19:06] MaxXor commented on #508
The cause for this is that for the building process the working directory needs to be the Quasar directory. I think when you select to open it with mono, it uses a different directory.

[2016-08-14 19:08] #508 closed

[2016-08-15 06:39] d3agle commented on #410
This is the error message translates to "Windows cannot find ... make sure you type the name correctly, and then try again."

It's likely a registry error and not related to this program (corruption, invalid path, reference to an orphaned entry).

[2016-08-16 09:19] Abdullah2993 commented on #499
Well GPLv3 was nice at early stages to build a community around quasar but now the community is built. Now its time for a more open license which allows users to modify it privately for their use cases. MIT is the way to go.

[2016-08-18 09:37] zarthken opened #510 "New Connection Type"
no-ip not working on some countries. please add php connection support.

[2016-08-18 13:11] MaxXor commented on #410
I can't reproduce this with the username "Колмогоров". Autostart is also working fine.
[Screenshot](https://i.imgur.com/7WuE5PK.png)

[2016-08-18 13:11] #410 closed

[2016-08-18 14:31] MaxXor commented on #510
What do you mean by php connection support?

[2016-08-18 22:34] d3agle commented on #410
I haven't got around to testing the latest commits, but there are likely more bugs in this area.

When I tested a few days ago, I used a username with Russian characters, as well as a Russian internal display language.  When I tried using the password recovery, the client process crashed.  Something with the nss3.dll module.  I won't have time to test this until sometime tomorrow, but I wanted to

[2016-08-19 06:05] zarthken commented on #510
Example;

[](https://youtu.be/NH1SuxNb4kw)

[](https://github.com/alienwithin/xanity-php-rat)

[2016-08-19 06:40] zarthken commented on #510
and i suggest you add this feature;

- hidden (invisible) startup, process, connection
- network control (wifi, lan)
- delete other rat on target system
- network stresser

(sorry for my bad english)

thanks.

[2016-08-19 07:24] BlackEyes250 commented on #510
yeah network control would be fine!

[2016-08-19 07:49] MaxXor commented on #410
Lol, yea but the password recovery takes more time to fix. It's okay for now as the client process does restart after crashing.

[2016-08-20 04:09] mvrozanti commented on #501
I'm sorry if this is too noobish of a question but, how would audio-streaming (like the target machine's speakers or microphone) fit in this workflow described by @Abdullah2993 ? Would I need "SoundPackets"?

[2016-08-20 08:53] hanbim520 commented on #500
recommend http://www.ip138.com/ in Mainland China ，中国大陆基本采用这个就可以了。长城防火墙阻挡了很多网站。最好判断下当前的时区位于哪个国家，也可以判断操作系统的语言。然后选择查询IP地址的网站。Translate these words with Google

[2016-08-20 09:03] MaxXor commented on #501
You would need ServerPackets to request the start/end of audio-stream and ClientPackets to send the audio data to the Server.

[2016-08-21 03:28] rorymercury opened #511 "stress servers function"
it would be nice (if you want and find it usefull) to add stress server function to quasar, methods like udp flood, http get, http post, etc.

[2016-08-23 13:19] kernelzr opened #512 "Record Frames in Remote Desktop and Remote Webcam"
This RAT is fantastic, without too many unnecessary functions, thanks for sharing.

You should implement an option to save the frames obtained as image, these features is very important a RAT.

[2016-08-23 14:50] GodsVictory opened #513 "Remote Desktop Invisible Windows"
I cam across a bug while scanning a client for viruses using panda cloud cleaner. The scanner window was completely invisible to me. After enabling desktop composition, the window would appear. Disabling composition caused it to disappear again.

[2016-08-23 15:41] MaxXor commented on #511
DDoS functions will not be added.

[2016-08-23 15:41] #511 closed

[2016-08-23 16:56] mshafiqsb commented on #512
I have done this , how i upload it?

[2016-08-23 17:00] MaxXor commented on #512
@mshafiqsb See here: https://github.com/quasar/QuasarRAT/blob/master/CONTRIBUTING.md

[2016-08-23 18:12] mshafiqsb commented on #512
i did

[2016-08-23 19:07] MaxXor commented on #512
@mshafiqsb No, that's wrong. You completely replaced the files. Please only commit the changes and then create a pull request.

[2016-08-23 20:59] mshafiqsb commented on #512
i did it again, now check the pull request.
i replace the files because, there are some design changes, i remove panel, create menu bar and place all control there. In this way i save space and give a better/standard look.

[2016-08-24 04:52] Abdullah2993 commented on #501
@mvrozanti i have a working version of remote mic..let me push it to my git

[2016-08-24 12:46] mvrozanti commented on #501
@Abdullaah2993 oh man thanks I'm having trouble after registering the packets, the client stops working.

[2016-08-24 20:41] dummy0stud opened #516 "Client without .net"
Looking at loaded modules at process explorer it is possible to see all dlls loaded by client.exe, if we take these loaded dlls and put in the same directory of client.exe in other machine without .net will it work?
There is any way to make client.exe working without the whole .net4.0?

[2016-08-24 20:43] kernelzr opened #517 "File Manager in MTP and PTP devices"
Is it possible to implement this functionality to explore the files in others devices as photographic camera and smartphones? It would be a great function :)

[2016-08-24 21:09] MaxXor commented on #517
It's on the todo list, an issue already exists here #374.

[2016-08-24 21:09] #517 closed

[2016-08-24 21:41] UbbeLoL commented on #516
I'm working on a c++ quasar client that will work on systems without .NET installed and also operating systems other than Windows. No promises though.

https://github.com/UbbeLoL/Native-QuasarClient

[2016-08-24 22:13] mvrozanti commented on #516
What I've been doing is to create a standalone with the bytes of the client + .NET 4.0 Client Profile installation wizard. By running it with "/q /norestart" it is invisible and at the same time won't restart the target machine. If the machine has .NET installed the standalone just executes the client.

[2016-08-24 22:18] mvrozanti commented on #480
Maybe in the Builder user could be able to choose what features to include (along with the space expense that one would take)

[2016-08-25 05:30] dummy0stud commented on #516
@mvrozanti is your .NET 4.0 Client Profile installation wizard 40mb? can you provide some sample?

[2016-08-25 09:45] 54Pany opened #518 "Keylogger without Clipboard"
the keylogger can't get recording clipboard.

[2016-08-25 10:46] MaxXor commented on #480
The requirement for this to work is to make Quasar more modular (i.e. plugin system). It's planned, but no ETA yet.

[2016-08-25 14:28] mvrozanti commented on #516
Yes the 40 MB one. I can't upload at the moment but it's easy enough in Visual Studio. Create a project
Add the wizard by dragging it to the project in Project Explorer. Set in that object's properties to embed to application. This will pack the file you included to be inside the exe. You can then extract the file to the disc by calling Assembly.GetExecutingAssembly().GetManifestResourceStream("wi

[2016-08-25 14:38] dummy0stud commented on #516
@mvrozanti 40mb is too big I don't think I will do it but thank you, @MaxXor there is any way to port Client to .net 3.5?

[2016-08-25 14:46] mvrozanti commented on #516
If target machine has internet connection then you could download the client and then exec it. I think we cannot port it to 3.5 without ridding it of some functionalities. I understand the pain brother, win7 :x

[2016-08-25 15:16] dummy0stud commented on #516
@mvrozanti I changed project configs to .net 3.5 and did not get too much errors, I think I am going to port it to .net 3.5

[2016-08-25 15:45] yankejustin commented on #499
If I am thinking of the correct license, you should be able to modify the code and such as long as you do not distribute it commercially (for money), right? If so, I think that the current license is sufficient...

[2016-08-25 16:56] 54Pany commented on #516
@dummy0stud
.net 3.5 is 231.5M,so you changed the project configs to .net 3.5 is unusefulness

[2016-08-25 17:24] dummy0stud commented on #516
@54Pany but windows 7 ships with 3.5 so there is no need to download it, it looks like it is more complicated than I thought to port quasar to 3.5 if anyone can help me I thanks

[2016-08-25 18:06] mvrozanti commented on #516
If I understand correctly your problem is that you want to port to 3.5 _because_ of the incompatibility with Windows systems that do not have the 3.5 .NET framework am I right? If that's the case why don't you have your program download _and_ execute the Client Profile Installer of your choice? "Oh but what if the computer is not connected to the web or the download fails?" - then you could try an

[2016-08-25 18:21] dummy0stud commented on #516
@mvrozanti thank you I am going to think about your words

[2016-08-26 08:30] TadbirPaydar opened #519 "How to debug Client ?"
Hello.
I want to Debug client.
Please tell me how ?

[2016-08-26 08:31] MaxXor commented on #519
Build it with your [desired settings](https://github.com/quasar/QuasarRAT/blob/master/Client/Config/Settings.cs#L13) in debug configuration. If you want to debug it with installation enabled you have to attach the Visual Studio Debugger once it's installed and running.